[2021-12-20 22:23] alamb commented on #1072
I don't think we necessarily want to support non monotonic offsets -- but the string comparison kernel shouldn't be checking the values of array slots that are not valid (aka are null)

[2021-12-20 22:24] tustvold commented on #1071
Will not fix would be a perfectly valid outcome of this ticket :+1:

[2021-12-20 22:27] alamb commented on #1071
I agree the spec is somewhat vague in this respect: https://arrow.apache.org/docs/format/Columnar.html#variable-size-binary-layout

Perhaps I can ask on the dev mailing list for a clarification ...

[2021-12-21 00:28] b41sh commented on #1067
sorry, I have removed this file before the PR merge, we can close this issue.

[2021-12-21 05:21] jorgecarleitao commented on #1071
I think that in general the property we seek is: discarding the validity cannot result in UB when accessing the values. This justifies the values buffer of a primitive array is always initialized, and the offsets being valid and in-bounds even in null cases.

The rational for this is that sometimes it is faster to skip validity accesses and only iterate over the values (and clone the validity). I

[2021-12-21 06:52] liukun4515 commented on #1043
@alamb we need to speed up reviewing these two pull requests https://github.com/apache/arrow-rs/pull/1044 https://github.com/apache/arrow-rs/pull/1073, and they can be merged into the release of arrow-rs 6.5.
They will be used in the datafusion for comparison operation and mathematics operation for decimal type.

[2021-12-21 07:57] dbr opened #1075 "Upgrade pyo3 from 0.14 to 0.15"
There's a few things I'd like to use in the latest release of pyo3, but currently blocked by `pyo3` feature in `arrow` using 0.14, while latest version is currently 0.15.1

https://github.com/PyO3/pyo3/blob/main/CHANGELOG.md#0151---2021-11-19

[2021-12-21 11:43] #1067 closed

[2021-12-21 11:55] alamb commented on #1043
@liukun4515  I will do so today

[2021-12-21 12:00] alamb commented on #1036
I am not an expert in this code @novemberkilo  -- I think @nevi-me is currently focused on other things, so I am not sure he will have time to answer. Perhaps looking at the "blame" (or history) of the relevant code might lead to some others to ask?

I also think @tustvold  has been looking at this code recently

[2021-12-22 01:39] liukun4515 opened #1083 "Add into iter for decimal array"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In some cases https://github.com/apache/arrow-rs/pull/1073#discussion_r773211954 , we need iter the decimal array, but the method of the accessor is below
![image](https://user-images.githubusercontent.com/7450163/147020320-4ca45d61-93ba-4b6e-b423-83371ce0b28b.png)

We need to use the loop/for

[2021-12-22 08:21] Dandandan commented on #1069
I am working on this - was annoyed by this already. Using `escape` seems like a great solution.

[2021-12-22 12:04] alamb commented on #1071
I created https://github.com/apache/arrow/pull/12019 to explicitly mention this case in the docs -- and we can iterate from there perhaps

[2021-12-22 16:36] #1075 closed

[2021-12-22 17:46] alamb opened #1086 "implement `eq_dyn`, `neq_dyn`, `lt_dyn`, `lt_eq_dyn`, `gt_dyn`, `gt_eq_dyn` for timestamp types"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are tryng to use the new dynamic comparison kernels added in https://github.com/apache/arrow-rs/pull/858 / #843 by @Jimexist
 in DataFusion: https://github.com/apache/arrow-datafusion/pull/1475

It turns out that Datafusion also supports operations on the timestamp / time arrays as well so

[2021-12-22 17:49] alamb commented on #1086
I think this could be accomplished by implementing the appropriate types in `macro_rules! typed_compares {` in https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/comparison.rs#L1109

[2021-12-22 17:54] #1069 closed

[2021-12-22 17:56] alamb opened #1087 "Possible `like`/`ilike`/`not_like` kernels= escaping problems"
**Describe the bug**
@jwdeitch  noted on https://github.com/apache/arrow-rs/pull/1085#issuecomment-999627965 that there may be a problem with `regex` kernels:

**To Reproduce**
TO BE FILED

[2021-12-22 18:14] jwdeitch commented on #1087
Thanks for filing Andrew!

Here is a reproducer test case:

[code]

the
```... pat.replace("%", ".*") ... ```
areas might need to consider a leading `\` to know to _not_ make the `.*` replacement

[2021-12-22 18:24] Dandandan commented on #1087
I guess that's the same as
https://github.com/apache/arrow-rs/issues/415 ?

Do you think so as well?

[2021-12-22 18:43] jwdeitch commented on #1087
ah right on. thanks!! that's the same issue

[2021-12-22 18:43] jwdeitch commented on #1087
I'll try to submit a patch for this today

[2021-12-22 18:48] alamb commented on #1087
@Dandandan  sorry about the duplicate -- closing as dupe of #415

[2021-12-22 18:48] #1087 closed

[2021-12-22 18:48] alamb commented on #415
Another reproducer from @jwdeitch  on https://github.com/apache/arrow-rs/issues/1087

[code]

[2021-12-22 18:57] Dandandan commented on #1087
No worries, thanks for tracking the issue.

[2021-12-22 20:02] alamb opened #1091 "Ergonomic field and schema creation with Metadata"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

There are a few issues that make it annoying to work with Schema and Field metadata:
1. there is no way to create and set metadata on fields or schema in one statement; Instead a `mut Field` or `mut Schema` has to be created
2. There is no constructor for create a field with metadata (and thu

[2021-12-22 20:20] jorgecarleitao commented on #1091
In arrow2 we noticed the same problem.

The solution we took was to make all members of Schema public - there is no invariant betweem them, so there is nothing that users can break by accessing individual members.

[2021-12-23 11:26] alamb commented on #1091
@jorgecarleitao  I looked at the `Field` and `Schema` in arrow2. They also use the seemingly inconsistent `Option<BTreeMap<String, String>>` and `HashMap<String, String>`. Do you  remember if there is a reason for that inconsistency (both the `Option` and also the different `Map` structure)?

https://github.com/jorgecarleitao/arrow2/blob/main/src/datatypes/schema.rs#L30
https://github.com/jorgecar

[2021-12-23 11:47] jorgecarleitao commented on #1091
Oh, sorry, I skipped the 3rd item by mistake. I do not remember the reason. Had a quick look at the spec:

* IPC format: each metadata is an array of key pairs ([here](https://github.com/apache/arrow/blob/master/format/Schema.fbs#L481) and [here](https://github.com/apache/arrow/blob/master/format/Schema.fbs#L516)).
* C data interface: list of key pairs [here](https://arrow.apache.org/docs/format/C

[2021-12-24 20:05] houqp commented on #1065
It might be better to disallow arithmetic for this type because number of days in a month and number of nanos in a day is different depending on the reference point of time you are in. So there is no perfect way to handle it. Compute engines can choose their own tradeoffs and implement arithmetic and ordering downstream.

[2021-12-24 20:28] houqp commented on #1047
I support adding higher level easy to use API for non-performance critical code, but it would be good to still keep the specialized kernels around so users can still leverage them when type info is available at the call site.

[2021-12-26 03:52] kylebarron commented on #180
In the original issue you mentioned

Testing locally it appears that both the `arrow` (v6.4.0) and `arrow2/parquet2` (v0.8.1) crates compile fine to wasm (using `wasm-pack build`) as long as I avoid both lz4 and zstd dependencies. My goal is to first get a working Parquet -> Arrow reader working in wasm, and then circle back to evaluate new lz4 and zstd implementations. But for now I'm still muddl

[2021-12-26 13:47] alamb commented on #1047
The reason I was saying the specialized kernels might not be totally useful was,  my mind, that  the overhead of a type dispatch could be almost entirely amortized -- like if we are comparing 1000 elements in an array, an extra check on the array's type might not be a huge deal

I don't see anything wrong with leaving all the specialized kernels available too (maybe it would help inlining 🤔 )

[2021-12-27 07:34] jorgecarleitao commented on #1091
I played with this idea and I think that for us the main difference between them is whether `Hash` is implemented: `BtreeMap` implements `Hash`, while `HashMap` does not.

Because some variants of `DataType` contain `Box<Field>` and we want `DataType` to implement `Hash` (e.g. DataFusion and others depend on this), imo `Field` needs to stick to `BtreeMap`.

The `Hash` requirement does not exist fo

[2021-12-27 09:06] GrandChaman opened #1096 "Pretty printing `FixedSizeBinaryArray`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For the moment, one cannot pretty print a `FixedSizedBinaryArray`.

**Describe the solution you'd like**
Adding a match arm to the `array_value_to_string` function to support `FixedSizedBinaryArray`.

**Describe alternatives you've considered**
Adding a top-level function in my code that would

[2021-12-27 09:59] liukun4515 opened #1098 "support i128 as the ArrowNativeType"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

when I implement the comparison operation for decimal data type, I should support `i128` for https://github.com/apache/arrow-rs/blob/8b85aa03d2c2af1cfa81f03a2ab2457d21d02f93/arrow/src/buffer/mutable.rs#L301 this function.

In the pr https://github.com/apache/arrow-rs/pull/779, The `i128` has

[2021-12-27 13:07] alamb commented on #1091
👍  @jorgecarleitao

In `arrow-rs` there is code to handle serializing the metadata to/from json, which is also slightly different for the two.

I wonder if we implemented something similar to https://docs.rs/tonic/0.6.2/tonic/metadata/struct.MetadataMap.html

[code]

Which implements whatever semantics we needed

[2021-12-28 02:58] liukun4515 opened #1099 "support decimal data type for MutableArrayData"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When filtering the decimal type, we need to get the result of decimal data.

This issue depends on the https://github.com/apache/arrow-rs/issues/1098 and https://github.com/apache/arrow-rs/pull/779, if we want to cherry-pick it to release-branch.

**Describe the solution you'd like**
A clear

[2021-12-28 11:04] alamb commented on #1098
I think back porting just the `impl ArrowNativeType for i128` is a reasonable thing to do for the release branch.

The main reason it has the `api-change` label is that it adds a new `enum` variant for `IntervalUnit`

However, I expect that arrow 6.5.0 will be the last release created before the release of 7.0.0 (which I expect in 2 weeks time)

[2021-12-28 11:22] alamb commented on #1068
I think we have decided on a different approach for https://github.com/apache/arrow-rs/pull/1074 so closing this ticket

[2021-12-28 11:22] #1068 closed

[2021-12-28 11:23] alamb commented on #869
I think we have a proposed interface in https://github.com/apache/arrow-rs/pull/1074

[2021-12-28 12:25] alamb opened #1101 "proc-macro2 is hard pinned in arrow-flight"
**Describe the bug**

Pinning the version of proc-macro used in `arrow-flight` prevents updates of the proc-macro crate.

In the meantime, an indirect dependency (`quote`) released a version that was not strictly backwards compatible and didn't work with this version of `proc-macro2`. The issue was subsequently fixed in newer versions of the `quote` but the old version is still on crates.io, preve

[2021-12-28 13:21] liukun4515 commented on #1098
Thanks for your feedback.

Now we use `i128 to u8 slice` to represent the decimal value, and we use the FixedsizeListBuilder to append decimal value. If the i128 is as the ArraowNativeType, maybe we can change it to the Int128Builder to append decimal value.

[2021-12-28 13:21] liukun4515 commented on #1098
Thanks for your feedback.

Now we use `i128 to u8 slice` to represent the decimal value, and we use the FixedsizeListBuilder to append decimal value. If the i128 is as the ArraowNativeType, maybe we can change it to the Int128Builder to append decimal value.

[2021-12-28 14:47] vertexclique commented on #29
I have mentioned this in the arrow mailing list as "exposed" api to expose unsafe methods and pointers (if needed) to some performance hungry users.
@alamb

Ref: https://lists.apache.org/thread/vk6m5lwljsv9sd7f9zm4z3o6l9997nw4

[2021-12-28 15:10] vertexclique commented on #62
This is because jemalloc behaves undefined when allocation length is requested as 0 in non-standard allocation API that it has. Since that API doesn't check aligned access, it internally rejects these. Builder requests for this allocation should check allocation before doing an allocation request. :)

[2021-12-29 03:33] liukun4515 opened #1103 "Error BufferBuilder type"
**Describe the bug**

In definition of `BufferBuilder` is
[code]

If we want to define a new type of BufferBuilder, the T is must be ArrowNativeType.

But in some definitions, the T is ArrowPrimitiveType.

[code]

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**

We need to fix it by usi

[2021-12-29 03:58] liukun4515 commented on #1103
I will fix it

[2021-12-29 11:48] alamb commented on #1101
Filed request to yank broken crates.io release: https://github.com/dtolnay/quote/issues/204

[2021-12-29 12:01] #1101 closed

[2021-12-29 13:10] tustvold commented on #1071
The consensus appears to be that offsets should be monotonically increasing, so closing this

[2021-12-29 13:10] #1071 closed

[2021-12-29 13:11] tustvold commented on #1072
The consensus on #1071 is that offsets should be monotonically increasing, so closing this

[2021-12-29 13:11] #1072 closed

[2021-12-29 13:20] #1086 closed

[2021-12-29 18:36] tustvold commented on #1053
FYI I'm experimenting with extending the [existing fuzz tests](https://github.com/apache/arrow-rs/blob/master/parquet/src/arrow/arrow_reader.rs#L459) to support nulls, dictionaries, etc...

[2021-12-29 19:09] tustvold opened #1106 "Interval Support in Dyn Comparison Kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently trying to use the `*_dyn` comparison kernels on an interval types results in a not supported error, this despite the underlying data being stored in PrimitiveArray and therefore comparable.

**Describe the solution you'd like**

It should be possible to use `*_dyn` comparison kernel

[2021-12-29 19:50] #1096 closed

[2021-12-29 19:51] #1099 closed

[2021-12-29 19:56] tustvold opened #1108 "Add native comparison kernel support for BinaryArray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently there is no support for comparing `BinaryArray`

**Describe the solution you'd like**

It should be possible to call `arrow::compute::eq_dyn`, and friends with `BinaryArray` as arguments and have them not return an error. It may be possible to share code with the existing utf8 imple

[2021-12-29 19:56] tustvold opened #1109 "Add native comparison kernel support for FixedSizeBinaryArray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently there is no support for comparing `FixedSizeBinaryArray`

**Describe the solution you'd like**

It should be possible to call `arrow::compute::eq_dyn`, and friends with `FixedSizeBinaryArray` as arguments and have them not return an error. It may be possible to share code with the e

[2021-12-30 15:58] FauxFaux commented on #593
Semi-related; these functions probably shouldn't panic at all?

In my case, an invalid (too big) Time value (was supposed to be a Timestamp) caused a ("production") panic.

[2021-12-30 16:42] tustvold opened #1111 "ArrowArrayReader Reads Too Many Values From Bit-Packed Runs"
**Describe the bug**

Originally reported in https://github.com/apache/arrow-datafusion/issues/1441 and encountered again in #1110, `ParquetFileArrowReader` appears to read incorrect data for string columns that contain nulls.

In particular the conditions required are for the column to be nullable, contain nulls, and multiple row groups.

**To Reproduce**

Read [simple_strings.parquet.zip](https:

[2021-12-30 17:29] tustvold commented on #1111
So adding a print statement to `VariableLenDictionaryDecoder::new` it is being created twice with `num_values` of 3, i.e. the number of rows in the row group.

This is the `num_values` field from `Page`, which confusingly is the number of values **including** nulls. This value is then used to determine how many values to read from `RleDecoder` for this page.

Now a somewhat strange quirk of the [h

[2021-12-30 19:23] tustvold commented on #1111
So I'm not sure there is an easy way to fix this... `ArrowArrayReader` flattens all the pages from all the column chunks into iterators and then feeds these to `CompositeValueDecoder` which decode the levels and values independently. This makes it a non-trivial change to decode the levels and corresponding values from a given page in lock-step, which I believe is necessary in order to decode the c

[2021-12-30 20:48] yordan-pavlov commented on #1111
@tustvold 's work on making the "old" arrow reader faster looks promising, plus I've hit a wall in making the `ArrowArrayReader` faster in some cases, so I agree that it doesn't make sense to try to fix the `ArrowArrayReader` and instead it makes more sense to focus on finishing the work in #1082 .

`ArrowArrayReader` does use def levels to calculate how many values to read, see here https://githu

[2021-12-31 00:43] yordan-pavlov commented on #1111
here is what I've found so far:
* there is a test for plain-encoded strings which is working with null values and across pages here https://github.com/apache/arrow-rs/blob/master/parquet/src/arrow/arrow_array_reader.rs#L1493
* `VariableLenPlainDecoder` gets used in the above test and it does work correctly, because although the value of `num_values`  for the decoder does include NULLs, it stops re

[2021-12-31 12:06] alamb commented on #1111
A short term fix would be nice so that we can get correct answers from the existing code, while @tustvold  works on the longer term / better fix

[2021-12-31 16:19] matthewmturner opened #1113 "Implement dyn scalar comparison kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

Following the design set in #1074 we would like to add the remaining dynamic comparison kernels.

**Scalar**
- [ ] lt_dyn_scalar
- [ ] lt_eq_dyn_scalar
- [ ] gt_dyn_scalar
- [ ] gt_eq_dyn_scalar
- [ ]

[2021-12-31 20:25] yordan-pavlov commented on #1111
I have been able to reproduce the issue where `RleDecoder` returns more keys than values (as explained by @tustvold  above) by adding a test very similar to the existing `test_arrow_array_reader_string` but using dictionary encoding instead of plain. Next, I will looking for a short-term fix.

Here is some sample output from the test:

running 1 test
page num_values: 100, values.len(): 33
page num

[2022-01-01 04:32] matthewmturner commented on #1113
@alamb @liukun4515

I am submitting a bunch of the PRs now branching off my existing `eq_dyn_scalar` branch.  The PRs now currently show all the changes because we havent merged that one in to master yet. Im hoping once that is merged i can simply rebase and these will be good to go.

[2022-01-01 05:15] matthewmturner commented on #1113
Going to stop here at the scalar kernels to make sure all good.  If this approach is good ill do the utf8 and bool kernels

[2022-01-01 06:18] matthewmturner opened #1119 "Add power compute kernel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
We are working on adding a `power` function / operator to datafusion (https://github.

[2022-01-01 12:18] alamb commented on #212
This is basically completed here: https://github.com/apache/arrow-rs/blob/master/dev/release/README.md

[2022-01-01 12:18] #212 closed

[2022-01-01 12:21] alamb commented on #1064
Thanks @corneliusroemer  -- can you submit a PR to improve the docs in arrow-rs?

[2022-01-01 12:52] alamb opened #1120 "More frequent major releases for arrow-rs"
TDLR: I propose doing major releases for arrow-rs more frequently (up to every other week) directly from `master`, breaking the correspondence with the main arrow release

For example, the release cadence might look like
* 2022-01-01: `7.0.0`
* 2022-01-15: `7.1.0` (no backwards incompatible changes)
* 2022-02-01: `8.0.0` (new backwards incompatible change)
* 2022-02-15: `9.0.0` (new backwards inco

[2022-01-01 13:56] liukun4515 commented on #1113
@matthewmturner https://github.com/apache/arrow-rs/pull/1074 has been merged, you can rebase other prs, but I think we should merge the prs one by one and reduce the conflict. @alamb

[2022-01-01 14:25] matthewmturner commented on #1113
Agree. I was expecting to do that

[2022-01-01 18:50] domoritz commented on #1064
I can make the pull request. I don't understand this comment, though

[code]

What does `this` or `this value` refer to? The whole comment probably should be rewritten to be clearer.

For now, I assume it meant to say

[code]

[2022-01-01 20:27] tustvold commented on #1120
I think this touches on something key. In my opinion, the crates in this repository are still somewhat beta if not alpha software, with major APIs still getting fleshed out. As such it would perhaps be more expected for it to be 0.x software with the accompanying frequency of breaking releases. I accept the version ship has sailed, but I think it makes sense to pretend it hasn't and adopt a more r

[2022-01-01 22:59] yordan-pavlov commented on #1111
UPDATE: for the short-term fix, the only option I can think of is (when def levels are present) to count the number of actual values here https://github.com/apache/arrow-rs/blob/master/parquet/src/arrow/arrow_array_reader.rs#L393 before creating the value reader and using this instead of num_values.

This then makes the new test (using dictionary encoded pages) pass - notice how in the test output

[2022-01-02 11:06] #1103 closed

[2022-01-02 11:08] #1113 closed

[2022-01-02 13:44] yordan-pavlov commented on #1111
UPDATE: performance degradation after the fix is actually not so bad - only between 3% and 8%
[code]
I will try to submit a PR for this later today

[2022-01-02 14:37] #814 closed

[2022-01-02 14:37] #85 closed

[2022-01-02 15:14] alamb opened #1128 "Implement `Array` for `ArrayRef`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Basically, the issue is that I want to treat `ArrayRef` / `Arc<dyn Array>` directly as `&dyn Array` so they can be passed directly to compute kernels and other things that do dynamic type dispatch without having to call `array.as_ref()`

Here is a good example"

[code]

**Describe the solution

[2022-01-02 15:21] alamb commented on #1128
I tried a blanket implementation like

[code]

But that resulted in an error like

[code]

[2022-01-02 16:36] alamb commented on #1091
Looks like there is a related PR in arrow2: https://github.com/jorgecarleitao/arrow2/pull/715

[2022-01-02 17:15] tustvold commented on #1128
Would it work for the kernels to take `impl AsRef<dyn Array>' I think implementing for ArrayRef as proposed will otherwise result in two virtual dispatches instead of just one?

[2022-01-02 17:18] jorgecarleitao commented on #1091
I was waiting for another (soon to be PR) before reporting here, but basically it is possible to remove `Option` and also to replace `HashMap` in Schema by `BTreeMap`, thereby making both use the same data structure.

There is a larger change going on there, https://github.com/jorgecarleitao/arrow2/pull/717, that removes `RecordBatch` (in line with the requirement coming from this issue: https://g

[2022-01-03 11:35] alamb commented on #1128
I tried doing that in

Yes, I think that is exactly what happens in https://github.com/apache/arrow-rs/pull/1129

[2022-01-03 12:12] alamb commented on #1128
So what I am really trying to do is to the following

## Initial state:

[code]

There are many calls in the code base that look like this:

[code]

I would like to re-use `as_primitive_array` in functions such as the compute kernels that take a `&dyn Array` rather than `&ArrayRef`:

[code]

As written this results in an error:
[code]
Playground here: https://play.rust-lang.org/?version=stable&mod

[2022-01-03 13:11] tustvold commented on #1128
Perhaps `fn as_primitive_array<T>(arr: &impl AsRef<dyn Array>) -> &PrimitiveArray<T>`?

If you explicitly specify the lifetimes it is easier to see what the compiler is complaining about

`fn as_primitive_array<'a, T>(arr: &'a impl AsRef<dyn Array>) -> &'a PrimitiveArray<T>`

In the version without an argument passed by reference there is nothing to automatically infer the return lifetime from, an

[2022-01-03 13:56] andyredhead commented on #180
I had a play with getting a minimalist apache (v1) arrow & parquet to compile to wasm32-unknown-unknown back in July/August (2021) when the released version of arrow was ~5.0. It worked ok, I vaguely remember having to do something around adding an annotation on the hashcode for one of the structs to point rustc at an implementation that worked in wasm (I'm very new to Rust and definitely still in

[2022-01-03 15:31] paddyhoran commented on #1120
Also another pro is that we can hopefully bring arrow2 back into the fold (though that would need confirmation/additional work).  As I remember it, @jorgecarleitao's main sticking point was that the Rust version of arrow was sticking with the C++/Python versioning scheme.

[2022-01-04 11:49] alamb commented on #1128
Another challenge for

[code]

Is that I think all the existing callsites like `as_primtive_array<Int8Type>(&arr)` need to be changed to be `as_primtive_array<'_, Int8Type>(&arr)` or something

I like the `Borrow` idea -- in https://play.rust-lang.org/?version=stable&mode=debug&edition=2021&gist=98ebefb3a35cd911c9a355c136cb14af -- I'll try that maybe later today and see what it looks like

[2022-01-04 17:48] domoritz commented on #1064
Fixed in https://github.com/apache/arrow-rs/pull/1126

[2022-01-04 21:36] alamb commented on #1120
In conclusion, from my perspective maintaining an active release branch with stable patches and major releases every 3 months doesn't provide enough value for the cost

The cost is borne both by me actually creating the releases as well as users who are slowed down picking up updates for dependent libraries (the latest version of tonic, for example) or waiting for their changes to be released.

So

[2022-01-04 21:38] alamb commented on #1120
TLDR is I plan to release arrow-rs 7.0 as normally scheduled at the end of this week, and then after that only release from master every other week (rather than maintaining a more stable active_release branch)

So the first time something different will happen is in 2.5 weeks time

[2022-01-04 21:45] #1064 closed

[2022-01-04 21:49] alamb commented on #180
Yeah -- we now test to ensure that Arrow builds on wasm as part of all the CI runs:

https://github.com/apache/arrow-rs/runs/4685124037?check_suite_focus=true

[2022-01-05 04:12] liukun4515 commented on #1120
If the master has the API-change commit after the last release, how to handle this?
@alamb

[2022-01-05 06:38] tustvold commented on #1120
I wonder if we might further simplify matters by releasing weekly and incrementing the version based on if there are any new breaking changes on master since the last release. The major benefit would be this could be completely automated, potentially using existing tooling.

In the past I've used this approach for binaries, in particular using goreleaser, but I see no obvious reason something simi

[2022-01-05 07:30] tustvold opened #1132 "RecordReader Permits Illegal Types"
**Describe the bug**

Originally pointed out by @jorgecarleitao [here](https://github.com/apache/arrow-rs/pull/1041#discussion_r778438011).

It is currently possible to construct `RecordReader<T>` and by extension `PrimitiveArrayReader` with any `T: DataType`. This is despite an explicit assumption in `RecordReader`'s buffering logic that `DataType::T` can be zero-initialized and stored in `Mutabl

[2022-01-05 11:23] alamb commented on #1120
@liukun4515  the proposal is that the following release would have a new major (rather than minor version)

So for example, if there was an API change on Jan 12 (after 7.0.0 was released) the next release after Jan 12 would become 8.0.0 (rather than 7.1.0)

[2022-01-05 11:28] alamb commented on #1120
The major thing that prevents more frequent and/or automated releases is the release voting process. I often have to chase (via slack, etc) to get 3 PMC members to approve a release;

In terms of automation,  sqlparser-rs uses `cargo release` -- https://github.com/sqlparser-rs/sqlparser-rs/blob/main/docs/releasing.md and it is pretty sweeet.

I don't know of any technical reason they not need to a

[2022-01-05 11:44] alamb commented on #1128
I was able to use the borrow idea like this, but it still requires two generic arguments to `as_primitive_array` (and thus requires many code level changes which I am trying to avoid)

[code]

I also tried using an `impl`

[code]

which seemed to get me what I wanted, but then rust seemed to be unhappy about mixing explicit and implicit generics:

[code]

[2022-01-05 13:45] #1128 closed

[2022-01-05 19:57] #1111 closed

[2022-01-05 20:35] alamb opened #1136 "Interval comparisons with `simd` feature asserts"
**Describe the bug**

When @tustvold implemented basic support for interval comparison kernels in https://github.com/apache/arrow-rs/pull/1107, the test fails with the `simd` feature enabled.

https://github.com/apache/arrow-rs/runs/4719580675?check_suite_focus=true

[code]

**To Reproduce**
Run the test mentioned above with the simd feature enabled (after first removing the `cfg` directive):

[co

[2022-01-06 01:02] liukun4515 commented on #1120
Waiting for the release of 7.0.0!

[2022-01-06 01:05] liukun4515 commented on #1120
Maybe we need more active PMC for arrow in the rust ecosystem.

[2022-01-06 02:32] liukun4515 opened #1137 "support sort for decimal data type/ decimalarray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In the https://github.com/apache/arrow-datafusion/issues/1522, we need to sort results by decimal column.

The core of the sorting decimal array is based on the sort kernel.

**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise description of a

[2022-01-06 02:32] liukun4515 commented on #1137
I will file the pull request.

[2022-01-06 07:53] bkmgit opened #1139 "Formatting of markdown with Prettier"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
If editing markdown files in the browser, CI checks with [Prettier](https://prettier.io) only give a warning message that a file is improperly formatted. This can make editing markdown in the browser tedious.

**Describe the solution you'd like**
Since only markdown files are checked by pretti

[2022-01-06 12:22] alamb commented on #1120
Yeah -- I don't really know how to improve this. We do have several representatives of the Rust implementation on the PMC now (@jorgecarleitao @nevi-me @andygrove and @Dandandan) but their time is limited (as all of ours is)

I do wonder how much of the issue is the current process, which suggests running an automated script. I am not convinced this extra level of "quality assurance" is a real val

[2022-01-06 14:19] sum12 commented on #38
It seems the behavior here is not consistent.  TemporalValues can get parsed to `u64` if they look like `u64` otherwise it is a `null`, but only while dealing with `build_struct_array` whereas for `build_nested_list_array` an error is returned.

It could be done as done in csv_reader with regex and extra strings describing possible formats. Or we could have parser as closures (eg : `Fn(String) ->

[2022-01-06 22:22] #1106 closed

[2022-01-06 22:46] #654 closed

[2022-01-07 02:18] houqp commented on #1120
I don't have anything to add other than that I fully support this move :) It will certain reduce @alamb 's maintenance burden and make it easier for downstream to get access to breaking changes :+1:

[2022-01-08 11:56] alamb opened #1144 "Undefined behavior for GenericStringArray::from_iter_values if reported iterator upper bound is incorrect"
**Describe the bug**
While reviewing #197 I was able to create a reproducer that indeed caused undefined behavior

**To Reproduce**
[code]

Results in

[code]

And undefined behavior in MIRI

**Expected behavior**
Success and no undefined behavior

**Additional context**
Add any other context about the problem here.

[2022-01-08 11:57] alamb commented on #1144
Strangely, I don't understand the usecase of from_iter_values compared to `FromIter` -- I'll add a PR to remove the API

[2022-01-08 12:03] alamb commented on #1144
It looks like `DataFusion` uses `from_iter_values` in several places (both for StringArrays and primitive arrays)

https://github.com/apache/arrow-datafusion/search?q=from_iter_values

However, when I was looking at the implementations of `FromIterator` and `from_iter_values` I didn't see the need for both.

[2022-01-08 21:05] jorgecarleitao commented on #1144
I think that `from_iter_values` leverages the invariant that there are no nulls in the iterator (`AsRef<str>`), while `FromIterator` accepts nulls / None. The two APIs are motivated by a significant performance penalty in creating the bitmap from an iterator of options (compared to the cost of an iterator of non-nullable values)

[2022-01-09 10:24] jhorstmann commented on #1136
The issue seems to be with the relatively new `MonthDayNano` interval type, which is stored as `i128`. The simd machinery does not yet support that type, since it works with 512bits at a time it assumed a minimum of 8 lanes (for 64bit types). I'll check how easy it would be to extend that.

[2022-01-09 15:33] alamb commented on #197
An update: manually audited all the uses of the  `size_hint` in the arrow codebase:

[code]

My analysis is that any place where `upper` is used to size a buffer, it is either:
1. Advisory for performance to allocate capacity (like `Vec::with_capacity`) but not required for correctness
2. Used in an `unsafe` block which clearly states it is undefined behavior to call the function with an iterator

[2022-01-10 15:00] sum12 commented on #38
@alamb I would like to take a stab at this one (if it is still relevant)
Thanks for looking :-)

[2022-01-10 19:48] alamb commented on #38
As @nevi-me  filed the original ticket, he may have some additional context. Thanks @sum12 !

[2022-01-10 21:47] #1144 closed

[2022-01-10 21:49] #1136 closed

[2022-01-10 21:50] #1032 closed

[2022-01-10 21:51] #197 closed

[2022-01-11 08:14] viirya opened #1153 "support more mathematics kernels for array and scalar value"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We only have `powf_scalar`, `modulus_scalar` and `divide_scalar`. We need more mathematics kernels for array and scalar value that could be used by downstream projects e.g. datafusion.

**Describe the solution you'd like**

**Describe alternatives you've considered**
A clear and concise descr

[2022-01-11 14:00] #1053 closed

[2022-01-11 14:02] #1132 closed

[2022-01-11 14:05] #1034 closed

[2022-01-11 15:12] #1038 closed

[2022-01-11 18:01] #1040 closed

[2022-01-11 18:14] alamb commented on #111
FYI @yjshen @neverchanje , @tustvold  has created a proof of concept of a `async` parquet reader https://github.com/apache/arrow-rs/pull/1154

[2022-01-11 18:55] alamb opened #1157 "Return `error` from JSON writer rather than panic!"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The Json writer in https://github.com/apache/arrow-rs/blob/master/arrow/src/json/writer.rs will `panic!` if it hits unsupported data types

**Describe the solution you'd like**
It would be nice if the code instead returned `Result<()>` -- so that would mean:
1. Remove all `panic!` macros from

[2022-01-11 19:06] alamb opened #1158 "Nicer API to create `MapArrays`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Right now it is quite cumbersome to create  a `MapArray` as one has to create  an `ArrayData` from a `StructArray` . `MapArray` was contributed by @nevi-me  in https://github.com/apache/arrow-rs/pull/491

https://github.com/apache/arrow-rs/blob/e898de57e4587c64387939f8a557bc5fa2dffeb8/arrow/sr

[2022-01-11 19:11] alamb commented on #197
As a final follow up, I did verify the uses of `from_trusted_iter` in the crate and concluded they are all safe

[2022-01-11 19:18] alamb commented on #1153
Related to https://github.com/apache/arrow-datafusion/issues/1513 I think

[2022-01-11 19:18] #1153 closed

[2022-01-11 22:49] jhorstmann opened #1160 "Simplify and reduce code duplication in arithmetic.rs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I noticed that there is some potential for simplification or reduction of code in `arithmetic.rs`, that should make it easier to add more functionality.

**Describe the solution you'd like**

 * unify the simd logic for modulo / division, the complex part of checking for a valid zero is duplic

[2022-01-12 02:23] liukun4515 commented on #1153
thank you @viirya
I'm implementing some mathematics operation for decimal data type in datafusion, and finding the enhancement for arrow-rs kernel.

[2022-01-12 15:33] tustvold opened #1163 "Parquet Read/Write Traits"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently and `ParquetReader` `ParquetWriter` traits pass around immutable references. They then make use of a combination of `TryClone` and `RefCell` in order to placate the borrow checker.

Aside from being somewhat surprising, it prevents creating a `ParquetWriter` from an `&mut File`.

**

[2022-01-12 15:40] tustvold opened #1164 "Parquet Tests Cleanup Temporary Files"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The parquet tests create a large amount of temporary files in `/target` when running tests, and these are never cleaned up. This is particularly painful for the fuzz tests which generate files with random names, and so the footprint will grow over time.

**Describe the solution you'd like**

[2022-01-12 16:26] alamb commented on #1163
I think the difference I have observed in the past was that the parquet abstractions also allow `Clone` -- as I recall it was to allow clients to read from different columns concurrently (each column would get its own Clone of the I/O object -- aka it would get its own file descriptor) so they could be read / advanced concurrently

There may well be a better way to handle this

[2022-01-12 16:27] alamb commented on #1163
FWIW I think it would be great to avoid all the custom abstractions 👍

[2022-01-12 16:47] tustvold commented on #1163
Aah yes, the `FileReader` API expects to be able to give out `RowGroupReader` which in turn give out `PageReader`. These are all owned constructs and so expect to be able to pass around `Arc<FileReader>`.

However, looking at the code I'm not sure it can actually be used concurrently. It doesn't appear to have any synchronisation, and yet is using the same underlying file descriptor. I think it mi

[2022-01-12 18:52] tustvold opened #1167 "StructArray Nullability"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I couldn't work out how to produce a parquet file with the following schema using the arrow APIs

[code]

The closest I got was

[code]

But this has the schema

[code]

By comparison

[code]

Has the schema

[code]

We've somehow lost nullability? :exploding_head:

**Describe the solution yo

[2022-01-13 08:23] Ted-Jiang commented on #1157
Thanks for your description! I am glad to do this.

[2022-01-13 09:34] tustvold commented on #1163
I had a brief play around with this and found the following.

The write side is serial, and so it should be possible to use standard library abstractions. The current trait topology will likely require using `Rc<RefCell<W>>` or similar. I tried using mutable borrows, but this runs into issues as the types need to be boxed in order to be used in traits (due to lack of GATs) but by value trait metho

[2022-01-13 15:18] #1037 closed

[2022-01-13 17:14] e-dard opened #1168 "Duration array values cannot be pretty printed"
**Describe the bug**

Whilst attempting to pretty print a value in a `DurationMillisecondArray` I hit an error because the plumbing to pretty print durations has not been done here:

https://github.com/apache/arrow-rs/blob/231cf788879f12b3cfbc6da776e2360117567d17/arrow/src/util/display.rs#L291-L403

**To Reproduce**

Create a `DurationMillisecondArray` and try to call `arrow::util::display::array_

[2022-01-13 18:14] alamb commented on #1120
Given there are no more comments I'll proceed with this proposal 👍

[2022-01-13 18:14] #1120 closed

[2022-01-13 18:27] #1160 closed

[2022-01-13 18:50] alamb commented on #823
Here is a PR with a proposed fix: https://github.com/apache/arrow-rs/pull/1166

@hohav can you possibly check to see if it fixes your usecase?

[2022-01-13 18:52] alamb commented on #1108
This is a pretty good ticket for anyone who wants to mess with the compute kernels -- basically it should be add a small amount of code and a a test

[2022-01-13 18:55] alamb commented on #986
I believe this was completed (and released)

For example:
https://docs.rs/arrow/7.0.0/arrow/compute/kernels/comparison/fn.neq_dyn_scalar.html

[2022-01-13 18:56] alamb commented on #1163
Also related https://github.com/apache/arrow-rs/issues/937

[2022-01-13 18:57] alamb commented on #872
looks like this may be related to feature flags? Did you ever resolve this @MrKhan0747 ?

[2022-01-13 19:04] alamb commented on #770
I think this was fixed in https://github.com/apache/arrow-rs/pull/1001

I now run `cargo bench` and it compiles just fine for me locally

[2022-01-13 19:04] #770 closed

[2022-01-13 19:04] alamb commented on #770
Thanks again @carols10cents

[2022-01-13 19:14] #869 closed

[2022-01-13 19:15] matthewmturner commented on #869
Thanks for patience and guidance @alamb :)

[2022-01-13 21:14] alamb commented on #1168
Came up in the context of https://github.com/influxdata/influxdb_iox/pull/3460 /  https://github.com/influxdata/influxdb_iox/pull/3460#discussion_r784272714 in case anyone is curious

[2022-01-13 21:17] e-dard commented on #1168
@alamb i think there was a formatting issue on my ticket description - it was just showing "describe the bug" 😅

[2022-01-14 10:46] jhorstmann opened #1171 "Fix or remove memory-tracking feature"
**Describe the bug**

The non-default `memory-check` feature fails to compile (probably at least since 2021-04, that was the last time `alloc/mod.rs` was changed).

**To Reproduce**

[code]

**Expected behavior**

Since it seems to be unused, it is probably fine to remove the feature and the static `ALLOCATIONS` counter. If we decide to keep the feature, I would suggest to also move the increments

[2022-01-14 16:58] tustvold opened #1174 "Disable serde_json `arbitrary_precision` feature flag"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The `arbitrary_precision` feature flag added in https://github.com/apache/arrow-rs/pull/779 alters how serde_json decodes numeric types, decoding them as maps with special keys, instead of their native types.

Unfortunately this has a tendency to break downstream code in strange ways - see [h

[2022-01-14 18:09] #703 closed

[2022-01-14 19:05] alamb opened #1176 "Discussion: relationship / unification of arrow-rs and arrow2 going forward"
TLDR: please comment on this ticket if you have opinions about if and/or how the community should unite its efforts on a single Rust implementation of Apache Arrow.

Related mailing list thread: https://lists.apache.org/thread/dsyks2ylbonhs8ngnx6529dzfyfdjjzo

There is active [discussion](https://github.com/apache/arrow-datafusion/issues/1532) and a PR https://github.com/apache/arrow-datafusion/pu

[2022-01-14 19:23] alamb commented on #1171
I think we should remove it 👍

[2022-01-14 21:16] andygrove commented on #1176
My personal hope is that arrow2 can be donated to the ASF as a `0.x` project. Given how widely used arrow2 is, I believe that it is becoming the de-facto implementation anyway and IMHO there would be benefits to having Apache governance.

For many of us who work for large corporations, we have to seek permission to contribute to open source projects. For example, I have permission to contribute to

[2022-01-14 22:07] tustvold opened #1177 "Parquet Record Tests Fail on Rust 1.58"
**Describe the bug**

Initially noticed on #1174 but it would appear the formatting changes in Rust 1.58 have altered the formatting of floating point numbers causing the tests to fail

**To Reproduce**

Run the `test_convert_double_to_string` test on master, and it will fail with

[code]

**Expected behavior**

Test should not fail

[2022-01-14 23:31] tustvold opened #1179 "Support casting to/from DictionaryArray <--> LargeUTF8, Binary and LargeBinary in Cast Kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently if you try to cast a LargeStringArray, BinaryArray or LargeBinaryArray into a dictionary an error is returned

For example

[code]

**Describe the solution you'd like**

Ideally this would work

[2022-01-15 11:34] #1177 closed

[2022-01-15 11:41] alamb commented on #1176
For the record, I would be willing to help maintain `arrow2` if it were donated into the ASF doing things like coordinating release process / voting, bug fixing, answering questions, and the like

[2022-01-15 11:52] jhorstmann opened #1182 "Evaluate performance of simd on simple arithmetic"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

For simple arithmetic kernels (+,-,*), the compiler should be able to automatically vectorize the scalar code and even generate better code than our custom simd implementations. Our simd kernels currently process a specific number of lanes at the same time, dependent on the element type, an a

[2022-01-15 11:59] jhorstmann commented on #1182
Benchmarks with array size of 64k, run on an AMD Ryzen 3700U laptop.
Compiled with `$ RUSTFLAGS="-C target-cpu=skylake"`
(The Skylake code generator in llvm seems to have received more tuning than Zen but the architecture is otherwise quite close)

With simd feature:

[code]

Without simd feature

[code]

**Summary**: Autovectorized code is about 40% faster for simple arithmetic.
Division with nul

[2022-01-15 18:45] helgikrs opened #1184 "Writing structs nested in lists produces an incorrect output"
**Describe the bug**
Writing an arrow record batch with structs nested within lists using the parquet writer produces a parquet file with incorrect values when there are null or empty lists present.

**To Reproduce**
The following program produces a parquet file `out.parquet`.

[code]

Running `parquet-dump` on `out.parquet` produces the following output

[code]

**Expected behavior**
The last val

[2022-01-15 18:49] #1174 closed

[2022-01-15 19:01] helgikrs opened #1186 "Parquet reader should be able to read structs within list"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Reading a parquet file containing a list of structs fails with an error like

[code]

**Describe the solution you'd like**
The reader should support reading parquet files containing lists of structs and not produce an error.

**Describe alternatives you've considered**
A clear and concise des

[2022-01-16 00:21] houqp commented on #1176
Thank you @alamb for starting and driving this discussion. Great summary on the current community consensus.

Personally, I think the Apache model works better for relatively slow moving monolith projects, while arrow2/parquet2 are fast evolving projects with a vision to be broken up into even smaller modular crates. @alamb has done an exceptional work on driving the arrow-rs releases. But seeing

[2022-01-16 07:34] tustvold commented on #1176
I would just like to get away from this situation where we have two concurrent projects. It is just demoralizing, draining, and to be completely honest it just seems a tad unnecessary. Whilst I do not like the idea of porting stuff across, and yes it would be an annoying use of time, I am willing to contribute to such an effort if it sees an end to this situation. It overcomes what is otherwise a

[2022-01-16 12:08] #1164 closed

[2022-01-17 07:24] HaoYang670 commented on #1108
Hi Raphael, I am newcomer and want to contribute to this project.
Is it reasonable to add a function called `eq_dyn_binary_scalar` and tests in the file `comparison.rs`?

[2022-01-17 09:26] tustvold commented on #1108
Yes it should be largely just a case of adding `_binary` versions of the `_utf8` kernels in that module.

Typically there are three variants of each operator:

* One with fully qualified array types e.g. `lt_eq_utf8`
* One with a fully quality array type and a scalar e.g. `lt_eq_utf8_scalar`
* One with a dynamic array type and qualified scalar e.g. `eq_dyn_utf8_scalar`

Finally there are then two

[2022-01-17 09:48] HaoYang670 commented on #1108
Thank you, Raphael!  I'd like to try if no one else has been doing it.

[2022-01-17 13:42] HaoYang670 commented on #1108
Following your advice, I will file 2 PRs to match this feature. The first PR will add support for fully qualified binary array. The second PR will support comparison for dynamic binary array.

[2022-01-17 15:42] alamb opened #1190 "Optimize `take` kernel for `Decimal`"
The idea is to avoid using DecimalBuilder and create the `DecimalArray` directly using an iterator (or `MutableBuffer`)

_Originally posted by @alamb in https://github.com/apache/arrow-rs/pull/1172#pullrequestreview-854562444_

[2022-01-17 15:42] #1137 closed

[2022-01-17 15:49] #1184 closed

[2022-01-17 16:29] tustvold opened #1191 "Parquet Scan Filter"
_I hope to work on this after finishing up dictionary preservation (#1180) and async (#1154), creating now for feedback and visibility_

**Background**

[IOx](https://github.com/influxdata/influxdb_iox/) is a columnar, time-series database that uses parquet for its persistence format. The data model consists of a number of relatively low cardinality tag columns, a timestamp column and a number of

[2022-01-17 18:52] helgikrs opened #1193 "Pretty print a record batch containing float16 triggers a panic"
**Describe the bug**
Pretty printing a record batch containing a float16 column produces an error
[code]

**To Reproduce**

Create a record batch containing a float16 array and call `pretty_format_batches` on it, like so:

[code]

**Expected behavior**
Should pretty print the record batch.

**Additional context**
Add any other context about the problem here.

[2022-01-18 11:32] alamb commented on #1191
I think it would be best to implement in DataFusion if at all possible -- this logic and need is not at all specific to IOx and so the community would benefit (and also likely help maintain this) if it were in IOx

One thing to consider  for the strategy described is that it may actually *slow down* parquet scanning for non selective predicates (e.g. predicates that filter out none of the rows).

[2022-01-18 11:42] nevi-me commented on #1191
In the Impala implementation, there was negligible impact on unsorted/random data https://blog.cloudera.com/speeding-up-select-queries-with-parquet-page-indexes/. If parquet-rs can correctly store and retrieve the column sort statistics, that would help with the evaluation decision of whether to use a page index or not.

I think the predicate evaluation would best live in parquet as it can get com

[2022-01-18 12:09] #1186 closed

[2022-01-18 12:09] tustvold commented on #1191
Agreed, I was somewhat hedging here :laughing:

That's a great link :+1:, and yeah the ability to prune on aggregate statistics is very dependent on the sort order.

I was somewhat hoping to avoid using the page index, in part for this reason, as it would require pushing predicate evaluation into the parquet crate, but also because of the small matter that we don't currently read or write it :swea

[2022-01-18 12:11] alamb opened #1197 "Remove `ArrowArrayReader` in parquet implementation"
https://github.com/apache/arrow-rs/pull/1082 removed the use of `ArrowArrayReader` in favor of a different approach;

This ticket tracks removing `ArrowArrayReader` added in #384? . @yordan-pavlov reported that he ran the benchmarks against the latest code and @tustvold 's work is now often several times faster in almost all cases and in the one or two cases where it isn't the difference is small

[2022-01-18 12:13] #786 closed

[2022-01-18 12:21] alamb commented on #1191
I agree that predicate evaluation should be done in parquet -- what @e-dard did in the IOx ReadBuffer was to implement  predicates that could be evaluated very fast (e.g. `=`, `!=`, `<`, etc of a column and a literal)

https://github.com/influxdata/influxdb_iox/blob/main/read_buffer/src/row_group.rs#L1517-L1524

I recommend a similar (or the same!) approach in parquet

[2022-01-18 12:58] tustvold commented on #1191
Shall I create a separate ticket in that case for directly evaluating predicates against encoded data, I think the two problems are separable?

[2022-01-18 13:37] alamb opened #1198 "Broken CI SIMD and wasm checks on master: unknown feature `llvm_asm`"
The CI wasm and SIMD tests are now failing on master:

https://github.com/apache/arrow-rs/runs/4852992130?check_suite_focus=true
https://github.com/apache/arrow-rs/runs/4852992553?check_suite_focus=true

complaining about missing llvm_asm, which appears to relate to https://github.com/rust-lang/packed_simd/issues/340 as pointed out by @gangliao on #1195

_Originally posted by @tustvold in https://

[2022-01-18 13:42] alamb commented on #1191
I probably don't fully understand what "evaluating predicates against encoded data" means compared to what you have proposed in this ticket. Thus I am not sure about the need for a second ticket

[2022-01-18 14:03] alamb commented on #1191
I think that makes sense as a follow up item; 👍

[2022-01-18 14:24] alamb commented on #1198
Reverting #1189  did not appear to fix the issue. Perhaps another crate accidentally released a breaking change

[2022-01-18 16:22] jorgecarleitao commented on #1198
We are observing the same on arrow2. This seems to be upstream :(

[2022-01-18 17:10] alamb opened #1200 "Implement DecimalArray support in `eq_dyn`, `neq_dyn`, `lt_dyn`, `lt_eq_dyn`, `gt_dyn`, `gt_eq_dyn`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Rationale make it as easier (more ergonomic) to implement array comparison, both for DataFusion and other users. See rationale in https://github.com/apache/arrow-rs/issues/843

**Describe the solution you'd like**
The idea would basically be to implement the same thing as @viirya did for times

[2022-01-18 17:13] alamb opened #1201 "Implement DictionaryArray support in `eq_dyn`, `neq_dyn`, `lt_dyn`, `lt_eq_dyn`, `gt_dyn`, `gt_eq_dyn`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Rationale make it fast and easy (more ergonomic) to compare arrays, both for DataFusion and other users. See rationale in https://github.com/apache/arrow-rs/issues/843

**Describe the solution you'd like**
The idea would basically be to implement the same thing as @viirya did for timestamp typ

[2022-01-18 17:15] alamb opened #1202 "Add doc examples for `eq_dyn` etc."
The comparison kernels have a somewhat bewildering array of options for a new developer

https://docs.rs/arrow/7.0.0/arrow/compute/kernels/comparison/index.html

We have been making the API easier to use with so called `dyn` kernels (such as `eq_dyn`, etc) but this may not be as discoverable as would be ideal.

Thus it would be great to add some doctests to the `comparison` module that demonstrate

[2022-01-18 17:17] alamb commented on #1202
Perhaps one could follow the example of

https://docs.rs/arrow/7.0.0/arrow/array/type.StringArray.html

[code]

[2022-01-18 21:59] #1193 closed

[2022-01-18 22:00] alamb commented on #1198
I plan to look into this more carefully tomorrow morning (US eastern time)

[2022-01-18 23:46] alamb commented on #1198
I am pretty confident that this is an issue in `packed_simd` -- in the sense that the library depends on some feature in rust nightly which has since been removed. Here is a PR that should fix it:

https://github.com/rust-lang/packed_simd/pull/341

In theory if we can get the maintainers to release an updated version this will be fixed for us

[2022-01-18 23:54] alamb commented on #1198
We can always follow the lead of arrow2 here if no one is willing to publish a new fix for `packed_simd` and switch to `stdsimd` --  https://github.com/jorgecarleitao/arrow2/pull/747

I suppose "code that compiles but is slower" is better than "code that doesn't compile"

[2022-01-19 00:06] alamb commented on #1198
Datapoints:

Works:
[code]

Doesn't work:
[code]

(aka I think it was the nightly version that was released today -- `2022-01-18`)

[2022-01-19 03:19] liukun4515 commented on #1200
@alamb Do you begin to do this?
If not, I try it.

[2022-01-19 11:03] tustvold opened #1206 "Dictionary IDs Arrow IPC"
**Which part is this question about**

The `Field` data structure contains a `dict_id` member, that stores an i64. It appears the intention of this is that different dictionaries will have different IDs, unfortunately this appears to be a quirk of the IPC format and isn't widely utilised by arrow-rs.

**Describe your question**

Most of arrow-rs is completely agnostic to dict_id, with compute kern

[2022-01-19 11:18] tustvold opened #1207 "Async IPC Reader/Writer"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The current IPCReader and IPCWriter require a sync Reader/Writer complicating their use in async systems such as DataFusion. Once such use case can be found in https://github.com/apache/arrow-datafusion/pull/1596 where it is used for spilling buffers

**Describe the solution you'd like**

The

[2022-01-19 11:25] alamb commented on #685
It seems as if we are going with a dual approach here:
1. Allow casting to the underlying primitive type - #1196
2. Additional temporal kernels to extract parts of it, e.g https://docs.rs/arrow/7.0.0/arrow/compute/kernels/temporal/index.html#

[2022-01-19 11:38] alamb commented on #1200
@liukun4515  I have not started this

[2022-01-19 12:13] alamb commented on #518
@helgikrs  has been recently working on some fixes for this type of issue in https://github.com/apache/arrow-rs/pull/1187 https://github.com/apache/arrow-rs/pull/1166 and https://github.com/apache/arrow-rs/pull/1185 . I wonder if someone could check if it is still an issue

[2022-01-19 12:19] #685 closed

[2022-01-19 14:06] alamb commented on #1206
Another alternative is to remove `dict_id` entirely from `Field` and only use it while doing IPC serialiation

This appears to be what @jorgecarleitao  has done in arrow2

https://github.com/jorgecarleitao/arrow2/search?q=dict_id
https://github.com/jorgecarleitao/arrow2/blob/main/src/datatypes/field.rs#L12-L21

[2022-01-19 16:44] helgikrs opened #1208 "Empty string arrays with no nulls are not equal"
**Describe the bug**
Two string arrays containing only empty strings, where one has a validity map and the other doesn't (but no logical null values in either buffer) do not compare as equal.

**To Reproduce**
[code]

This behavior happens in both IPC reader and parquet reader. If there are no nulls in the source buffer, the validity bitmap is skipped.
Consequently, a round-trip of empty strings f

[2022-01-19 21:28] #1208 closed

[2022-01-19 21:28] #1157 closed

[2022-01-19 22:55] tustvold opened #1211 "Write Multiple RecordBatch to Parquet Row Group"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Parquet row groups are meant to contain large numbers of rows. This helps amortize statistics, metadata, and IO overheads, and make the best use of dictionary encoding.

Currently every call to `ArrowWriter::write` creates a new row group, this is unfortunate

**Describe the solution you'd li

[2022-01-20 06:36] houqp commented on #1176
I totally agree with you @tustvold . We are all engineers looking to solve interesting technical problems together, not playing political games after all.

[2022-01-20 18:59] tustvold opened #1213 "Limit ArrowWriter Row Group Size by bytes in addition to rows"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently `ArrowWriter` uses `max_row_group_size` as a row count limit. Whilst this is significantly simpler to implement, it is at odds with other arrow implementations that use a bytes threshold.

**Describe the solution you'd like**

Any or all of:

* Clearly document what `max_row_group_s

[2022-01-21 00:08] pjmore opened #1215 "Extend schema inference to allow scientific notation for floating point types"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
@matthewmturner  is working on adding datafusion to the h2oai database benchmarks. So

[2022-01-21 10:48] tustvold opened #1217 "Dictionary Uniqueness and Sortedness"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

A schema Field currently has a `dict_is_ordered` field. Much like `dict_id` this is non-trivial to use in practice (#1206) as it is part of the schema which may need to remain constant across multiple RecordBatch that might otherwise wish to use different dictionaries. It is also not visible

[2022-01-21 11:08] tustvold opened #1218 "Cast Dictionary Options"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently when casting an array to DictionaryArray, the code will compute a new dictionary for the type. This dictionary will have unique values, but won't be sorted.

However, in some cases uniqueness and/or sortedness may not be a priority, e.g. because a subsequent operation is going to fi

[2022-01-21 18:21] alamb commented on #1098
I believe this is now complete: https://sourcegraph.com/github.com/apache/arrow-rs/-/blob/arrow/src/datatypes/native.rs?L220-241&subtree=true

[2022-01-21 18:24] alamb commented on #993
This may have been fixed as there has been significant work on reading of nested structures by @helgikrs and others

[2022-01-22 20:18] #1215 closed

[2022-01-23 09:46] jhorstmann commented on #1218
Slightly related to the `make_ordered` function from this draft PR: https://github.com/apache/arrow-rs/pull/1048/files

Doing this in the `cast` kernels seems a bit more general. Is the idea to call this cast directly after concatenating batches? In that case de-duplicating while concatenating might be slightly more efficient.

[2022-01-23 12:29] alamb commented on #1009
i took a crack at this in https://github.com/apache/arrow-rs/pull/1223

[2022-01-23 12:30] alamb commented on #1083
I took a crack at this one in https://github.com/apache/arrow-rs/pull/1223

[2022-01-23 13:23] tustvold opened #1224 "MutableArrayData Builds Null Mask Having Decided Not To"
**Describe the bug**

`MutableArrayData` contains logic to skip computing a null mask if the source data contains no nulls. In such a scenario it skips pre-allocating space for the null buffer. However, it continues to then build this null buffer?!

**To Reproduce**

Run the filter benchmarks, observe memory allocations taking place in `build_extend_null_bits::closure`

**Expected behavior**

`Mut

[2022-01-23 13:48] alamb opened #1226 "Writing sliced List or Map Arrays ignore offsets"
**Describe the bug**
When writing List or Map arrays that have been `slice()`d (aka have a non zero `offset`) the wrong rows will be written

Write
**To Reproduce**
Write a sliced `RecordBatch that has an offset; The data written will be relative to 0 offset

**Expected behavior**
The slice should be relative to the offset

**Additional context**
Add any other context about the problem here.

[2022-01-23 14:18] tustvold opened #1227 "UnalignedBitChunkIterator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`BitChunks` and the associated `BitChunkIterator` allow iterating over a bitmask in u64 sized blocks. Unfortunately this comes at the cost of unaligned reads, and non-trivial bit-shuffling for every u64 block. This is advantageous when alignment is important, for example when writing the data

[2022-01-23 14:24] alamb commented on #504
FYI @tustvold  has a proposed implementation in https://github.com/apache/arrow-rs/pull/1219

[2022-01-23 15:40] tustvold opened #1229 "Add MutableArrayData::extend_ranges"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`MutableArrayData` is created with one or more `ArrayData` and can be used to copy across rows from the source arrays to a destination array. It does this by constructing the following for each of the arrays. These can then be used to copy a range of values from the source array's null mask a

[2022-01-23 16:09] tustvold commented on #1229
Linking https://github.com/apache/arrow-datafusion/issues/416 and https://github.com/apache/arrow-datafusion/issues/1572 as at least historically `MutableArrayData` was one of the bottlenecks in `SortPreservingMerge`. In particular the code used to reconstruct a record batch https://github.com/apache/arrow-datafusion/blob/master/datafusion/src/physical_plan/sorts/sort_preserving_merge.rs#L452

FYI

[2022-01-23 16:12] tustvold commented on #1218
I think both would be cool to have, and can probably share a lot of logic :+1:

[2022-01-23 17:01] tustvold opened #1230 "MutableArrayData::extend_nulls doesn't update null bitmask"
**Describe the bug**

Noticed whilst working on #1225, calling `MutableArrayData::extend_nulls` doesn't update the null bitmask. This means the final array may have a shifted or completely invalid bitmask.

#1225 changed it so that if `MutableArrayData` is created with nulls disabled, it panics if you try to append nulls. Unfortunately it would appear this is being exploited by `ArrowArrayReader`

[2022-01-23 17:10] tustvold opened #1231 "Bitmap Length Validation is Incorrect"
**Describe the bug**

Noticed whilst testing #1230, the bitmask length validation confuses byte length and bit length.

**To Reproduce**

[code]

**Expected behavior**

The above test should pass

[2022-01-23 17:13] tustvold opened #1233 "Rename `Bitmap::len` to `Bitmap::bit_len`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

#1231 was caused by a somewhat confusingly named method on `Bitmap`

**Describe the solution you'd like**

Rename the method to avoid future confusion

**Describe alternatives you've considered**

Document the method extensively

[2022-01-24 02:58] pjmore commented on #799
@tfiasco I think this is due to the c++ implementation only using min_value and max_value if a column order is set: https://github.com/apache/arrow/blob/54460d96ba1d613e472d8d9a96c072147e736b4d/cpp/src/parquet/metadata.cc#L82
Where for your example the current implementation, I used version 7, a modified version of your snippet prints None:
[code]
This prints
[code]
So it looks like the c++ implem

[2022-01-24 06:48] HaoYang670 commented on #1108
Is there something like `BinaryDictionaryBuilder` in the code, which is needed when testing the `eq_dyn_binary_scalar_with_dict`?

[2022-01-24 08:43] HaoYang670 commented on #1108
BTW, could you please assign this issue to me?
I have no right to self-assigned.

[2022-01-24 12:00] #171 closed

[2022-01-24 12:21] alamb commented on #1108
I do not know of any such thing, sadly

[2022-01-24 15:07] #1197 closed

[2022-01-24 19:22] #504 closed

[2022-01-24 19:50] #1182 closed

[2022-01-24 21:31] #1231 closed

[2022-01-25 05:32] HaoYang670 commented on #1108
In other words, do we support dictionary array with `BinaryType` values?

[2022-01-25 09:41] HaoYang670 commented on #751
I'd like to try if no one has been doing it.

[2022-01-25 09:44] HaoYang670 commented on #1108
I do not include `DictionaryArray` in my PR, because I do not find a straight forward way to build a binary dictionary. If it is needed, I will include it later in my PR.

[2022-01-25 15:56] tustvold opened #1239 "Add `test_validate` feature flag + CI check"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

For better or worse `arrow-rs` makes use of unsafe in various places. Whilst there are ongoing efforts to reduce the use of unsafe, occasionally bugs will slip through. Both `arrow-rs` and `arrow-datafusion` run with MIRI in order to catch many of these, however, MIRI is extremely slow and fi

[2022-01-25 16:02] alamb commented on #1239
Maybe `force_validate` might be a more descriptive name for this flag.

I actually did this (forced `ArrayData::new_unchecked` to actually check) to manually test the original validation logic

[2022-01-25 17:43] jhorstmann commented on #1239
Agree, this sounds useful. Making it independent of `debug_assertions` is also a good idea and would allow enabling it also in some staging/pre-production environments.

[2022-01-26 02:29] HaoYang670 opened #1240 "Get `Unknown configuration option rust-version` when running the rust format command"
**Describe the bug**
On my desktop, when I run the command
[code]
I always get the warning
[code]
When I run the command
[code]
I could not find a configuration option called `rust-version`
I am not sure whether it is a bug or my problem.

**To Reproduce**
Run the command
[code]

**Expected behavior**
Remove the warning.

**Additional context**
[Developer's guide to Arrow Rust.](https://github.com

[2022-01-26 12:18] #1108 closed

[2022-01-27 01:52] HaoYang670 commented on #1240
Should we delete this line:

[2022-01-27 02:33] HaoYang670 commented on #1233
Do we still need to rename it, as the documentation has been improved? If so, I would like to solve this issue.

[2022-01-27 06:24] HaoYang670 commented on #1202
I can work on it! Please assign to me @alamb

[2022-01-27 11:48] alamb commented on #1202
Thanks @HaoYang670

[2022-01-27 20:09] sunchao commented on #1191
We can also explore lazy materialization, that is, only decode & decompress (or even pay the IO cost), when a Parquet page is actually needed. I think this is especially useful when many columns are selected and only a few very selective predicates are applied on some of the columns. It in some sense is similar to page skipping based on column index, but more powerful.

It'd be very nice to implem

[2022-01-27 20:54] #751 closed

[2022-01-27 21:17] tustvold commented on #1191
Definitely. Irrespective of how the pruning takes places - whether a scan mask as proposed here, or information derived from a page index, or some other mechanism, there's definitely no point doing IO for pages that aren't going to be used. :+1:

My hope with the scan masks is to provide an API that allows query engines to express what rows they want, without having to worry about the mechanics of

[2022-01-27 21:48] tustvold commented on #1191
I mean I was just planning to use an arrow BooleanArray that you'd pass in... I'll give the linked paper a read 👍

[2022-01-28 06:08] HaoYang670 commented on #1240
Does anyone meet the same problem?

[2022-01-28 07:24] asayers commented on #1032
Crowd here.  Just letting you know that [sqlite2parquet](https://docs.rs/sqlite2parquet/latest/sqlite2parquet/) required adding the "experimental" flag to upgrade to 8.0.0, in order to get `DataType`, `ByteArray`, `FixedLenByteArray`, and `Int96`.

[2022-01-28 08:34] tustvold commented on #1032
@asayers thank you for reporting, I'll take a look later today and see what we can do 👍

[2022-01-28 11:16] alamb commented on #1032
IOx did as well https://github.com/influxdata/influxdb_iox/blob/main/parquet_file/Cargo.toml#L20

[2022-01-28 11:43] #1233 closed

[2022-01-28 18:52] tustvold commented on #1229
Having thought about this a bit more, filter would likely be better off with specialized impls as it can then elide range checks, etc... I'm going to take a stab at that and see what I can come up with.

I'll leave this ticket open as it may still aid SortPreservingMerge

[2022-01-28 22:51] bjchambers opened #1245 "Parquet v8.0.0 panics when reading all null column to NullArray"
**Describe the bug**
When reading a Parquet file with a single row, containing a single optional `int32` column containing `null` the parquet reader panics.

This was found when trying to upgrade to Arrow/Parquet v8.0.0. The original file contained additional columns but was reduced to this.

The referenced branch contains a Parquet file containing a single nullable Int32 value. In this case I pro

[2022-01-28 22:53] bjchambers commented on #1245
@tustvold I'm not sure, but it looks like https://github.com/apache/arrow-rs/pull/1054 may be related?

[2022-01-28 22:58] tustvold commented on #1245
Yup that definitely sounds plausible, I'll take a look shortly.

FWIW I notice it is using the NullArrayReader, I don't know if you can encourage pandas to give it a different column type (e.g. Int32), but that might be an interesting data points

[2022-01-28 23:23] bjchambers commented on #1245
Ah, so it is. I gave it the encouragement, and it looks like that works. Interestingly, trying `pqrs` indicates that the schema in both cases is the same (`OPTIONAL int32`).

[code]

vs.

[code]

[2022-01-28 23:24] tustvold commented on #1245
I've found the bug, the derp is strong - will post a PR shortly :smile:

[2022-01-28 23:47] tustvold commented on #1245
Thanks again for reporting, fix in #1246

[2022-01-29 13:07] tustvold commented on #1239
Had a brief stab at adding this, the good news is it doesn't show any new problems, the bad news is it causes a lot of the tests of the validation logic to fail :laughing: I need to have a think about how best to handle this...

[2022-01-29 15:53] #1245 closed

[2022-01-30 01:35] HaoYang670 commented on #1240
@alamb Could you reproduce the problem?

[2022-01-30 10:36] alamb commented on #1240
Hi @HaoYang670  -- I do see the same problem and I agree with your assessment of the problem.

I had assumed it was related to not using nightly, but it happens for me with nightly and with stable rust.

[code]

[code]

[2022-01-31 21:42] alamb commented on #1239
Maybe we could just `#cfg` out the test suite for `ArrayData`  🤔

[2022-01-31 21:58] #1202 closed

[2022-02-01 08:25] MrKhan0747 commented on #872
I was facing this issue in parquet version 6.0 but in parquet version 5.0+ it was working fine

[2022-02-01 10:52] alamb commented on #872
I wonder if you also have an arrow dependency defined in your `Cargo.toml`, perhaps with `default-features = false`?

[2022-02-01 14:08] alamb opened #1254 "Fix all clippy lints in parquet crate"
**Describe the bug**
Due to "historical reasons" there are several clippy lints that are disabled in the parquet crate
https://github.com/apache/arrow-rs/blob/master/parquet/src/lib.rs#L18-L36

[code]

It would be great to clean up the code to pass these lints for tidiness

**To Reproduce**
Remove one of the `#[allow]` lines above, run `clippy`

**Expected behavior**
Clippy runs cleanly without bl

[2022-02-01 14:10] alamb opened #1255 "Fix all clippy lints in arrow crate"
**Describe the bug**
Due to "historical reasons" there are several clippy lints that are disabled in the `arrow` crate
https://github.com/apache/arrow-rs/blob/master/arrow/src/lib.rs#L130-L141

[code]

It would be great to clean up the code to pass these lints for tidiness

**To Reproduce**
Remove one of the `#[allow]` lines above, run `clippy`

**Expected behavior**
Clippy runs cleanly without bl

[2022-02-01 14:22] soham4abc commented on #1254
I Would like to work on the issue... If possible please assign

[2022-02-01 14:28] #1211 closed

[2022-02-01 14:28] #1226 closed

[2022-02-02 11:31] #111 closed

[2022-02-02 20:37] #1227 closed

[2022-02-02 20:37] #1240 closed

[2022-02-03 03:58] HaoYang670 commented on #1254
I'd like to have a try if no one else has been doing it!
Rust Clippy is really interesting!

[2022-02-03 18:39] alamb opened #1264 "Add `Send` + `Sync` to `DataType`, `RowGroupReader`, `FileReader`, `ChunkReader`."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Needed for https://github.com/apache/arrow-rs/pull/1154 async parquet reader. Filing its own ticket to get a space in the changeloh

[2022-02-03 18:39] alamb commented on #1264
Done in https://github.com/apache/arrow-rs/pull/1154

[2022-02-03 18:39] #1264 closed

[2022-02-03 19:19] alamb opened #1267 "Ensure links in the docs are correct"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are several links in the rustdoc that are not correct or broken, such as https://docs.rs/arrow/8.0.0/arrow/array/struct.FixedSizeListArray.html

![Screen Shot 2022-02-03 at 2 13 21 PM](https://user-images.githubusercontent.com/490673/152412718-458a6253-5543-4463-9212-a5b9b07f923c.png)

*

[2022-02-04 03:14] HaoYang670 commented on #1254
There are many dead code and unused public functions. I am not sure whether to clean them up.

[2022-02-04 13:08] alamb commented on #924
This was added in https://github.com/apache/arrow-rs/pull/1154, in arrow 9.0.0, slated for release in ~ 3 days

[2022-02-04 13:08] #924 closed

[2022-02-04 13:11] alamb opened #1269 "Provide an `async` ParquetWriter for arrow"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As it is nice to be able to read parquet files using rust `async` IO https://github.com/apache/arrow-rs/issues/111, it would be nice to write them as well

 
**Describe the solution you'd like**
A `async` writer similar in spirit to the reader created in https://github.com/apache/arrow-rs/issu

[2022-02-04 13:28] zeevm opened #1270 "Expose Dictionary to reader"
Many Parquet query engines have optimizations that rely on Dictionary encoded columns, e.g. for selections with filter.

The Rust implementation of the Parquet reader makes it difficult for a reader to read dictionary encoded values because it doesn't expose the RLE decoder to the reader code, so a reader that wishes to work with dictionary values has to re-implement an RLE decoder to read values

[2022-02-04 14:40] alamb commented on #1254
I recommend doing this issue in a few PRs -- in the first take care of the easier lints, and then in follow ons we can sort out dead code / public function nonsense together

[2022-02-04 19:47] alamb commented on #1270
FYI I think @tustvold  has some plans to contribute functionality that may be similar to the parqet crate directly in https://github.com/apache/arrow-rs/issues/1191

[2022-02-04 20:24] tustvold commented on #1270
I'd be very interested in any details you can share about your particular use-case, in particular if there is anyway we might be able to combine efforts in this space. The proposal in #1191 is just that, and any input you'd be willing to provide would be most appreciated :+1:

I'd also potentially draw your attention to #1180 which if you're using arrow provides a mechanism to extract data preserv

[2022-02-04 21:38] rjnanderson opened #1272 "csv impl WriterBuilder has no with_datetime_format()"
**Describe the bug**
Can't override csv WriterBuilder's default datetime_format because ***this*** is missing:

impl WriterBuilder {
. . .
    ***/// Set the CSV file's datetime format***
    ***pub fn with_datetime_format(mut self, format: String) -> Self {***
        ***self.datetime_format = Some(format);***
        ***self***
    ***}***
. . .

**Additional context**
version 8.0.0

[2022-02-04 22:54] tustvold commented on #1198
I think this can be closed now

[2022-02-05 08:18] zeevm commented on #1270
@alamb @tustvold My use case is a proprietary analytical DB engine, it has its' own proprietary storage format but also allows running queries against external formats like Parquet.

As it already has a highly optimized scan capability of dictionary encoded data, all I want is for it to have access to the raw Parquet dictionary.

I don't want to take a dependency on Arrow array for that as I'm not

[2022-02-05 08:41] tustvold commented on #1270
Thank you for taking the time to respond, I figured that might be the case, but thought it couldn't hurt to check.

As a heads up if you're reading the data directly, the RLE encoding is not length preserving (#1111), and there are some other shenanigans concerning dictionary spilling.

FWIW there were some generics added in #1041 and evolved since to aid decoding columns to custom in-memory repre

[2022-02-05 10:55] zeevm commented on #1270
@tustvold My engine assumes a column is either fully dictionary encoded or not, so for my use case I first have to scan the headers of all pages in the a column chunk to assert they're all dictionary encoded, if any of them are not (other than the dictionary page itself of course), I treat the column as not-dictionary encoded, meaning I'll read with a ColumnReader instead of a PageReader and let t

[2022-02-05 11:15] #1198 closed

[2022-02-05 11:23] alamb opened #1274 "Automatically run and track arrow / parquet benchmarks overtime"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As discussed by @jonkeane in https://github.com/apache/arrow-site/pull/188#discussion_r799558584

It would be nice to track the speed of rust benchmarks over time to
1. Ensure it doesn't regress (get worse) accidentally
2. We can see the results of improvements over time (and link to them publ

[2022-02-05 11:28] alamb commented on #1269
Thanks @xudong963  - I personally suggest starting with the API design. As in write an example program showing how you would use the feature. Something like the following (sorting out what types to use for streams, etc):

[code]

[2022-02-05 13:29] xudong963 commented on #1269
Thanks for your nice suggestion! @alamb, I'll start the task tomorrow.

[2022-02-05 16:21] rjnanderson opened #1275 "parquet doesn't preserve the time in Datatype::Date64"
**Describe the bug**
When a RecordBatch is stored in a parquet file and then retrieved the time portion of Datatype::Date64 values is changed to 0.

**To Reproduce**
with this schema:
Field::new(“item”, DataType::Utf8, false),
Field::new(“timestamp”, DataType::Date64, false)

1. Read the csv1 data below into batch1
2. Write batch1 to csv1a
3. Compare csv1 to csv1a — they match
4. Write batch1 to a

[2022-02-06 01:44] #1270 closed

[2022-02-06 13:58] zeevm commented on #1032
FWIW I make use of all levels of the api through FileReader, ColumnReader and even PageReader

[2022-02-06 15:46] xudong963 commented on #1269
I felt the need to provide these new APIs and structs.

[code]

I noticed that we have a **buffer** optimization in the sync write part. I'm not sure if we need to keep the buffer in the async write part.

[2022-02-06 19:32] tustvold commented on #1269
Are you referring to the buffer added in #1214 as it would be really cool to keep that if possible? `RecordBatch` are likely significantly smaller than the ideal size for a row group

[2022-02-06 19:43] tustvold opened #1276 "Prevent Constructing Decoder for Incompatible Types"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It is possible to call `get_decoder` with any `T: DataType` and a corresponding `Encoding`, even if that `Encoding` doesn't make sense for that type. For example

[code]

These will error, or in some case panic, if an attempt is made to use them but it would be better to return an error on co

[2022-02-06 21:05] Tudyx opened #1278 "how to create arrow::array from streamReader"
I want to create an `arrow::table`  from a `StreamReader` object to be able to call the `slice` method on it. So far i have read my arrow file into my `StreamReader` but i don't find the good functions to make it into an `arrow::table`.  I don't have any assumption on the type of the data that the stream contains.
[code]
I tried
[code]
and i also tried accessing the `BufReader<R>` of `StreamReader

[2022-02-07 02:20] xudong963 commented on #1269
@tustvold Yep, thanks! I'll take a look at #1214 and reorganize my thoughts.

[2022-02-07 09:48] tustvold opened #1279 "`ScalarBuffer::pad_nulls` Zeros Out Padded Data Unnecessarily"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`ScalarBuffer::pad_nulls` iterates backwards through the values, moving them into their final positions. It does this by swapping them with the zero-initialized value in the destination position.

**Describe the solution you'd like**

As far as I understand the specification, primitive arrays

[2022-02-07 10:39] tustvold opened #1281 "Faster `DeltaBitPackDecoder`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The current `DeltaBitPackDecoder` implementation decodes each value separately with a call to `BitReader::get_unaligned`. This prevents it from benefiting from the vectorized `unpack32` that is used by RLEDecoder, and makes for a complex inner body of the loop. It also seems to do a fair amou

[2022-02-07 10:40] tustvold commented on #1281
I have a PR of this mostly done, just hunting down remaining bugs

[2022-02-07 11:30] tustvold opened #1282 "Don't Interwine Bit and Byte Aligned Operations in `BitReader`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`BitReader` contains a mixture of byte-aligned APIs such as `get_aligned` and `get_vlq_int` along with bit-aligned APIs such as `get_value` and `get_batch`. This makes the implementation kind of hard to follow, there is a buffer but this is only used for bit-level APIs, there is a bit_offset,

[2022-02-07 14:58] #1267 closed

[2022-02-07 15:07] jhorstmann opened #1285 "Mistake in chunked part of comparison kernels"
**Describe the bug**
Comparison kernels seem to return incorrect results

**To Reproduce**
Noticed when updating arrow version in our code. Issue seems to only occur with larger data sets and only with simd feature active. Comparison tests do not seem to cover any arrays > 64 elements, so probably the bug is in the chunked part of the comparison logic.

[2022-02-07 17:04] #1285 closed

[2022-02-08 12:04] #232 closed

[2022-02-08 19:35] alamb opened #1288 "Improve filtering performance by special casing high and low selectivity predicates"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The differences in selecting most of the input vs selecting only 1/1000'th of the input can be leveraged to improve the performance of filtering

[2022-02-08 19:50] #1279 closed

[2022-02-08 20:10] #1009 closed

[2022-02-08 20:10] #1083 closed

[2022-02-09 04:05] HaoYang670 commented on #1230
Hi, I am curious about what is the meaning of `index` here:

[2022-02-09 09:33] tustvold commented on #1230
It's for when MutableArrayData is created from multiple source arrays, and is used to select which one to copy values from. The concat kernel makes use of this functionality at the moment

[2022-02-09 09:44] alexhallam commented on #983
I am getting an error with the code below

[code]

here is the error

[code]

Since `Field::Float` does not exist I am guessing I will need to do something like a `f.try_merge` as shown here https://docs.rs/arrow/6.2.0/arrow/datatypes/struct.Field.html

[2022-02-09 11:13] alamb commented on #983
@alexhallam I think the issue is that you are using the "wrong" `Field` -- the error message is for one.in `Arrow` and the one you probably need to use is in parquet:  https://docs.rs/parquet/8.0.0/parquet/record/enum.Field.html

[2022-02-09 21:03] #1288 closed

[2022-02-10 04:11] andygrove opened #1292 "csv_writer benchmark fails with "no such file or directory""
**Describe the bug**
csv_writer benchmark fails with "no such file or directory"

**To Reproduce**
Run `cargo bench` from the root of the repo

**Expected behavior**
Should not fail.

**Additional context**
None

[2022-02-10 07:41] nevi-me opened #1294 "Test failure: bit_chunk_iterator"
**Describe the bug**
The `test_unaligned_bit_chunk_iterator()` test fails to run on aarch64 because of an assertion `assert!(ALIGNMENT > 64)`.  There are several platforms that support 64-bit or lower alignment, and this assertion will also fail on them.

**To Reproduce**
Steps to reproduce the behavior:

Run arrow tests with arm, aarch64 or other platform with a lower alignment than the assertion

[2022-02-10 07:58] #1292 closed

[2022-02-10 08:31] viirya opened #1295 "Implement an iterator for DictionaryArray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Based on https://github.com/apache/arrow-rs/pull/1263#discussion_r798048223, seems it is good to have iterator for `DictionaryArray` so we can easier manipulate it in some cases, e.g. zipping values from two `DictionaryArray`.

**Describe the solution you'd like**
A clear and concise descript

[2022-02-10 08:34] tustvold commented on #1294
IIRC this will just impact the correctness of the test and not the code, but I'll take a look. Thanks for reporting :+1:

[2022-02-10 11:36] #1294 closed

[2022-02-10 15:26] alamb opened #1298 "More ergonomic / idiomatic primitive array creation from iterators"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I want to write this to create an array without nulls (as I am used to using this syntax all over rust codebases):

[code]

However, i have to write this (add a `Some` so it becomes an `Option`) which is annoying.

[code]

Note you can write this, but that is not as idomatic
[code]

**Describ

[2022-02-10 15:32] alamb opened #1299 "Improve ergonomics to construct `DictionaryArrays` from `Key` and `Value` arrays"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to create a dictionary array where I already know its keys and values so that I can ensure that the dictionaries are actually shared or I can avoid rebuilding a dictionary when I already have dictionary encoded data.

Right now if you need to do this, you end up with code that is f

[2022-02-10 15:37] alexhallam commented on #983
That fixed the issue. Thanks

[2022-02-11 07:39] #1278 closed

[2022-02-11 22:15] ScottSyms opened #1302 "module 'data_type' is private in Rust Parquet 8.0.0"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-02-11 22:29] ScottSyms commented on #1302
Executing some code from stack overflow which works with the Rust parquet crate before 8.0.0.  The error generated by the use parquet::data_type::ByteArray suggests the data_type module is not made public.  Not sure if this a release change or a bug.

extern crate parquet;
use std::{fs, path::Path, sync::Arc};
use parquet::{column::writer::ColumnWriter, data_type::ByteArray, file::{
    properties

[2022-02-12 12:46] gsserge commented on #1255
I'd like to work on this one. One PR per lint rule should make it easier to review and integrate.

[2022-02-12 13:12] alamb opened #1304 "Release arrow ~10.0.0~ 9.1.0"
EDIT: suggestion is to release this as arrow 9.1.0 as there are no breaking changes.

**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Arrow 10.0.0 is scheduled for release (RC on Feb 18, 2022 release on Feb 21, 2022 if we follow the same schedule as other releases)

I will not be able to contribute to the project for these dates as I will b

[2022-02-12 13:21] alamb commented on #1302
Hi @ScottSyms  -- thanks for the report and sorry for the issue you are encountering

I think  this is fixed in arrow 9.0.0 (in https://github.com/apache/arrow-rs/pull/1244 from @tustvold ), which is due to be released later today or tomorrow.

There is a workaround (add the `experimental` feature) described here: https://github.com/apache/arrow-rs/issues/1032#issuecomment-1023952706 if you would

[2022-02-12 13:22] alamb commented on #1255
Thanks @gsserge  that would be great!

[2022-02-12 13:50] tustvold commented on #1304
I'd be happy to help out with preparing the release, but would of course need the assistance of a committer to cut the actual release. It may be easier for a single committer to handle the whole thing, but thought I'd offer :smile:

[2022-02-12 18:07] ScottSyms commented on #1302
Awesome- thanks for the quick response!!

[2022-02-12 18:07] #1302 closed

[2022-02-13 13:13] alamb opened #1307 "parquet async_writer not showing up in docs.rs parquet documentation"
**Describe the bug**

The link to the `async_read` in the parquet 9.0.2 docs is not a link when published on docs.rs:

![Screen Shot 2022-02-13 at 8 10 54 AM](https://user-images.githubusercontent.com/490673/153754744-9750a9ae-bf91-465b-987b-6b1e1f51b319.png)

**To Reproduce**
https://docs.rs/parquet/9.0.2/parquet/

**Expected behavior**
The link should be active.

**Additional context**
Came in v

[2022-02-14 07:32] shanisolomon opened #1308 "Expose bloom filter metadata offset"
Exposing the bloom filter offset in in the column chunk metadata so parquet engines could optimize their reads.

[2022-02-15 15:11] #1281 closed

[2022-02-15 19:15] #1282 closed

[2022-02-15 19:56] alamb opened #1312 "Add `as_decimal_array(arr: &dyn Array) -> &DecimalArray`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are many `as_XXX` functions  such as [`as_boolean_array`](https://docs.rs/arrow/9.0.2/arrow/array/fn.as_boolean_array.html) to conveniently downcast arrays to the appropriate concrete Array types, but not one for `DecimalArray` 😢 .

The full list of supported ones is in the doc  https://

[2022-02-15 19:56] alamb commented on #1312
cc @liukun4515

[2022-02-15 20:04] #1308 closed

[2022-02-15 20:11] alamb opened #1313 "Improve performance of `DictionaryArray::try_new()`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

https://github.com/apache/arrow-rs/issues/1300 adds `DictionaryArray::try_new()` for creating `DictionaryArrays` from existing keys and dictionaries. However, as noted by @jhorstmann in https://github.com/apache/arrow-rs/issues/1300#issuecomment-1037978864 this results in a double validation

[2022-02-15 20:12] #1299 closed

[2022-02-16 04:19] HaoYang670 opened #1316 "`len` is not a parameter of `MutableArrayData::extend`"
**Describe the bug**
Noticed while working on #1230 .
The document of `MutableArrayData::extend` contains a weird value `len` which is not a parameter of this function.

![image](https://user-images.githubusercontent.com/59198230/154194965-54a17735-a171-4db2-a9fc-8183543ebe5c.png)

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
Replace `len` by `end - start` in the docume

[2022-02-16 08:54] shanisolomon opened #1317 "Expose column and offset index metadata offset"
Exposing the column index and offset index offsets and lengths so parquet engines could optimize their reads.

[2022-02-16 09:19] shanisolomon opened #1319 "test_column_chunk_metadata_thrift_conversion test bug"
test_column_chunk_metadata_thrift_conversion doesn't check full thrift conversion. It only checks from_thrift as it comares two thrift objects.

test_column_chunk_metadata_thrift_conversion passing didn't flag to_thrift wasn't altered to assign bloom_filter_offset as part as https://github.com/apache/arrow-rs/pull/1309.

[2022-02-16 11:57] #1295 closed

[2022-02-16 12:02] #1319 closed

[2022-02-16 16:58] #1317 closed

[2022-02-16 17:21] shanisolomon opened #1321 "Exposing page encoding stats"
Exposing page encoding stats in the column chunk metadata.

[2022-02-16 17:35] alamb opened #1323 "Consider support / implementation of Arrow Flight SQL"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Arrow Flight SQL has just been officially announced https://arrow.apache.org/blog/2022/02/16/introducing-arrow-flight-sql/

It would be very cool if we had a Rust implementation of this protocol to make it easier to build systems in Rust that used this efficient new protocol and would allow be

[2022-02-16 18:04] andygrove commented on #1323
Ideally, the Ballista scheduler should also implement a Flight SQL interface.

[2022-02-16 18:31] alamb commented on #1323
Yeah, I was thinking that if we had this adapter that handled the lower level protocol details, connecting to Ballista would be fairly straightforward

[2022-02-16 18:53] e-dard commented on #1323
I have been working on a (very clunky right now) Rust prototype that speaks the server side PostgreSQL wire protocol, parses queries and then will dispatch them to anything that speaks SQL over flight, e.g., our IOx project.

In terms of the translation between a PG query/command and a backend datasource request, I suspect that I am going to end up doing a lot of the work that an implementation of

[2022-02-16 19:26] alamb commented on #1323
Just so that it is clear, Arrow Flight SQL is a replacement for the pg wire protocol (both the command messages and data format).

[2022-02-16 20:07] nevi-me commented on #1304
I can cut an RC over the weekend, on Saturday

[2022-02-16 20:16] e-dard commented on #1323
That's super interesting @nevi-me!

I'n primarily interested in making it possible for services/projects that can talk to PG to be able to talk to IOx, where IOx really means Datafusion. My approach has been to implement the PG wire protocol and then handoff a sub-set of supported PG behaviours to a backend over Flight (e.g., queries). Then translate responses (record batches) in PG responses.

I

[2022-02-16 20:28] alamb commented on #1304
Thanks @nevi-me  -- I'll try and make a PR with some proposed release notes and a version bump as well to help out

[2022-02-16 20:48] nevi-me commented on #1323
That's a great use-case, supporting the Postgres protocol makes sense as tools (esp BI) that support reading the protocol could treat IOx as a source, similar to CockroachDB and others.

___

I've dumped my rough drafts of the code I mentioned here: https://github.com/nevi-me/datafusion-rdbms-ext. Nothing of decent quality, but could serve as motivation for someone who has the interest and bandwid

[2022-02-16 21:59] GavinRay97 commented on #1323
@nevi-me That link is super interesting, thank you!

[2022-02-16 22:01] alamb commented on #1304
https://github.com/apache/arrow-rs/pull/1325

[2022-02-17 05:06] wangfenjin commented on #1323
@nevi-me I checked your code, the idea is to have a to_sql() method for LogicalPlan. I think it's a good idea, actually yesterday I also try to read datafusion's codebase to find this kind of method, but got no clue.

I suggest we implement this method in datacusion, at least can covert to sql dialect datafusion itself can understand.

[2022-02-17 06:49] seddonm1 commented on #1323
I have an implementation of datafusion querying directly against postgres I can share. It too uses the catalog but it allows joining a postgres table to a parquet table to now a parquet from a S3 compatible source. It would be easy enough to define a proper trait so multiple implementations could be done.

I also did the auth and part of a rust postgres protocol server (so pgcli can connect to rus

[2022-02-17 07:13] gsserge opened #1327 "Make bounds configurable via builder when reading csv"
Discovered in https://github.com/apache/arrow-rs/pull/1324#discussion_r808432653

`ReaderBuilder` for cvs has the `bounds` field, which is supposed to be configured via builder and then passed to `Reader::from_csv_reader()` in the `ReaderBuilder::build()` method. At the moment this is not the case.

The fix should include new `ReaderBuilder::with_bounds()` method and a change in `ReaderBuilder::bu

[2022-02-17 07:29] gsserge opened #1328 "Fix csv Writer::new to accept delimiter and make WriterBuilder::build use it"
Discovered in https://github.com/apache/arrow-rs/pull/1324#discussion_r808432375

The delimiter can be correctly configured via `WriterBuilder`. `WriterBuilder::build()` constructs the `Writer` in-line and does not use `Write::new()`.

Currently, `Write::new()` does not have the ability to configure the delimiter. The function should be changed to accept it as a parameter, and then `WriterBuilder:

[2022-02-17 08:04] tafia commented on #1120
I know this is an old issue but just giving my 2 cents.

While I definitely agree working out of master directly, bumping a major version so frequently is not super convenient.

I am not sure where this is coming from. From my experience there are many important crates which are trying hard not to release new major versions unless necessary (rocket, actix-web, chrono, tokio, log for the most impor

[2022-02-17 09:56] viirya opened #1329 "Use DictionaryArray's iterator in `compare_dict_op`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**
A clear and concise description of what you wan

[2022-02-17 10:43] alamb commented on #1120
(reddit post https://www.reddit.com/r/rust/comments/ss8vjy/february_2022_rust_apache_arrow_and_parquet/)

[2022-02-17 10:45] alamb commented on #1304
After reviewing the changelog, it seems like this could actually be a 9.1.0 release (see comment from @tafia https://github.com/apache/arrow-rs/issues/1120#issuecomment-1042672561 ,

Thoughts @tustvold ?

[2022-02-17 10:47] alamb commented on #1120
Thank you for your feedback @tafia -- it is nice to hear from someone who valued the incremental updates!

[2022-02-17 10:49] liukun4515 commented on #1312
If no one takes this, I am glad to do this task.
@alamb  Please assign it to me.

[2022-02-17 10:52] tustvold commented on #1304
@alamb We are of the same mind :laughing: - https://github.com/apache/arrow-rs/pull/1325#issuecomment-1042762455

[2022-02-17 10:54] alamb commented on #1304
Cool will update the versions in #1325

[2022-02-17 10:55] liukun4515 commented on #1312
I will do this in the weekend, and focus on some knowledge about ballista and distributed scheduler.

[2022-02-17 12:28] #1255 closed

[2022-02-17 12:45] alamb commented on #1316
I think fixing the doc comment would be the best approach here

[2022-02-17 13:00] alamb opened #1332 "Consider removing redundant has_XXX metadata functions in `ColumnChunkMetadata`"
The parquet column chunk metadata  `has_` methods for optional values in the metadata which are, strictly speaking, redundant with the methods that return `Option`

We should consider removing the other has_XXX methods

_Originally posted by @shanisolomon in https://github.com/apache/arrow-rs/pull/1322#discussion_r808711613_

[2022-02-17 18:32] #1321 closed, assigned to nobody

[2022-02-18 01:10] tafia commented on #1304
Thanks !!

[2022-02-18 01:42] HaoYang670 commented on #1328
Just a small nit. The title should be `Fix CSV` not `Fix cvs`.

[2022-02-18 02:45] viirya opened #1333 "`ArrowArray::try_from_raw` should not assume the pointers are from Arc"
**Describe the bug**

`ArrowArray::try_from_raw` now uses `Arc::from_raw` to construct the two pointers to the C Data Interface (ArrowArray and ArrowSchema) back to the structs.

But the two pointers could be from other language runtime (e.g. JVM). We've been using the ffi API to pass Arrow Arrays from JVM to Rust. Sometimes we see fatal error reported at JVM (`SIGILL`). After digging it deeper, w

[2022-02-18 08:45] pcjentsch opened #1335 "Files written with Julia's Arrow.jl in IPC format cannot be read by arrow-rs"
**Describe the bug**
Files written with Julia's Arrow.jl IPC format have a footer that causes arrow-rs to panic. I think this is a bug on the side of `arrow-rs` because `arrow2` can read them.

**To Reproduce**
Reproduced in [this small repository](https://github.com/pcjentsch/testing_ipc_issue).

[code]

output
[code]

**Expected behavior**
`arrow-rs` should open the file as `arrow2` does.

[2022-02-18 09:34] HaoYang670 opened #1337 "Refactor the code of `Bitmap::new`"
**Expected behavior**
A clear and concise description of what you expected to happen.
[code]
We can use `bit_util::ceil` and `bit_util::round_upto_multiple_of_64` to refactor the code.

**Additional context**
Notice when working on #1230

[2022-02-18 11:14] Igosuki commented on #993
@alamb https://github.com/apache/arrow-rs/blob/master/parquet/src/arrow/array_reader.rs#L1622

[2022-02-19 09:56] Dandandan opened #1338 "Arrow IPC projection support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The `FileReader` currently doesn't support projection to skip reading/decoding certain columns.
This could be used by engines lole DataFusion to make the Arrow file reader more efficient.

**Describe the solution you'd like**
Support an optional `Vec<usize>` parameter to configure the column i

[2022-02-19 16:05] matthewmturner opened #1340 "Add `write` method to JsonWriter"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
I'm looking to add `write_json` functionality in `DataFusion` as part of https://gith

[2022-02-19 16:05] #1316 closed

[2022-02-20 07:01] shanisolomon opened #1344 "Remove redundant has_ methods for optional column metadata fields"
Remove redundant has_ methods for optional column metadata members as they could be access by `if let(Some) = field`.

[2022-02-20 18:26] #1333 closed

[2022-02-20 21:26] wjones127 opened #1348 "FFI for Arrow C Stream Interface"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Enable receiving/sending a stream of Record Batches from/to another Arrow implementation. For example, https://github.com/datafusion-contrib/datafusion-python/pull/21 could benefit from a way to import a RecordBatchReader into Rust so it can be used by DataFusion.

**Describe the solution you

[2022-02-21 05:59] #1337 closed

[2022-02-21 06:12] HaoYang670 commented on #101
Could we close this issue, as we can pass this test now ?

[2022-02-22 04:59] HaoYang670 opened #1350 "Refactor `RecordBatch::validate_new_batch`"
**Describe the bug**
The function `validate_new_batch` constains some repetitive code. We could find a way to refactor it.
https://github.com/apache/arrow-rs/blob/master/arrow/src/record_batch.rs#L133-L166

**To Reproduce**

**Expected behavior**
Clean and readable code

**Additional context**
Add any other context about the problem here.

[2022-02-22 05:07] HaoYang670 commented on #1350
Using `Iterator.find` or `Iterator.any` may be a good choice.

[2022-02-22 05:44] HaoYang670 opened #1351 "Refactor `StructArray::from`"
**Describe the bug**
The function `StructArray::from` uses `vec.push` in a for loop, which may cause periodical memory reallocation.
What about using `Iterator::collect` instead? Need your help.
[code]
https://github.com/apache/arrow-rs/blob/master/arrow/src/array/array_struct.rs#L110-L114

**To Reproduce**
None

**Expected behavior**
Avoid using `vec.push` in a for loop and avoid mutable variable

[2022-02-22 13:48] TimDiekmann opened #1352 "Expose an `advance` method on builders"
Given the scenario from the [Fixed size list layout in the Arrow Columnar Format](https://arrow.apache.org/docs/format/Columnar.html#fixed-size-list-layout), I have a list of IP addresses:

For an array of length 4 with respective values:

[code]

which will have the following representation:
[code]

When using the builder-API I currently have this code:

[code]

As I wrote `value_builder.append_n

[2022-02-22 14:24] TimDiekmann opened #1353 "Unable to generate a fixed-size-list with nullable fields and specified field name for inner types with `FixedSizeListBuilder`"
Given the same example as in #1352, it's not possible to specify the `Field` of the nested type.

I expect to have a `Field` definition like
[code]

Notable things:
- `inner_field` is not nullable
- `inner_field` is called `"part"`

When using the `FixedSizeListBuilder`, the `finish()` method will generate the `Field` hardcoded:
[code]

## Proposed solution

Add a way to specify the inner field

[2022-02-22 17:03] #1344 closed

[2022-02-22 23:29] tjwilson90 opened #1354 "arrow::array::builder::MapBuilder is private"
This should be publicly exported as `arrow::array::MapBuilder` like other array builder types.

[2022-02-23 09:43] HaoYang670 commented on #1351
@alamb Is this refactoring worth doing?

[2022-02-23 09:43] HaoYang670 commented on #1350
@alamb Is this refactoring worth doing?

[2022-02-23 11:15] tiphaineruy opened #1357 "LargeUtf8 unsupported in json writer"
**Describe the bug**

I was reading a parquet file and converting to json
Unsupported datatype: LargeUtf8
.cargo/registry/src/github.com-1ecc6299db9ec823/arrow-6.3.0/src/json/writer.rs:490:13

**To Reproduce**

write a LargeUtf8 with the json writer

**Expected behavior**

LargeUtf8 written to json

**Additional context**

Not sure how to fix the round trip issue. LargeUTf8 -> json -> will be read

[2022-02-23 18:59] #1357 closed

[2022-02-23 19:15] #1272 closed

[2022-02-24 07:38] #1351 closed

[2022-02-24 07:42] #1327 closed

[2022-02-24 07:48] #1354 closed

[2022-02-24 07:50] #1328 closed

[2022-02-25 02:57] HaoYang670 opened #1362 "`cargo clippy` fails on the `master` branch"
**Describe the bug**
After update `rustup` to the latest version `rustc 1.59.0`, running `cargo clippy` on master branch fails.

**To Reproduce**
1. update rustup to the latest version ` rustc 1.59.0`
2. run `cargo clippy --features test_common --features prettyprint  --features=async --all-targets --workspace -- -D warnings` on `master` branch
3. build failed

**Expected behavior**
No error.

**A

[2022-02-25 12:18] #1362 closed

[2022-02-25 16:51] Dandandan opened #1365 "Optimize IO by using projection"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
After the PR https://github.com/apache/arrow-rs/pull/1339 the projection is supported.
While this saves some copies / array creation, this doesn't use the projection yet avoid IO for reading the data (from a file).

**Describe the solution you'd like**
Use the projection to skip reading parts

[2022-02-26 02:57] HaoYang670 opened #1366 "Remind developers to update Rust to the latest version."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The developer's guild does not mention what version of Rust is required.
We should remind developers to update their Rust tool chain to the latest stable version.

**Describe the solution you'd like**
Add something like
[code]
in CONTRIBUTING.md

[2022-02-26 20:19] #1304 closed

[2022-02-27 20:56] alamb commented on #1304
Thank you so much @nevi-me  and everyone else who helped with this release!

[2022-02-27 22:02] alamb commented on #1350
Hi @HaoYang670  -- sorry i am just getting back from a week away. I will check this (and the linked PR out) over the next day or two

[2022-02-28 01:19] kylebarron commented on #180
I made [another effort](https://github.com/kylebarron/parquet-wasm) on top of @andyredhead 's [helpful repo](https://github.com/my-liminal-space/read-parquet-browser) to create a minimal JS parser from Parquet to Arrow. So far it seems to work with Snappy and uncompressed Parquet files, though the generated Arrow IPC files seem to be occasionally malformatted (errors of `Expected to read 1264832 m

[2022-02-28 06:43] novemberkilo commented on #1036
This is relevant to this issue https://github.com/apache/arrow-rs/pull/1063#issuecomment-1053939744

[2022-02-28 15:38] rdettai commented on #1304
sorry for not reacting to this, this last months have been very busy for me! I'll try to help out next time 😉

[2022-02-28 19:17] #1366 closed

[2022-02-28 19:21] alamb commented on #1254
Sorry for the late reply @HaoYang670

If the code is dead I think we should remove it. One way for `pub` functions to be dead is if the module they are defined in is not `pub`.

I am not sure how you are running clippy, but it may also be that some of these structs are only used when certain features of the `parquet` crate are enabled.

I believe our CI system has good coverage so feel free to try

[2022-02-28 20:09] alamb commented on #101
I think so. Thank you @HaoYang670

Just to be sure, I tried the reproducer from the original ticket https://issues.apache.org/jira/browse/ARROW-9975

[code]

And it prints out:
[code]

cc @jorgecarleitao  and @ritchie46

[2022-02-28 20:09] #101 closed

[2022-02-28 20:38] alamb commented on #1353
Thanks for the report @TimDiekmann ! Feel free to submit a PR if you want, and otherwise I think this would be a good first project for someone who wanted to get introduced to the codebase

[2022-02-28 20:40] alamb commented on #1352
I wonder if we could just add `advance()` to the ListBuilder interface.

I am a little worried about adding a ` pub advance()` function to all the builders that simply leaves the values undefined as it would be fairly easy to misuse.

Maybe we `ListBuilder::advance` could be `pub` and the `advance()` functions on the value builders could be `pub(crate)` 🤔

[2022-02-28 20:48] alamb commented on #1335
Looks like there is a function that assumes there is a footer when there may not be -- looks pretty straight forward to me. I'll try and get a fix up in the next few days if no one else beats me to to it.

https://github.com/apache/arrow-rs/blob/573744953884c8860c9419439759c124c7d4186e/arrow/src/ipc/reader.rs#L636

Thank you for the great report @pcjentsch

[2022-02-28 20:54] alamb opened #1371 "Improve performance of `compare_dict_op`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

https://github.com/apache/arrow-rs/pull/1330 introduced a significant cleanup for comparing dictionary arrays 🎉

However, it also may reduce performance as it indirectly calls `value()` repeatedly in an array which checks the bounds. This bounds check is necessary for known good dictionary ar

[2022-02-28 20:55] #1329 closed

[2022-02-28 21:02] #1312 closed

[2022-03-01 05:59] HaoYang670 opened #1373 "Improve performance of `min` and `max` aggregation kernels without nulls"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The function `min_max_string` does some unnecessary checks when `null_count > 0 `. For example, we don't need to check `has_value` in every loop because it will always be `true` after the first loop.
[code]
https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/aggregate.rs#L

[2022-03-01 07:24] Ted-Jiang opened #1375 "Add extract week in temporal.rs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add a method Extracts the week of a given temporal array as an array of integers.
For [datafusion](https://github.com/apache/arrow-datafusion/issues/1896)
will implement
`week` :week number starting from 1 in the year.

**Describe the solution you'd like**
put the logic in datafusion

[2022-03-01 08:00] HaoYang670 opened #1377 "Update `rust-version` to 1.59"
**Describe the solution you'd like**
https://blog.rust-lang.org/2022/02/24/Rust-1.59.0.html
Update `rust-verison` from 1.57 to 1.59

[2022-03-01 11:37] #1201 closed

[2022-03-01 15:41] rdettai commented on #218
@nevi-me: blast from the past! 😄
- We support field metadata since https://github.com/apache/arrow/pull/9025
- What did you have in mind with "supporting the Arrow format" ? I don't really see what else we could do to materialize extension types within arrow-rs:
  - adding a new variant to the `DataType` enum would not be practical because downstream apps that want to handle the extension type as

[2022-03-01 22:29] kesavkolla commented on #993
The nested data structure support is been pending for long time. I am also eagerly looking for this support. I have a fairly large JSON data which I used apache spark to write to parquet files. I wanted to read them via rust arrow have no success.

[2022-03-02 00:42] helgikrs opened #1378 "filter kernel should work with `MapArray`s"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Using `arrow::compute::kernels::filter::filter` and `arrow::compute::kernels::filter::filter_record_batch` on arrays (or record batches respectively) containing `MapArrays` produces a panic such as
[code]

**Describe the solution you'd like**
It should just like it does for lists.

[2022-03-02 02:58] Ted-Jiang opened #1380 "Handle the timezone in extract week in temporal.rs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]
Now `week` not support Timestamp with timezone.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**A

[2022-03-02 05:19] matthewmturner opened #1381 "Add clone to `IpcWriteOptions`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)
To help with https://github.com/apache/arrow-datafusion/pull/1893

**Describe the sol

[2022-03-02 05:34] matthewmturner commented on #1340
I am going to work on this

[2022-03-02 15:25] #1332 closed

[2022-03-02 15:26] #1350 closed

[2022-03-02 16:13] alamb commented on #993
Hi @kesavkolla  -- could you possibly share an example file we could use to test any fix?

[2022-03-02 16:15] #1381 closed

[2022-03-02 19:21] Igosuki commented on #993
I have a parquet file https://github.com/Igosuki/arrow2/blob/main/part-00000-b4749aa1-94e4-4ddb-bab2-954c4d3a290f.c000.snappy.parquet it uses List(List(Float64))

[2022-03-02 20:48] nevi-me commented on #1323
@seddonm1 does your implementation have support for Postgres' NUMERIC type? I'm struggling with figuring out how to convert that doe `DataType::Decimal(p, s)`, and could do with some help

[2022-03-03 04:20] Ted-Jiang opened #1387 "Add extract month and day in temporal.rs"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add a method Extracts the month of a given temporal array as an array of integers.

[2022-03-03 05:31] chauhanVritul commented on #993
Here is a sample parquet file [https://github.com/chauhanVritul/sampleparquet/blob/main/part-00000-8e5acb24-eb4e-491c-8c85-88799f25d1f0-c000.snappy.parquet](url)

[2022-03-03 10:04] Igosuki commented on #720
@kesavkolla Here are two parquet-files that cannot be read by arrow-rs :
https://github.com/Igosuki/arrow2/blob/main/part-00000-b4749aa1-94e4-4ddb-bab2-954c4d3a290f.c000.snappy.parquet
https://github.com/chauhanVritul/sampleparquet/blob/main/part-00000-8e5acb24-eb4e-491c-8c85-88799f25d1f0-c000.snappy.parquet

[2022-03-03 10:04] Igosuki commented on #993
Yes, this use case is supported in datafusion. For instance, you can read nested avro and json schemas, so the issue should be raised with arrow-rs, I added a comment here https://github.com/apache/arrow-rs/issues/720 with our files.

[2022-03-03 11:34] #1371 closed

[2022-03-03 12:14] HaoYang670 commented on #1254
Thank you @alamb. There are some experimental mods under `parquet`. And I must add `--features experimental` to make them public. But I am not sure whether our CI adds this flag.

[2022-03-03 14:04] #1298 closed

[2022-03-03 16:25] jamescorbett opened #1390 "`FixedSizeBinaryArray::try_from_sparse_iter` failed when given all Nones"
**Describe the bug**

try_from_sparse_iter expects at least one item to have Some to determine the size. This is a bad assumption as it may recieve all Nones.

[code]
**To Reproduce**

[code]

**Expected behavior**

A record batch with a colum of all nulls.

**Additional context**

I would suggest fixing it by changing the behaviour of defaulting in **array_binary.rs:560**

[code]

or changing the

[2022-03-03 17:24] alamb commented on #1390
Thank you for the report

[2022-03-03 17:47] #1373 closed

[2022-03-03 17:49] #1340 closed

[2022-03-03 17:56] alamb opened #1391 "Arrow release 10.0.0"
Next weekly release follow on from #1304

**Describe the solution you'd like**
Release the next version of arrow-rs

I think that there are certain API changes (https://github.com/apache/arrow-rs/pull/1345 and https://github.com/apache/arrow-rs/pull/1346 that will require a major version bump -- 10.0.0)

I plan to create a release candidate as ususal

cc @nevi-me @velvia @liukun4515  @tustvold

[2022-03-03 18:10] alamb opened #1392 "Add doc examples for creating FixedSizeListArray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I wanted to quickly create an example for `FixedSizeListArray` but did not find any quickly on docs.rs:
https://docs.rs/arrow/9.1.0/arrow/array/struct.FixedSizeListArray.html

**Describe the solution you'd like**
Add a doc example, like XXX for `FixedSizeListArray`, perhaps by adapting an exsi

[2022-03-03 18:14] alamb opened #1393 "filter kernel should work with `FixedSizeListArrays`s"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Using `arrow::compute::kernels::filter::filter` and `arrow::compute::kernels::filter::filter_record_batch` on arrays (or record batches respectively) containing `FixedSizeListArrays` produces a panic such as
[code]

**Describe the solution you'd like**
It should work

**Context**
See example i

[2022-03-03 18:14] alamb opened #1394 "filter kernel should work with `UnionArray`s"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Using `arrow::compute::kernels::filter::filter` and `arrow::compute::kernels::filter::filter_record_batch` on arrays (or record batches respectively) containing `UnionArray` produces a panic such as
[code]

**Describe the solution you'd like**
It should work

**Context**
See example in https:/

[2022-03-03 18:15] #1378 closed

[2022-03-03 19:31] alamb commented on #1254
Clippy is run like this:

https://github.com/apache/arrow-rs/blob/master/.github/workflows/rust.yml#L211-L250

[code]

Perhaps we can also add the `experimental` features to this list?

[2022-03-04 01:36] sunchao opened #1397 "Support dictionary array in C data interface"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently it seems the Arrow FFI interface doesn't support dictionary yet. Even though the [field exists](https://github.com/apache/arrow-rs/blob/master/arrow/src/ffi.rs#L328) in `FFI_ArrowArray`, it is never assigned or used.

Unlike the C++ implementation, `ArrayData` doesn't have a diction

[2022-03-04 01:57] sunchao commented on #1397
[`DictionaryArray`](https://github.com/apache/arrow-rs/blob/master/arrow/src/array/array_dictionary.rs) also needs change as it is currently not C data interface compatible - when exporting to `ArrayData` it needs to populate the dictionary field in the output.

[2022-03-04 04:53] kylebarron commented on #180
Another update on the compression codecs:

- [x] Uncompressed
- [x] Snappy: works out of the box with `snap` feature
- [x] Gzip: works out of the box with the `flate2` feature
- [x] Brotli: works out of the box with the `brotli` feature. (I thought this had failed for me before, so maybe it was [updating my llvm/clang](https://github.com/kylebarron/parquet-wasm/pull/2) while debugging ZSTD that ca

[2022-03-04 06:30] liukun4515 commented on #1391
@alamb
Please take this pull request https://github.com/apache/arrow-rs/pull/1388 in this release.
Thank you.

[2022-03-04 11:42] #1387 closed

[2022-03-04 11:45] alamb commented on #1391
Will do 👍

[2022-03-04 14:19] alamb opened #1398 "Integration Test is failing on master branch"
**Describe the bug**

The "Integration Test" CI test is failing on master. For example:
https://github.com/apache/arrow-rs/runs/5421632152?check_suite_focus=true

It appears to have started in c9470279dffd81190725205e57022d68b7d24ad6 (though I don't think that PR had anything to do with it)

<img width="1353" alt="Screen Shot 2022-03-04 at 9 18 07 AM" src="https://user-images.githubusercontent.com

[2022-03-04 14:20] alamb commented on #1391
One of the CI tests is failing on master: https://github.com/apache/arrow-rs/issues/1398 which I think needs to be looked at prior to releasing 10.0.0

I can probably find time in a few hours to look into it, but if anyone else has time, that would be greatly appreciated 🙏

[2022-03-04 15:06] xudong963 commented on #1398
Maybe related to https://github.com/hyperium/tonic/issues/887

[2022-03-04 15:21] xudong963 commented on #1398
https://github.com/apache/arrow-rs/pull/864#issuecomment-951529603

When updated tonic to 6.0, I found the integration test also failed.

So I guess it's the problem of tonic @alamb

[2022-03-04 16:08] alamb commented on #1398
Thanks @xudong963 👍

[2022-03-04 18:47] alamb commented on #1398
I do not yet know what is going on, but wanted to post on my progress (I don't have all that much more time to spend today on this)

Last good run @ `Mar 3 9:04 AM EST`: https://github.com/apache/arrow-rs/commit/258f828f9fd5bdfb668cbab7005d6bff73184b8f

First failed run @ `Mar 3 12:47 PM EST`: https://github.com/apache/arrow-rs/commit/c9470279dffd81190725205e57022d68b7d24ad6

These commits PR from

[2022-03-04 20:28] jorgecarleitao commented on #1398
fwiw arrow2 is also failing on those two tests and we did not change anything in tonic, flight, IPC etc that could have caused this. I am investigating it as well.

[2022-03-04 21:40] alamb commented on #1398
FYI @jorgecarleitao

I have been able to reproduce this locally.

Here are some notes I have in case that is helpful:

[code]

[code]

Then
[code]

# now from arrow directory run the tests:
[code]
Run individual test:

[code]

[2022-03-04 22:02] alamb commented on #1398
The output from rust is:

[code]

The output from C++ is
[code]

Which seems to suggest some sort of bug in parsing headers or something

However, since other tests run, maybe it is something related to the contents?

Given how it came on suddenly, smells like something related to a change in a dependency, but I haven't found one yet

[2022-03-04 22:50] matthewmturner commented on #1398
apologize if ive misunderstood any part of this or if i dont understand full intergration testing process - but given that both arrow and arrow2 started failing i am focusing on two scenarios:

1. Dependency that both arrow and arrow2 use which caused issue.  @alamb and @jorgecarleitao are each looking into this - so i consider this "covered" in the sense that its being looked into.
2. Issue from

[2022-03-04 22:56] alamb commented on #1398
@matthewmturner  -- I agree with your assesment.

Interesting the integration tests appear to fail in apache as well with the same errors:

https://github.com/apache/arrow/runs/5427260660?check_suite_focus=true

I am looking into that as well

[2022-03-04 23:02] alamb commented on #1398
I tried backing out https://github.com/apache/arrow/commit/2462492389a8f2ca286c481852c84ba1f0d0eff9 from my local environment and it did not help

[2022-03-04 23:08] alamb commented on #1398
Even when I use arrow at https://github.com/apache/arrow/commit/e314d8d0d611c7f9ca7f2fbee174fcea3d0c66f2 which had a passing [Integration test](https://github.com/apache/arrow/runs/5408330491?check_suite_focus=true) my local test setup still fails.

This suggests that it is some change in third-party dependencies (either rust or c++) perhaps

[2022-03-04 23:50] lidavidm commented on #1398
I believe the :scheme pseudo-header is supposed to be 'http' or 'https', not 'grpc': https://grpc.github.io/grpc/cpp/md_doc__p_r_o_t_o_c_o_l-_h_t_t_p2.html

It sounds like Tonic is sending `:scheme = grpc` for some reason, then gRPC in C++ is sending a RST_STREAM back to Rust.

[2022-03-05 05:27] novemberkilo opened #1399 "Parquet reader fails to read null list."
**Describe the bug**
Parquet reader fails to read a parquet file that is generated from this json:
[code]

**To Reproduce**
I have written a test on a branch to reproduce this failure.

1. Generated a parquet-file from the aforementioned json. See https://github.com/apache/arrow-rs/pull/1063#issuecomment-1053939744 and the related issue for context. Verified that this parquet file can be read usin

[2022-03-05 09:40] HaoYang670 opened #1400 "Interesting benchmark results of `min_max_helper`"
**Describe your question**
I find some interesting benchmark results when I try to speed up the function `min_max_help`. https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/aggregate.rs#L115-L130

The only thing that I rewrote is replacing `iter().fold()` by `iter().reduce()`:
[code]

Then I ran
[code]
to find if there are any changes in performance.
And I got the result:
[cod

[2022-03-05 11:08] jhorstmann commented on #1400
Interesting, I'm actually seeing the opposite effect, with `fold` being faster. This is running on an Amd 3700U laptop. The generated code for `fold` and `reduce` seems to differ in that `reduce` contains several branches while `fold` looks relatively branchless. Different CPUs might handle one or the other better, although I would expect the branchless to win in the benchmark since the input cons

[2022-03-05 11:14] alamb commented on #1398
Thanks @lidavidm  -- that was a great hint! I think I have a workaround now https://github.com/apache/arrow-rs/pull/1402 and we'll see if that works

[2022-03-05 11:36] alamb commented on #1391
Update: I believe I have a fix for https://github.com/apache/arrow-rs/issues/1398 on  https://github.com/apache/arrow-rs/pull/1402

It is a test only fix so I will move ahead with creating a release candidate for arrow now even without that fix

[2022-03-05 12:18] HaoYang670 commented on #1400
More interesting! My desktop uses Intel i7 10700K processors.
Also, I am curious about why the compiler generates different code for `fold` and `reduce`. The `reduce` just uses `fold` in its implementation:
[code]

[2022-03-05 12:39] alamb opened #1404 "Triage remaining integration test failures with other Arrow implementations"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It would be nice to have more complete integration coverage for the rust implementation, as well as more documentation and community knowledge about how to run them.

re #1398

The basic idea here is to triage remaining failures in the integration tests with the rust implementation and file ti

[2022-03-05 13:11] jhorstmann commented on #1400
Good point, I tried some other variations and it seems to come down to the handling of references vs copying. The following two variations lead to different code:

[code]

The second one generates the same code that I saw for `fold` earlier. In theory it should be possible that both get optimized to the same code and this might be limitation in LLVM.

[2022-03-05 13:53] alamb commented on #180
Thank you for the update @kylebarron

[2022-03-05 13:54] #1398 closed

[2022-03-05 21:28] alamb commented on #1391
RC is available: https://lists.apache.org/thread/0qdntovo308g1cxsj1h113b1lr6gfvhh

[2022-03-06 02:48] HaoYang670 commented on #1400
Strongly agree with you @jhorstmann. `fold` seems to copy all elements in the array, and `reduce` just takes the references. If the code is rewritten as
[code]
and I can get the benchmark result:
[code]
, which is same as `fold`.

But wait! Which one is faster in this context, copy or reference? On my desktop, I can get 50% performance improvement by using reference. However, you said `fold` was f

[2022-03-06 03:26] HaoYang670 commented on #1400
Also, using `copy` or `reference` seems to impact the performance of null handling loop. I get the following benchmark result:
1. using `m.iter().copied().reduce(...)`:
[code]
3. using `m.iter().reduce(...).copied()`
[code]

Can you reproduce these weird results on your laptop? @jhorstmann

[2022-03-06 05:51] jackwener commented on #1390
Has it already been fixed?

[code]

I create and run this unit test, and it is ok.

[2022-03-06 11:20] alamb commented on #1390
@jackwener one thing I noticed that that function isn't marked with `#[test]` (not sure if you did that locally or not).

[code]

Is there any chance you can put up a PR with the test? That way we can close this ticket -- as 'already fixed' if it passes

[2022-03-06 11:44] #158 closed

[2022-03-06 11:58] jhorstmann commented on #1400
I can reproduce both results and it seems AMD cpus are better at handling one version of the code and Intel better at the other version. For the non-null benchmarks I get:

Intel 10510U
copy + reduce: ~ 950ns
reduce references + copy: ~450ns

Amd 3700U (timings fluctuate a bit more on this laptop)
copy + reduce: ~745ns
reduce references + copy: ~970ns

For `min nulls` I don't really see significan

[2022-03-06 12:12] HaoYang670 commented on #1400
It can be made sure that there is at least one valid value in the array. Because we have tested `all nulls array` before:
[code]
https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/aggregate.rs#L107-L109

[2022-03-06 12:28] jamescorbett commented on #1390
The issue is not this. The error occurs when using the schema.

[2022-03-06 13:44] alamb commented on #1323
FWIW there is a proposed implementation in https://github.com/apache/arrow-rs/pull/1386

[2022-03-06 13:58] jackwener commented on #1390
I reproduce it successfully.

[code]

[2022-03-06 14:52] jackwener commented on #1390
The essence of the problem is that we can't get the the type `None`. We need `Some()` to determine `None` type.

[2022-03-06 14:58] jamescorbett commented on #1390
Or the schema doesn't validate size for all none array

[2022-03-07 13:43] alamb commented on #1399
@novemberkilo  notes that this is a blocker to https://github.com/apache/arrow-rs/issues/1036

I don't fully understand how this bug report is related to the test failure, which seems to imply a missing file (rather than an error reading null lists)

https://github.com/novemberkilo/arrow-rs/runs/5431110483?check_suite_focus=true#step:4:1999
[code]

[2022-03-07 13:44] alamb commented on #1399
I wonder if this could be related to https://github.com/apache/arrow-rs/issues/993 as well

[2022-03-07 22:20] jamescorbett commented on #1390
Please reopen this issue. The pr does not fix the problem. See Jack's comment above for a test reproducing the issue

[2022-03-07 22:22] alamb commented on #1390
Sorry @jamescorbett  -- Github got overly excited and automatically closed the PR

[2022-03-07 22:22] novemberkilo commented on #1399
I'm sorry I've linked the wrong test run in the original bug report.

The correct one is here: https://github.com/novemberkilo/arrow-rs/runs/5431134675?check_suite_focus=true#step:7:1944

[code]

[2022-03-08 12:05] HaoYang670 opened #1408 "Remove duplicate bound check in function `shift`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-rs/blob/master/arrow%2Fsrc%2Fcompute%2Fkernels%2Fwindow.rs#L61-L66
[code]
When calculate `slice_offset`, we don't need to compare `-offset` with `value_len`, because we have checked `abs(offset) >= value_len` before.

**Describe the solution you'd like**
`slice_

[2022-03-08 21:46] sunchao commented on #1176
I'd like to echo @andygrove 's point here. The only reason we're able to contribute to Arrow/Parquet rust implementation is because it's under the governance of Apache. Otherwise, it'd be very hard for us.

[2022-03-09 07:27] #1397 closed

[2022-03-09 08:38] HaoYang670 commented on #1392
I can work on this !

[2022-03-09 11:00] alamb commented on #1139
This is a good idea -- datafusion does something similar so it should be a strightforward change

https://github.com/apache/arrow-datafusion/blob/4ea865230d5bc1d916926acc7fb7f008481e8c6c/.github/workflows/dev.yml#L67-L74

[2022-03-09 12:07] tustvold commented on #284
For reference https://github.com/apache/arrow-datafusion/pull/1776 added a notion of sortedness to DataFusion's ExecutionPlan

[2022-03-09 12:30] jhorstmann opened #1410 "Possible unaligned write with MutableBuffer::push"
The following test fails when run under miri:

[code]

The code uses `std::ptr::write` to append the u64, regardless of the current alignment. Replacing that with `write_unaligned` would probably work. The type parameter is constrained by the `ToByteSlice` trait, but it seems the trait is not actually used. Not sure whether this is expected. It seems `ToByteSlice` is more of a marker trait here th

[2022-03-09 14:40] jackwener commented on #1365
I'm interested in it. Could I take this up?

[2022-03-09 16:34] Dandandan commented on #1377
Why would this need updating? It is the minimum supported version of rust.
See:
https://doc.rust-lang.org/cargo/reference/manifest.html#the-rust-version-field

[2022-03-09 17:15] #1377 closed

[2022-03-09 17:40] #1338 closed

[2022-03-09 21:16] alamb opened #1413 "Implement Basic FlightSQL Client"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The [Arrow Flight SQL](https://arrow.apache.org/blog/2022/02/16/introducing-arrow-flight-sql/) protocol  makes use of `protobuf.Any` which is somewhat messy to use in Rust, meaning implementing FlightSQL clients in Rust is somewhat messy

@wangfenjin  implemented a `FlightSqlServer` trait to a

[2022-03-10 01:00] HaoYang670 commented on #1377
https://github.com/apache/arrow-rs/blob/master/arrow/README.md?plain=1#L26-L28
[code]
If I understand correctly, we should only support rust 1.59 now, because it is the latest stable version.
If a user want to build and test the project with rust 1.58 or 1.57, cargo should give an error.

[2022-03-10 03:06] jackwener commented on #1313
I can take it up. Could you assign it me? @alamb

[2022-03-10 03:12] jackwener commented on #1109
It's a nice job! I'm interested in this, I can take it up.

[2022-03-10 03:22] xudong963 commented on #1109
I noticed you are also interested in some other issues, I think if the issue is not explicitly assigned or someone explicitly says they are doing it, you can code after indicating you are going to start doing it, look forward to your PRs, thanks

[2022-03-10 03:44] jackwener commented on #1109
Thanks for you remind and help😀

[2022-03-10 14:42] tustvold opened #1416 "DeltaBitPackEncoder Pads Miniblock BitWidths With Arbitrary Values"
**Describe the bug**

https://github.com/apache/arrow-rs/blob/master/parquet/src/encodings/encoding.rs#L577 skips over the miniblock bit widths, and then only goes back and writes a value for the miniblocks that contain a non-zero number of values. The empty miniblocks are left with whatever value happens to be in the encoder's buffer.

**To Reproduce**

This is one of the underlying bugs behind h

[2022-03-10 14:46] tustvold opened #1417 "DeltaBitPackDecoder Incorrectly Handles Non-Zero MiniBlock Bit Width Padding"
**Describe the bug**

From the parquet [specification](https://github.com/apache/parquet-format/blob/master/Encodings.md).

This is particularly important at the moment because of #1416 which causes the padding to be arbitrary in the event an encoder is reused.

**To Reproduce**

This is one of the underlying bugs behind https://github.com/apache/arrow-datafusion/issues/1976

**Expected behavior**

[2022-03-10 15:31] jackwener opened #1419 "Missing value_unchecked() of `FixedSizeBinaryArray`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Add value_unchecked() for `FixedSizeBinaryArray`.

What's more, add a test for PartialEq of `test_fixed_size_binary_array`

**Describe the solution you'd like**
Supplementary implementation

**Describe alternatives you've considered**
None

**Additional context**
None

[2022-03-10 15:43] jackwener commented on #1109
@tustvold Hi, I'm newer and not familiar with project.
I found that PartialEq between `FixedSizeBinaryArray` and `scalar` isn't implemented.
I can't find the location of other DataType PartialEq with scalar.

[2022-03-10 16:04] alamb commented on #1417
Per @tustvold  this is a regression introduced in https://github.com/apache/arrow-rs/pull/1284 (which was shipped in 9.1) https://github.com/apache/arrow-rs/blob/master/CHANGELOG.md#910-2022-02-19 and thus affects 9.1.0 and 10.0.0

We may want to consider a backport to release 9.1.1 and 10.0.1

[2022-03-10 22:47] viirya opened #1422 "Improve substring kernel performance"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently in `substring` kernel, we use a `Vec` to put substrings and then copy strings from it to make a buffer. We can directly write into a buffer using `MutableBuffer` to avoid memory copying.

**Describe the solution you'd like**
A clear and concise description of what you want to happen

[2022-03-11 01:14] HaoYang670 opened #1424 "The doc of `GenericListArray` is confusing"
**Describe the bug**
https://github.com/apache/arrow-rs/blob/master/arrow/src/array/array_list.rs#L52
[code]

The doc of `GenericListArray` says it is the struct for a primitive array, which makes me a little confused.
It is the generic type for `Variable-size List Array`, isn't it?

Came up when working on #1392

[2022-03-11 02:37] #1422 closed

[2022-03-11 06:56] wangfenjin opened #1425 "ArrowArray::try_from_raw shouldn't clone"
Guys, not sure if my understanding is right, but I think this commit will break the design and create memory leak.

If we clone the FFI struct, then it means we need to free the pointer by ourself, but if we free FFI_ArrowArray, then the data in this Array will also be free? Which means we can't free the pointer(until the data are used and ready to free, but in reality we can't hold this useless p

[2022-03-11 07:28] viirya commented on #1425
Simply said, I don't think this is correct. That is the whole point of C data interface. The release callback is designed to be called by not only the one allocates the C data interface structure.

[2022-03-11 10:20] wangfenjin commented on #1425
Let me put in another way.

Let's say in Java you create an ArrowArray and import in this lib using try_from_raw API, and this API clone the ArrowArray, which means **_there will be two struct point to the same data_**, one is in Jave another is in rust. Then
1. If you free the pointer in Java(which by design will also free all the data it point to), it will be seg fault in rust if you try to acce

[2022-03-11 10:53] jorgecarleitao commented on #1425
fwiw, that is also what we do in arrow2 - we never take ownership of the pointers passed to our exporter; we just write to them (as they may have been allocated by someone else), see e.g. the example in https://jorgecarleitao.github.io/arrow2/ffi.html

We did file a rust advisory on this last week, https://rustsec.org/advisories/RUSTSEC-2022-0012.html, as we incorrectly derived `Clone` to the FFI

[2022-03-11 12:03] jackwener opened #1427 "Redundant `if` and `abs` in `shift()`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some redundant code for control flow

**Describe the solution you'd like**
Replace these code

**Describe alternatives you've considered**
`if` is control flow will break the cpu pipeline, we should reduce the useless code.
abs() should remove, and replace with code in the `if`

**Ad

[2022-03-11 14:41] jhorstmann opened #1429 "DictionaryArray::try_new ignores validity bitmap of the keys"
**Describe the bug**

The `try_new` method seems to ignore the validity bitmap of the key array:

**To Reproduce**

[code]

[2022-03-11 17:51] viirya commented on #1425
I'm not sure if you really use this FFI between Java and Rust. We have real use case to use it in an internal project. We found this issue and the fix works very well after upgrading to latest version. And, no, I don't detect memory leak there. Let me explain more.

First, of course if you free the pointer in Java, you will release the data and Rust cannot access it anymore. If you really want to

[2022-03-11 18:21] jhorstmann commented on #1313
@jackwener I just opened a PR that does a small change to `try_new` in #1430, shouldn't cause any conflicts I think

[2022-03-11 18:31] #1419 closed

[2022-03-11 19:22] #1410 closed

[2022-03-11 20:02] #1429 closed

[2022-03-12 03:10] wangfenjin commented on #1425
I get your point. You are calling rust from Java, so it's right you alloc the memory in Java. The problem is rust assume this pointer is from Arc::into_raw, but acctually it's not it's just a raw pointer from JNI. In this case, our solution should be add a new API like:

[code]

The idea is we don't need to Clone, why bother? As in your Java program you need to hold the pointer as long as you need

[2022-03-12 03:16] wangfenjin commented on #1425
The issue is our current FFI API design assume the pointer always comes from Arc::into_raw(), we should solve this problem, but Clone is not the solution.

[2022-03-12 03:23] jackwener commented on #1313
@jhorstmann Hello, I am newer for project, I am gradually trying to contribute.
I can't get the point `double validation`. Could you give me some hint? Thanks !❤

[2022-03-12 03:29] viirya commented on #1425
Are you sure it works?

[code]

[2022-03-12 03:37] viirya commented on #1425
I don't know how do you use the API. If the memory leak is happened because you need to hold the pointer in Java side, I think we can mark the source structs released after cloning it. So you can free the struct in Java.

The issue you demo is also resolvable by marking the source struct released.

[2022-03-12 03:40] wangfenjin commented on #1425
How you run the code? From my side:

[code]

[2022-03-12 03:41] wangfenjin commented on #1425
It should work otherwise the change you make should also break. they both do `*array`

[code]

[2022-03-12 03:41] viirya commented on #1425
I mean the solution you suggested:

[code]

[2022-03-12 03:43] wangfenjin commented on #1425
Oh I haven't test the suggested solution yet, if it doesn't work maybe we can make it Box<> as the arrow2 API?

I'm not so familiar with this

[2022-03-12 03:44] viirya commented on #1425
No...It is basically about Rust ownership rule. In short, `Arc::new(*array)` will try to own the data behind `array` raw pointer. So Rust complains it cannot move the data.

`(*array).clone()` doesn't move data but clone it.

[2022-03-12 03:50] viirya commented on #1425
Yeah, if you or others definitely insist we should not do `clone` (although I still don't agree with it), I can try to work on to get rid of it with `Box` or something other. I cannot agree you is that we don't think this is a real issue (that the API assumes the raw pointers are Arc pointers) and try to revert to original behavior.

I don't agree with you here too. It is obviously talking out you

[2022-03-12 03:53] viirya commented on #1425
So, from my side, the previous behavior is definitely wrong (assuming the passed in raw pointers are always Arc pointers).

I can think of the options:

* Mark source structs as released after cloning them. I think this follows the C data interface. This should allow the source structs to be freed at Java side and resolve the memory leak issue and double dropping issue.
* Try other solution like B

[2022-03-12 04:02] wangfenjin commented on #1425
I think Box might be a better solution as we can avoid clone. If you don't have time I can also help on this issue. Thanks

[2022-03-12 04:04] viirya commented on #1425
Okay, I can work on this in the weekend. See if `Box` can save us from `clone`.

Thanks for the discussion.

[2022-03-12 07:57] jackwener commented on #1119
I notices some code in `arrow/src/compute/kernels/arithmetic.rs`

[code]

[2022-03-12 08:55] jhorstmann commented on #1313
`ArrayDataBuilder::build` calls `ArrayData::try_new`, which does a full validation of that struct, including all child ArrayData objects. For example building a DictionaryArray from Int32 keys to String values first validates that the child data containing these strings is valid. Since layout of a StringArray consists of an offset buffer and a data buffer, it has to check that the offsets are mono

[2022-03-12 17:51] #1392 closed

[2022-03-12 18:47] alamb commented on #1425
I haven't followed all the discussion on this ticket, but it seems like it is well in hand. Let me know if I can do anything else to help

[2022-03-12 19:27] viirya commented on #1425
Thanks @alamb

[2022-03-13 02:45] HaoYang670 opened #1433 "Make the doc examples of `ListArray` and `LargeListArray` more readable"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Came up when reviewing #1426.
https://github.com/apache/arrow-rs/pull/1426#issuecomment-1064963693
https://github.com/apache/arrow-rs/pull/1426#discussion_r824886867

The current doc example of `ListArray` is not easy to understand at first glance:
https://docs.rs/arrow/9.1.0/arrow/array/type.

[2022-03-13 10:58] Dandandan commented on #1365
Yes, sure, go for it! 👍

[2022-03-13 20:47] rdettai commented on #1163
Hi @tustvold ! I am the weird mind who introduced the ChunkReader 😄.

The main benefit compared to a regular reader is that you can specify the size of the chunk you plan to read, which enables you to set the right range when you call GET on the object store. Not sure how we could achieve this with plain `std::io::Read`. But I ended up offloading the download scheduling to a separate module anyway

[2022-03-14 01:21] viirya opened #1437 "build.ninja was created in build"
**Describe the bug**

When I was following the steps in https://github.com/apache/arrow-rs/tree/master/integration-testing, `build.ninja` was not created in `\build`, so the doc seems not accurate.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem

[2022-03-14 02:49] viirya opened #1439 "Fix generate_decimal128_case in integration test"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

This ticket is for `generate_decimal128_case` case in integration test.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you'v

[2022-03-14 07:02] alamb opened #1442 "Release version 9.1.1 and 10.0.1"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
* https://github.com/apache/arrow-rs/pull/1418 introduced a bug in 9.1.0 for the parqet reader for delta pack encoding
* https://github.com/apache/arrow-rs/pull/1334 introduced a change in behavior (see https://github.com/apache/arrow-rs/issues/1425) in 10.0.0 that we would like to revert

**D

[2022-03-14 07:05] #1417 closed, assigned to nobody

[2022-03-14 07:09] alamb opened #1443 "Next arrow release: (10.1 or 11)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is to track the work to release the next arrow release after 10.0.0 (released March 8): https://github.com/apache/arrow-rs/blob/master/CHANGELOG.md#1000-2022-03-04

This would mean creating a release candidate March 17 or March 18 this vote and then release on March 21

**Describe the sol

[2022-03-14 07:11] #1437 closed

[2022-03-14 07:15] alamb commented on #1443
Code changes:
https://github.com/apache/arrow-rs/compare/10.0.0..master

PRs: https://github.com/apache/arrow-rs/commits/master (since "preparing for master release_

I think there are several PRs that will necessitate releasing version 11 as it is not API compatible:

https://github.com/apache/arrow-rs/pull/1339
https://github.com/apache/arrow-rs/pull/1389

[2022-03-14 12:12] #1439 closed

[2022-03-15 03:05] viirya opened #1445 "Fix generate_interval_case integration test failure"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

This ticket is for `generate_interval_case` case in integration test.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've

[2022-03-15 03:08] liukun4515 commented on #1445
@viirya  Can you list the plan or missing item for IT in #1404 ?

[2022-03-15 03:15] viirya commented on #1445
Sure. Where should I put them? In #1404?

[2022-03-15 05:59] viirya commented on #1404
* generate_map_case
*

[2022-03-15 06:03] viirya commented on #1404
I will work on above list one by one.

[2022-03-16 06:45] #1433 closed

[2022-03-16 07:40] #1394 closed

[2022-03-16 12:22] #1393 closed

[2022-03-16 12:56] HaoYang670 opened #1452 "The doc of `FixedSizeBinaryArray` is confusing."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-rs/blob/master/arrow/src/array/array_binary.rs#L429
<img width="1022" alt="Screen Shot 2022-03-16 at 20 55 00" src="https://user-images.githubusercontent.com/59198230/158594552-f2a25e88-e20e-4c63-a37e-c187a34d861e.png">

Is `FixedSizeBinaryArray` a type of `Fixe

[2022-03-16 13:03] HaoYang670 opened #1453 "Add links in the doc of `BinaryOffsetSizeTrait`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
[code]
We should add link to `OffsetSizeTrait` and `GenericBinaryArray`

[2022-03-16 13:18] HaoYang670 opened #1454 "A small mistake in the doc of `GenericBinaryArray::take_iter_unchecked`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-rs/blob/master/arrow/src/array/array_binary.rs#L216
[code]

not `offsets`, but `indexes`

[2022-03-16 13:23] HaoYang670 opened #1455 "A small mistake in the doc of `BinaryArray` and `LargeBinaryArray`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-rs/blob/master/arrow/src/array/array_binary.rs#L321
[code]

not `each element is a byte` but `each element contains 0 or more bytes`

[2022-03-16 20:54] viirya opened #1456 "Fix generate_map_case integration test failure"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

This ticket is for generate_map_case case in integration test.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2022-03-17 03:45] anliakho2 opened #1458 "Hang due to infinite loop when reading some parquet files with RLE encoding and bit packing"
**Describe the bug**
Some parquet writers produce RLE encoded dictionaries with bit packing even if value count is not divisible by 8.
This violates the assumption decoder makes about the number of values present in the bit-packed run, causing infinite loop and hang.

**To Reproduce**
Attempt to read parquet file where number of values is not power of 2 but RLE encoding with bit packing was used.

[2022-03-17 04:34] anliakho2 opened #1459 "Handle Parquet Files With Inconsistent Timestamp Units"
**Describe the bug**
If parquet is written with timestamps with time unit other than `ns` reading such file would produce incorrect dates, whereas pandas is reading the dates correctly

**To Reproduce**
Generate parquet file as follows:
`
import pandas as pd
import numpy as np

np.random.seed(0)
# create an array of 5 dates starting at '2015-02-24', one per minute
rng = pd.date_range('2020-01-01',

[2022-03-17 07:35] #1427 closed

[2022-03-17 07:53] alamb commented on #1458
Thank you for the report @anliakho2

[2022-03-17 12:43] #1424 closed

[2022-03-17 12:45] #1445 closed

[2022-03-17 12:48] alamb commented on #1429
Thank you for fixing this @jhorstmann

[2022-03-17 20:30] viirya opened #1462 "Update doc of arrow-pyarrow-integration-testing"
**Describe the bug**
The readme of `arrow-pyarrow-integration-testing` is somehow out-of-dated. For better development, we should update it.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2022-03-18 06:41] HaoYang670 opened #1464 "The length kernel should work with `BinaryArray`s"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The `length` kernel only supports `StringArray`s so far. I think it is reasonable to let it support `BinaryArray`s.

**Describe the solution you'd like**
let the function `length` and `bit_length` work with binary arrays

[2022-03-18 06:49] HaoYang670 commented on #1464
@alamb I have this idea because BinaryArray and StringArray are very similar. But I'm not sure whether we need this feature.

[2022-03-19 06:26] #1425 closed

[2022-03-20 10:42] alamb commented on #1464
I think supporting length for `BinaryArray` makes sense and would be good to add for completeness

[2022-03-20 11:26] HaoYang670 commented on #1464
Great! I will file a PR today!

[2022-03-21 13:49] alamb opened #1466 "Automatically remove old versions"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Apache IT Infra contacted the PMC and requested that we reduce the number of non-archived versions lower to conform to https://infra.apache.org/release-download-pages.html

**Describe the solution you'd like**
Automatically remove old releases from apache download site as part of the release p

[2022-03-22 08:32] HaoYang670 opened #1470 "Add `length` kernel support for `ListArray`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, the `length` kernel only works with `StringArray`. It is reasonable to make it support the `ListArray`.

**Describe the solution you'd like**
it should be possible to call something like `arrow::compute::length(list_array)` and return an array that contains the length of all lists.

[2022-03-22 10:09] #1399 closed

[2022-03-22 11:06] #1313 closed

[2022-03-22 11:07] #1456 closed

[2022-03-22 11:11] #1462 closed

[2022-03-22 19:07] tustvold opened #1473 "Requirements for Async Parquet API"
**Background**

In #1154 I added an `async` parquet API in the form of  `ParquetRecordBatchStream`. This was maximally async, that is it made use of tokio's async IO traits to be as generic as possible. However, having experimented with this I'm not sure that this design is quite right.

In particular https://github.com/apache/arrow-datafusion/pull/1617 showed non-trivial performance regressions o

[2022-03-22 19:16] tustvold opened #1474 "Replace Custom Buffer Implementation with Bytes in Parquet"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The parquet crate currently rolls its own `ByteBufferPtr`, `BufferPtr`, `Buffer`, etc... and this feels like functionality that could be provided by an upstream crate.

**Describe the solution you'd like**

The [bytes](https://docs.rs/bytes/latest/bytes/) crate has wide ecosystem adoption and

[2022-03-22 19:19] tustvold commented on #1473
https://github.com/apache/arrow-rs/issues/1474 is likely also related as `ByteBufferPtr` is currently an experimental API and it would be nice to not leak this into the public interface

[2022-03-22 22:21] alamb commented on #1473
Thank you for writing this up. I agree with most of it. As a validation of any new API / modification to an existing API, might I suggest we prototype using it (using datafusion) to ensure we have at least one reference implementation?

I am thinking especially that the interaction with the `ObjectStore` interface and `Storage` may be somewhat tricky / non obvious, especially with the `async` natu

[2022-03-23 01:26] viirya opened #1475 "Fix generate_non_canonical_map_case integration test failure"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This ticket is for generate_non_canonical_map_case case in integration test.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features y

[2022-03-23 12:50] HaoYang670 opened #1478 "The `substring` kernel panics when chars > U+0x007F"
**Describe the bug**
The `substring` kernel can only work on chars that are encoded as 1 byte in utf-8 standard. If the string contains a char that requires more than 1 byte, the function will panic.

**To Reproduce**
Steps to reproduce the behavior:
Give a string `"E=mc²"`, start index = `-1`, length = `None`.
the expected result is "²".
However, I got:
[code]

The reason is that the char `²` is

[2022-03-23 13:56] tustvold commented on #1442
I'm not sure there is much value in this now given that v11 has been released

[2022-03-23 15:44] sunchao commented on #1474
Thanks. Yes these are pretty out-dated and I think it will be good to replace them. Have you thought about just use `MutableBuffer` from Arrow side too?

[2022-03-23 15:54] alamb commented on #1442
Yeah, the value would be if someone couldn't update to 11 but needed to stay on 9 or 10

[2022-03-23 16:02] tustvold commented on #1474
I hadn't, but I'm not sure it is a good fit

* I would like to use the ecosystem standard abstraction if possible
* `arrow` is currently an optional dependency of `parquet`
* `MutableBuffer` is really designed for arrays of primitives, not raw byte arrays
* I have a long-term hope to eventually phase out `MutableBuffer` and replace it with a typed construction that is easier to use without unsafe.

[2022-03-23 16:35] nevi-me commented on #1474
If possible, we could use Arrow's buffer based on the `arrow` feature, then use some abstraction (I'd be fine with `bytes`). The upside of using Arrow's buffer is minimising/eliminating data copies. I was able to improve the Arrow side here (https://github.com/apache/arrow-rs/pull/820), and see @alamb's comment (https://github.com/apache/arrow-rs/pull/820#discussion_r724365907).

This would be gre

[2022-03-23 19:28] alamb commented on #1474
I think using `Bytes` would have many advantages (such as potentially avoiding copies from data that are read from remote object stores. etc)

[2022-03-23 20:04] alamb commented on #1478
Hi @HaoYang670 -- I suggest
1. Leave the implementation in terms of bytes
2. Clarifying the documentation (your suggestion 1)
3. Verify that the `StringArray` created by `substring` contains only valid utf8 data and throwing a more specific error message if it does not.

I am not sure if the code already does 3 or not.

The challenge with proper unicode support, from my perspective, is that it wil

[2022-03-23 20:53] #1455 closed

[2022-03-24 02:52] viirya opened #1479 "Create `filter_with_indices` API that accepts `IterationStrategy`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

What we are working on will use `filter` kernel. One feature we may need is to filter by providing indices. But currently the public API `filter` only accepts a boolean array.

Internally, there is several `IterationStrategy`. One of them is `Indices` that is basically what we want to use.

S

[2022-03-24 02:53] viirya commented on #1479
Does it sound reasonable? If so, I will work on it and submit a PR for review. Thanks.

[2022-03-24 03:12] viirya commented on #1479
cc @sunchao

[2022-03-24 10:35] tustvold opened #1480 "Parquet Writer Incorrect Definition Levels for Nested NullArray"
**Describe the bug**

Currently when a nested NullArray is written to parquet the definition levels are such that not all values are actually null. This is currently masked by bugs that prevent reading such arrays (fixes in flight) and also because `NullArrayReader` ignores any value data that may be present.

**To Reproduce**

[code]

Then read the file using duckdb

[code]

We mysteriously have

[2022-03-24 11:16] tustvold commented on #1479
I appreciate the take kernel is more generic, as indices can be repeated, in any order, etc... but I'm not sure in practice there will be a meaningful performance difference between the two?

[2022-03-24 12:18] tustvold opened #1482 "Use Arrow take kernel Within ListArrayReader"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The `ListArrayReader` currently uses a custom `remove_indices` function in order to strip nulls from its values array.

**Describe the solution you'd like**

This function is very similar to the arrow take kernel, and with some minor tweaks we can likely eliminate a non-trivial amount of code

[2022-03-24 12:28] tustvold opened #1483 "Split up Parquet Array Reader Module"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The parquet/arrow/array_reader.rs is currently sitting pretty at 2984 lines of code. Not only does this make the file difficult to navigate, but it also makes it harder to tell what components have unit test coverage - as there is just a large wall of unit tests at the bottom of the file.

**

[2022-03-24 13:31] tustvold opened #1484 "Improve Unit Test Coverage of ArrayReaderBuilder"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Whilst working on #1483 I noticed that `ArrayReaderBuilder` has a single rather limited unit test. Whilst I think many codepaths are covered by tests at higher levels, it would be good to have some unit test coverage of what is a relatively non-trivial piece of code which walks the potentiall

[2022-03-24 16:24] viirya commented on #1479
We have something named selection vector which is actually indices of an array we want to use for filtering, instead of a boolean array. We basically want to do is `filter`, instead of `take`, because the result array should be same length as original.

[2022-03-24 16:27] tustvold commented on #1479
I'm not sure I follow, both the take and filter kernels return an array with just the selected elements? On the PR where I added the `IterationStrategy` I actually flagged up the fact that the implementations would ideally be shared

[2022-03-24 18:32] #1464 closed

[2022-03-24 18:47] alamb opened #1486 "Implement full validation for `UnionArrays` construction from ArrayData"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It is possible to construct invalid `UnionArrays` when building them using the `ArrayData` API

**Describe the solution you'd like**
Validate all the data is correct for union arrays

**Additional context**
This is a left over from #921 when was implemented concurrently with proper `UnionArray

[2022-03-25 08:39] HaoYang670 commented on #1470
I will create a PR this week

[2022-03-25 16:43] #1036 closed

[2022-03-25 16:43] #1480 closed

[2022-03-26 12:58] HaoYang670 opened #1489 "Add SIMD support for the `length` kernel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We could calculate `offset[1 ..] - offset[.. offset.len()]`  by simd.

**Describe the solution you'd like**
1. simd support for `length` kernel
2. some benchmark results.

[2022-03-26 13:09] liukun4515 commented on #1137
https://github.com/apache/arrow-rs/pull/1487

[2022-03-26 13:23] HaoYang670 commented on #1478
In the `substring` kernel of CUDF, I find that there is some code to calculate the number of bytes of each char. Maybe we could introduce it to our code in the future.
https://github.com/rapidsai/cudf/blob/branch-22.06/cpp/src/strings/substring.cu#L90-L96

[2022-03-26 16:17] jhorstmann commented on #1489
The compiler should be able to autovectorize the existing length kernel, at least it does in a smaller example: https://rust.godbolt.org/z/7sjrrfxqf

If this does not happen in the actual arrow kernel then we probably need to investigate whether `MutableBuffer::from_trusted_len_iter` somehow prevents that optimization.

[2022-03-26 17:43] viirya commented on #1482
@tustvold Do you plan to do this? If not, I might take some time in the weekend to play with this.

[2022-03-26 17:45] tustvold commented on #1482
That would be great if you could 👍

[2022-03-27 10:37] alamb commented on #1478
Being able to calculate unicode characters / graphemes without bringing in a new dependency would be great

[2022-03-27 10:46] #1475 closed

[2022-03-27 13:47] HaoYang670 opened #1492 "`packed_simd` v.s. `portable_simd`, which should be used?"
**Describe your question**
I think this is an old question, but I don't find a clear answer. So need your help!
Something that I find is that, the crate `packed_simd` has been in maintenance mode and no new features will be introduced: https://github.com/rust-lang/packed_simd/issues/282#issuecomment-696506773
https://github.com/rust-lang/packed_simd/blob/master/README.md

Also, `protable_simd` is

[2022-03-27 17:05] jhorstmann commented on #1492
Both currently require a nightly compiler and it will probably take a while until portable_simd gets stabilized. Longer term we should switch to portable_simd as it will become the standard and there won't be any updates to packed_simd. As far as I know packed_simd currently has no major issues that would force us to switch.

Portable_simd has first class support for bitmasks, which fits the arrow

[2022-03-28 02:24] HaoYang670 commented on #1492
Thanks for your answer @jhorstmann! Very much looking forward to the day when we can migrate to `std::simd`. I will close this issue.

[2022-03-28 02:24] #1492 closed

[2022-03-28 06:56] HaoYang670 commented on #1478
Great, I will create an issue!

[2022-03-28 07:02] HaoYang670 opened #1493 "Support calculate length by chars for `StringArray`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Currently, we can only calculate the length of a string by byte.
I guess it may be more user-friendly to provide a method that can calculate the length by char.

Re #1478.

[2022-03-28 09:41] tustvold opened #1495 "Logging Support"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently `arrow` and `parquet` do not have any log instrumentation, and I have frequently found myself adding logging to track down a problem, only to then have to remove this logging for the final PR.

**Describe the solution you'd like**

This [log](https://docs.rs/log/latest/log/) crate i

[2022-03-28 09:54] jhorstmann opened #1496 "MIRI error in math_checked_divide_op/try_from_trusted_len_iter"
[code]

[2022-03-28 20:47] #1470 closed

[2022-03-28 22:00] bjchambers opened #1498 ""or" kernel applied to slices may be invalid on later operations"
I believe this is due to https://github.com/apache/arrow-rs/issues/807.

Specifically, `or` uses `combine_option_bitmap` which uses `bit_slice` to produce the resulting validity bitmap. But this can lead to cases where the null bitmap has an invalid length (corresponding to the original buffer) while the value array has a length corresponding to the slice.

This in turn can lead to later problems,

[2022-03-28 22:02] bjchambers commented on #1498
Failing test case:

[code]

[2022-03-29 07:08] viirya commented on #1158
I think for the proposed API, we don't know the `entry_offsets` which is necessary when constructing a `MapArray`?

[2022-03-29 07:11] viirya commented on #1158
For alternative one `new_from_strings`, we can add offset parameters:

[code]

[2022-03-29 08:40] jhorstmann commented on #1498
Maybe a quick fix could be to use `buffer_bin_and` instead of the `&` operator in `nullif`, which allows passing in the array length.

[2022-03-29 15:10] bjchambers commented on #1498
It looks like that works, and fixes the behavior of `nullif`. Is the other behavior (the length of the null buffer differing from the length of the boolean data buffer) an error in general?

[2022-03-29 16:36] jhorstmann commented on #1498
I don't think it is, as long as both contain enough space for the length of the array where they are used. In the case of primitive arrays, the length of the validity buffer (in bits) would usually also be larger than the number of elements in the data buffer because it gets rounded up to full bytes.

[2022-03-29 16:48] #1496 closed

[2022-03-29 17:09] alamb opened #1505 "Implement size_hint and ExactSizedIterator for DecimalArray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I was doing some small cleanups in DataFusion https://github.com/apache/arrow-datafusion/pull/2107 and noticed that the DecimalArray iterators do not report their exact size. The exact size is used in several places for optimizations in Arrow

**Describe the solution you'd like**
Implement si

[2022-03-29 18:59] #1482 closed

[2022-03-29 18:59] #1452 closed

[2022-03-29 18:59] #1454 closed

[2022-03-30 10:57] jmahenriques commented on #1459
We experience the same issue (using datafusion), parquet metadata states microsecond but it is inferred as nanosecond, completely distorting the timestamps.

[2022-03-30 17:16] alamb commented on #1158
Thanks @viirya

[2022-03-30 17:46] #1505 closed

[2022-03-30 17:47] #1493 closed

[2022-03-30 17:48] #1466 closed

[2022-03-31 01:07] #1348 closed

[2022-03-31 12:29] HaoYang670 opened #1511 "Speed up the `substring` kernel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/substring.rs#L44
[code]
We can estimate the memory we need by firstly calculating the length of each substring. This can improve the performance because we don't need to reallocate memory when building buffer.

[2022-03-31 18:20] #67 closed

[2022-03-31 18:35] alamb commented on #1443
Released

[2022-03-31 18:35] #1443 closed

[2022-03-31 18:36] alamb opened #1513 "Next Release: 11.1.0 or 12.0.0"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is to track the work to release the next arrow release after 11.0.0: https://github.com/apache/arrow-rs/blob/master/CHANGELOG.md#1100-2022-03-17

**Describe the solution you'd like**
Do https://github.com/apache/arrow-rs/blob/master/dev/release/README.md for the next release

[2022-03-31 18:37] alamb commented on #1513
I looked through the commits on master since 11 and I don't see any API changes, so I will prepare for an 11.1.0 release this week

[2022-03-31 18:44] alamb commented on #1391
Released

[2022-03-31 18:44] #1391 closed

[2022-04-01 02:55] zhaoyanggh opened #1515 "cannot read parquet file"
**Describe the bug**
I want to read the parquet I generated, which get the error when I use the "get_row_iter" api, I get this error:
thread 'main' panicked at 'called `Option::unwrap()` on a `None` value', /home/yzhao/.cargo/registry/src/github.com-1ecc6299db9ec823/parquet-11.0.0/src/record/reader.rs:132:52

**To Reproduce**
Steps to reproduce the behavior:
This is my schema:
message table {
  RE

[2022-04-01 02:58] zhaoyanggh commented on #1515
[139866508782784.parquet.zip](https://github.com/apache/arrow-rs/files/8394357/139866508782784.parquet.zip)

[2022-04-01 02:59] zhaoyanggh commented on #1515
and this is my parquet file

[2022-04-01 04:01] velvia commented on #54
@alamb any updates on performance of stable vs nightly?  I'd be surprised if the non SIMD performance was quite as good, but hey all power to it.....

[2022-04-01 11:44] jhorstmann commented on #1515
Can confirm the issue with the given file:

[code]

The column path that can't be found is ["tags", "name"] but should be ["table_info", "tags", "name"].

[2022-04-01 13:25] jhorstmann opened #1516 "Allow creating buffers from externally owned memory like Vec or String"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'd like to process data that is coming from outside arrow using arrow compute kernels without copying the data.

The FFI api does not seem to support this use case at the moment. The only way I found to create an `FFI_ArrowArray` was with an already existing `ArrayData` struct. Creating `Arr

[2022-04-01 13:38] tustvold commented on #1473
Ok so an update on this. I implemented this proposal in #1509, along with a number of modifications to help improve its performance - e.g. avoid copying buffers, etc... I then created an updated DataFusion branch to make use of [this](https://github.com/tustvold/arrow-datafusion/tree/parquet-async-wip). Unfortunately the performance was still significantly worse than master :cry:

## Scheduler Ben

[2022-04-01 16:47] viirya commented on #1515
The current `List` logic in `get_arrow_field` is not correct. Proposed a fix at #1517.

But after the fix, you still get:

[code]

It is another issue, I think.

[2022-04-01 16:47] tustvold commented on #1163
Hi @rdettai, I realize I never responded directly to your comment. I have been documenting my experiments on the parquet API in #1473, which I think overlaps a fair deal with the points you raise about the object store interface and introducing more parallelism into the parquet reader. I would be very interested in hearing any thoughts you might have

[2022-04-01 17:21] alamb commented on #54
I don't think 'non SIMD' is quite accurate -- it is more like "Clang produced (auto vectorized) SIMD" where the compiler generates the SIMD instructions

@jhorstmann  did some work that showed several kernels were actually faster using autovectorized code: https://github.com/apache/arrow-rs/pull/1221

I believe @jorgecarleitao  did some work in arrow2 to migrate it to use `packed_simd` (and thus n

[2022-04-02 03:06] zhaoyanggh commented on #1515
Thank you so much for the help. For the new problem, should I or someone else create a new github issue or just fix under this one.

[2022-04-02 04:28] yjshen commented on #1473
Thanks @tustvold for the great writeup!

[2022-04-02 08:06] jhorstmann commented on #54
See also #1492 for a small discussion about `packed_simd` vs `portable_simd`

[2022-04-02 10:07] alamb commented on #1492
I believe @jorgecarleitao did some work in arrow2 to migrate it away from using packed_simd (and thus no longer require nightly rust), which might be worth looking into: https://github.com/jorgecarleitao/arrow2/pull/747

[2022-04-02 10:13] jorgecarleitao commented on #54
@alamb, note that `std::simd` requires nightly, as it is gated under `#![feature(portable_simd)]`, https://github.com/rust-lang/rust/issues/86656

[2022-04-02 10:45] alamb commented on #54
Ah -- my bad. Thanks you for the clarification

[2022-04-02 19:47] viirya commented on #1515
It seems a known limitation, but I don't find related issue though. I think it is another issue, maybe you can create a new one.

[2022-04-02 21:07] comath opened #1518 "Documentation for `GenericListBuilder` is not exposed."
**Describe the bug**
The documentation for `ListBuilder` and `LongListBuilder` isn't exposed.

**To Reproduce**
Steps to reproduce the behavior:
Go here: https://docs.rs/arrow/11.0.0/arrow/array/type.ListBuilder.html

**Expected behavior**
I would see this: https://github.com/apache/arrow-rs/blob/master/arrow/src/array/builder.rs#L877-L1004

**Additional context**
Add any other context about the p

[2022-04-03 01:27] HaoYang670 commented on #1518
@comath  Thank you for reporting the bug! You could file a PR to fix it if you'd like to.

[2022-04-04 17:28] #1513 closed, assigned to alamb

[2022-04-05 13:07] alamb opened #1523 "`take` kernel that works across multiple `RecordBatch`es"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
For several operations in data processing, it is important to be able to select some subset (for sorting or filtering)

For example, the current [take](https://docs.rs/arrow/11.1.0/arrow/compute/kernels/take/index.html) kernel works like this:

[code]

In DataFusion, our operators get multiple

[2022-04-05 19:39] comath commented on #1518
Awesome, I've filed a [PR here](https://github.com/apache/arrow-rs/pull/1525).

[2022-04-07 20:31] #1511 closed

[2022-04-07 21:01] #1516 closed

[2022-04-07 21:06] #1515 closed

[2022-04-07 21:07] #1158 closed

[2022-04-08 06:10] #1400 closed

[2022-04-08 08:43] REASY opened #1528 "RecordBatch: Serialization of sliced record using StreamWriter produces incorrect resut"
When you slice `RecordBatch` and serialize it with `StreamWriter`, it produces an incorrect result. I'm using `arrow = "11.1.0"`

To reproduce once can use the following test:
[code]
As you can see the sliced one has almost the same size as `big_record_batch`, but I would expect it to be the same size as `small_record_batch`:
[code]

This can be related to [Add support for writing sliced arrays](h

[2022-04-10 06:38] HaoYang670 opened #1530 "Add document for `sort_valids`, `sort_valids_array` and other functions."
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
There are some private functions in the `sort` kernel that don't have comments or document. We should add some to make the code more readable.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear

[2022-04-10 11:15] #1478 closed

[2022-04-10 11:52] HaoYang670 opened #1531 "Epic: enhance the `substring` kernel"
This is an epic issue to enhance the `substring` kernel from performance, safety and supported types.
You can find more info from the discussion: https://github.com/apache/arrow-rs/pull/1529#discussion_r846762535

# List of individual issues is below:

## Performance
- [ ] Improve the performance of `substring` (#1512)

## Safety
- [ ] Update the document of `substring` (#1529)
- [ ] Mark the curr

[2022-04-10 15:19] atefsawaed opened #1532 "Incorrect min/max statistics for decimals with byte-array notation"
**Describe the bug**
When dealing with decimals built with byte-array notation, the min/max comparison should be based on the logical type and not on the physical type.
Integers that are provided as converted types and without specifying the logical type, unsigned comparison should be applied.

**To Reproduce**
1) Decimals with byte-array notation:
a. Create a decimal column (as logical type) with

[2022-04-10 21:24] viirya commented on #1404
`generate_nested_large_offsets_case` seems a false negative case. The test can be passed on current master without any change.

[2022-04-11 01:26] HaoYang670 opened #1533 "Add README for the `compute` kernels"
**Describe the solution you'd like**
A README like https://github.com/apache/arrow/blob/master/cpp/src/arrow/compute/README.md could improve the readability of the module.

[2022-04-11 10:05] yjshen opened #1535 "Add support for `Date32`/`Date64`<--> `String`/`LargeString` in `cast` kernel"
[code]

[2022-04-11 13:46] tustvold opened #1536 "Create RecordBatch With Non-Zero Row Count But No Columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Certain queries may only be interested in the number of rows, and not any actual column data. In theory this could be handled as a projection pushdown that selects no columns, but currently there is no way to create a RecordBatch with no columns and a non-zero row count and so this doesn't wo

[2022-04-11 13:49] tustvold opened #1537 "Support Empty Column Projection in ParquetRecordBatchReader"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

If an empty array is passed to `ArrowReader::get_record_reader_by_columns` it returns an error.

**Describe the solution you'd like**

It would be advantageous to support an empty projection within ParquetRecordBatchReader, and instead use file metadata to return the requisite number of rows.

[2022-04-11 19:32] alamb commented on #216
I think we can mark this as "done"

https://docs.rs/parquet/latest/parquet/arrow/index.html#example-of-writing-arrow-record-batch-to-parquet-file

[2022-04-11 19:32] #216 closed

[2022-04-11 21:33] alamb opened #1538 "Consolidate JSON reader options"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
@sum12 started refactoring options into a common struct in https://github.com/apache/arrow-rs/pull/1451 and I wanted to finish that work to minimize API churn when we release the next arrow

**Describe the solution you'd like**
Complete consolidation of options into `DecoderOptions`

**Describ

[2022-04-11 21:48] alamb commented on #1404
Perhaps we have fixed it in some previous PR

[2022-04-11 21:52] alamb commented on #1531
Thanks @HaoYang670

I suggest:

* Mark the current substring function as unsafe *AND RENAME TO `substring_bytes_unchecked`*
* Implement safe substring for string array *AND NAME `substring_bytes`*
* Implement substring_by_char for string array *AND NAME `substring`*

[2022-04-11 22:05] alamb opened #1540 "Implement `string_concat` kernel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We currently have a `concat` kernel at https://docs.rs/arrow/11.1.0/arrow/compute/kernels/concat/index.html

This concatenates Arrays together.

There is also a need to concatenate strings together. Something like `string_concat` that takes two StringArrays (or LargeStringArrays` and concatena

[2022-04-12 03:16] jaredzhou commented on #1353
i think add a `with_field` new method could simpley solve the problem.  but it seems like `nullable` property never checked in arrow-rs, `recordbatch` is ok with nullable data to not-nullable schema.  could i just add the `with_field` new method for now
@alamb

[2022-04-12 04:50] alippai commented on #1473
I know it's not ready yet, but does https://github.com/tokio-rs/tokio-uring behave differently? (Given it supposed to be a true async file reading API)

[2022-04-12 05:46] tustvold commented on #1473
I haven't tried tokio-uring, I suspect it might still suffer from poor thread-locality, just this time between the workers, but I haven't investigated this.

[2022-04-12 09:15] HaoYang670 opened #1541 "Mark the current `substring` function as `unsafe` and rename it."
This is an individual task of #1531

1. The current `substring` function might return an invalid string array (see #1478 ), so we need to mark it as `unsafe`.
2. Rename the function as `substring_bytes_unchecked` (see https://github.com/apache/arrow-rs/pull/1529#discussion_r846762535)

[2022-04-12 13:05] alamb opened #1542 "Add `take_from_iter()`compute kernel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Often rust code calculates some indices and then calls the take kernel: https://docs.rs/arrow/11.1.0/arrow/compute/kernels/take/fn.take.html

However, it is necessary to create an Array (aka buffer all the indexes) which is both not necessary time wise as well as memory inefficient

here are

[2022-04-12 13:34] #1535 closed, assigned to nobody

[2022-04-12 13:45] alamb commented on #1353
@jaredzhou  I am not quite sure what you are proposing with `with_field` -- I agree the code in arrow-rs does not validate the `nullness` specified in the schema against the data (by design) which can lead to bugs

[2022-04-12 13:52] alamb opened #1544 "Add CI check for full validation mode"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We have a full validation mode that validates the full contents of creating Arrays but it is (on purpose) not called in many places in arrow  for performance reasons: https://docs.rs/arrow/11.1.0/arrow/array/struct.ArrayData.html#method.validate_full

This leads to two possible issues:
1. Lac

[2022-04-12 14:05] jaredzhou commented on #1353
sorry for not being clear，what i mean is add a create method and pass the `Field` in `FixedSizeListBuilder` struct
[code]
then  we can set `DataType` of `FixedSizeList` in `finish()` method.

[2022-04-12 14:22] alamb opened #1545 "Redundant error checking in ListArray, BooleanArray, BinaryArray and PrimitiveArray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://github.com/apache/arrow-rs/pull/1546 revealed that several Array types have error checking that is now redundant with `ArrayData::validate_full()`.

**Describe the solution you'd like**
Remove the redudant error checks and stop ignoring them during force validate run:

[code]

The test

[2022-04-12 14:34] alamb opened #1547 "Output of `filter` on UnionArrays fails validation"
**Describe the bug**
The `force_validate` check added in https://github.com/apache/arrow-rs/pull/1546 revealed that the `UnionArrays` produced from the `filter` kernel fails validation.

It is not clear if the validation is incorrect or the filter kernel is incorrect

**To Reproduce**
Uncomment the
[code]

And then run the test like:
[code]

lines for the following tests and the will fail:

[code]

[2022-04-12 14:39] alamb opened #1548 "Output of `ipc::reader::tests::projection_should_work` fails validation"
**Describe the bug**
The `force_validate` check added in https://github.com/apache/arrow-rs/pull/1546 reveals that some array created as part of `projection_should_work` test fails validation.

It is not clear if the validation is incorrect or something about ipc

**To Reproduce**
Uncomment the
[code]

And then run the test like:
[code]

lines for the following tests and the will fail:

[code]

**

[2022-04-12 14:45] dispanser opened #1549 "Read dictionary from nested struct in ipc stream reader panics"
**Describe the bug**
We have an application that reads  ipc stream data, and it panicked while reading a record batch that contains a dictionary in a nested struct:

[code]

This is caused by an incorrectly sized `dictionaries_by_field` in the stream reader. PR is ready, opening this for tracking purposes.

**To Reproduce**

Create a record batch containing a nested struct with a dictionary in las

[2022-04-12 15:15] alamb commented on #1390
Here is a PR to add the test: https://github.com/apache/arrow-rs/pull/1551

[2022-04-12 18:25] tustvold commented on #1542
One thing to perhaps think about also is there are separate code paths based on the null count of the indices arrays, and so it might be worth also providing something that accepts a non-optional iterator

[2022-04-12 18:30] Dandandan commented on #1542
I think the same thing could be done is to do this as well for `filter`. There are a couple of places in DataFusion that could benefit from not materializing the intermediate `BooleanArray`.

[2022-04-12 20:26] sunchao opened #1553 "Support FixedSizeBinary for the C data interface"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently the C data interface doesn't support `FixedSizeBinary` yet with the following error message:
[code]

**Describe the solution you'd like**
Add the support for `FixedSizeBinary`.

**Describe alternatives you've considered**
None

**Additional context**
N/A

[2022-04-12 23:44] #1536 closed

[2022-04-13 06:36] HaoYang670 commented on #1531
Hi @alamb. After thinking twice about the renaming, I suggest we leave the `substring by byte` as the implicit version, and make `substring by char` as an explicit version, so that we can make minimize API change (because the current `substring` is `by byte`) and easily extend the function:

| function name | Supported array|
|-------|------------------|
| substring| StringArray(by byte)(slow), Bi

[2022-04-13 08:43] tustvold opened #1554 "Improve ergonomics of `parquet::basic::LogicalType`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`LogicalType` is defined as

[code]

Where the inner structs are actually defined by `parquet_format`. This not only requires an additional crate in scope, but also a number of these are actually empty structs resulting in constructions like

[code]

**Describe the solution you'd like**

I wo

[2022-04-13 09:56] tustvold commented on #1459
So digging into this the issue is that pandas is attaching an arrow schema that specifies nanosecond precision, whilst specifying the following as the parquet column description.

[code]

This is pretty wild because not only are the two different schemas, but `TIMESTAMP_MILLIS` could overflow if converted to an arrow TimestampNanosecondArray which uses an `i64` to store its values. I'm not really

[2022-04-13 10:23] tustvold commented on #1459
I've filed https://issues.apache.org/jira/browse/ARROW-16184 as this feels like a bug in pyarrow

[2022-04-13 11:28] #1549 closed

[2022-04-13 11:53] tustvold opened #1556 "Replace `&Option<T>` with `Option<&T>`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Various methods in `arrow` and `parquet` return or accept `&Option<T>`. This is unfortunate as sometimes you want to just specify a value as not present, and do not wish to associate a lifetime with this absence of a value

**Describe the solution you'd like**

These instances should be repla

[2022-04-13 12:07] tustvold opened #1557 "Error Infering Schema for LogicalType::UNKNOWN"
**Describe the bug**

Currently in the abscence of an arrow schema, `LogicalType::UNKNOWN` results in the following error message

[code]

**To Reproduce**

Create a parquet file with a null array and strip out the arrow schema.

**Expected behavior**

As per the [docs](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#unknown-always-null) this should be inferred as the null typ

[2022-04-13 12:43] alamb commented on #1531
Thank you for your thoughts @HaoYang670

I still think switching `substring` to use chars is preferable because:
1. For ascii (single byte utf8) text, bytes and chars are equivalent
2. If someone has  multi-byte utf8 string data the substring calculations are likely subtlety incorrect and they are in danger if creating invalid utf8 when using `substring`
1. If we make `substring` (by bytes) safe,

[2022-04-13 12:47] alamb commented on #1353
@jaredzhou  seems like a reasonable suggestion to me, though I am not most knoweldgeable person in this area of the code -- feel free to put up a draft PR and we can get some additional eyes on it.

Thank you for your contribution!

[2022-04-13 12:49] tustvold commented on #1459
I've created https://github.com/apache/arrow-rs/pull/1558 which adds an option to skip decoding the garbled arrow metadata, this seemed like the safest option for allowing people to read these files, without this coming back to bite us in a strange way down the line.

I would recommend using `flavor='spark'`, `engine=fastparquet` or `version="2.4"` when writing these files as a better workaround,

[2022-04-13 12:51] #1538 closed

[2022-04-13 12:56] tustvold commented on #1531
Coming at the problem from a Rust perspective, as opposed to potentially a query engine perspective, I personally would expect it to behave similarly to the standard library. That is:

* [Bytes by default](https://doc.rust-lang.org/std/primitive.str.html#method.get), with validation that it isn't [splitting a codepoint](https://doc.rust-lang.org/std/primitive.str.html#method.is_char_boundary)
* [U