[2021-06-28 17:48] jhorstmann commented on #503
@e-dard I'm just about to open a PR :)

[2021-06-28 18:53] alamb opened #506 ""Optimize" Dictionary contents in DictionaryArray / `concat_batches`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Our project (IOx) uses dictionary arrays heavily to compress arrays of strings (that are mostly the same value). When `DictionaryArrays` are concatenated together the contents of the dictionaries are also concatenated resulting in duplication and some dictionary entries which are unused.

Simi

[2021-06-28 18:55] alamb commented on #506
FYI @jhorstmann  I don't know if this is similarly interesting to you but we will likely not be able to ensure our dictionaries are always exactly the same

[2021-06-28 20:26] jhorstmann commented on #506
A nice benefit of this is that a GROUP BY that dictionary column afterwards would be very cheap since it does not need another hashmap and instead could index directly into an array of accumulators with the keys. Not sure if that is the usecase you are after or if this is more of a nice side effect.

Ensuring sorted dictionaries is something I'm definitely interested in, `Field` already has the `d

[2021-06-28 20:39] jorgecarleitao commented on #506
Great issue description @alamb 🎩

I would do it on a separate kernel, as to not break the principle that concatenating arrays is an `O(N)` operation where `N` is the number of elements in all arrays (this is `O(N log N)`?)

`ensure_sort: bool` or something like that would be a nice argument for such a function.

In general, we have a small challenge in how we track dictionary metadata, though: our

[2021-06-28 20:49] alamb commented on #506
I think "side effect" :)

Yes, we are *definitely* also interested in ensuring sorted dictionaries (we have an optimized physical representation that requires a sorted dictionary and today it simply resorts the incoming dictionary, unnecessarily)

[2021-06-28 20:50] alamb commented on #506
@jorgecarleitao it certainly sounds interesting -- as long as there was some reasonable way to interact with the dictionary and its contents this sounds good to me.

[2021-06-29 10:15] tustvold commented on #506
So another option I've been thinking about, is instead of optimizing the RecordBatches after the fact, to optionally generate better RecordBatches in the first place. This is similar to what is proposed in #504 but perhaps more general.

The basic idea would be to extend MutableArrayData with a flag to recompute dictionaries on freeze, I already have a fairly good idea of how to implement this. Va

[2021-06-29 10:37] alamb commented on #506
@tustvold  This sounds pretty interesting. Would the idea be to add potentially duplicated / unused values in `MutableArrayData` and then rewrite the data on freeze?

I wonder if there is any way to avoid collecting the duplicated values in the first plane

[2021-06-29 11:00] tustvold commented on #506
The idea I had was be to defer creation of the dictionary ArrayData until freeze, as opposed to in the constructor, but otherwise to keep the extend generation the same. Freeze would then scan through the generated keys in the `_MutableArrayData` to compute the values to include in the final dictionary, build this new dictionary, and then rewrite the keys. I realise as I write this that `_MutableA

[2021-06-29 11:13] jorgecarleitao commented on #506
Note that I had very limited knowledge about Arrow and Rust when I initially proposed the MutableArrayData; specially the dictionary part, which was simply written to "work for dictionary arrays".

Its primary goal was simply to allow us to easily construct an array out of "slices" of other arrays, which I was observing to be a recursive pattern in filter, concat, sort-merge and joins.

`_MutableA

[2021-06-29 13:21] alamb commented on #506
I was probably overthinking, but I was imagining that we could reduce peak memory usage by doing something smarter than "concat and then cleanup"

However, given concat and then cleanup would be an improvement over head, starting there and then making additional improvements as events / profiling warrants seems like a good idea to me

[2021-06-29 13:53] tustvold commented on #506
@alamb what I'm proposing isn't "concat then cleanup". You build the keys array with the current dictionary encodings as if they had been concatenated together (but don't actually concatenate them). Then compute the new dictionary and re-encode the keys. Is there some way to do better than this?

[2021-06-29 15:48] jhorstmann commented on #502
@ritchie46 there is a `bit_slice` method in `Buffer` for this usecase, if the offset is a multiple of 8 it returns a shallow slice, otherwise a new buffer with the shifted bits is constructed. And I agree this api is really easy to miss or error prone to use and we need to somehow come up with an api that doesn't require us to constantly think about bit offsets.

[2021-06-29 15:57] alamb commented on #506
This sounds like a good plan to me

[2021-06-29 17:39] jorgecarleitao opened #508 "Decimal type for large precisions seems to be written incorrectly to parquet"
The computation of the number of bytes given a precision seems incorrect, and writing decimal larger than 18 crashes?

Found while working on the corresponding in arrow2.

See [parquet's definitions](https://github.com/apache/parquet-format/blob/master/LogicalTypes.md#decimal) for details, but it seems that `decimal_length_from_precision` is incorrect because it is not the inverse of the maximum n

[2021-06-29 18:59] #503 closed

[2021-06-29 23:43] bjchambers opened #510 "`nullif` operating on `ArrayRef`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The `nullif` kernel currently only applies to `PrimitiveArray<T>`. This makes it impossible to use with non-primitive types, which often arise when working with structured / nested data. Additionally, it seems like the `nullif` kernel should have a similar signature to `filter` -- where `filt

[2021-06-30 06:37] jorgecarleitao commented on #510
Yep, that aligns well with the other kernels, and it is in general preferable as it avoids others having to do the same.

I would use `&dyn Array` instead of `ArrayRef` as its argument, since there is no need to require `Arcing` an array for using the kernel. With this signature, we can write

[code]

instead of

[code]

[2021-06-30 12:58] bjchambers commented on #510
I can do that. Although there are cases where nullif could return a
reference. For instance if the boolean column is all false and non-null. I
guess maybe the Arc doesn't provide large wins of the underlying data is
Arc'ed.

I ran into a problem with equality of sliced struct arrays. I'll post a
draft PR and maybe file another issue.

On Tue, Jun 29, 2021, 11:38 PM Jorge Leitao ***@***.***>
wrote:

[2021-06-30 16:27] bjchambers opened #514 "Struct equality on slices has false negatives"
**Describe the bug**

A struct array that is sliced to a subset is not equal to a struct array created from just that subset of data. Stepping through the debugger I *think* it is because some of the null/value comparisons drop the offset and end up comparing the wrong part of the array.

**To Reproduce**

Failing test case here:
https://github.com/bjchambers/arrow-rs/commit/ccc8a4c569098795f54a8e

[2021-06-30 20:41] #502 closed

[2021-07-02 11:37] ritchie46 opened #517 "Update rustc and packed_simd in CI before 5.0 release"
Currently arrow will not compile with simd on the latest rustc nightly.

There we're some changes made in the unstable features of rustc, which makes that `packed_simd==0.3.4` will not compiler anymore.

More info: https://github.com/rust-lang/packed_simd/pull/322

[2021-07-03 06:25] nevi-me opened #518 "Parquet list reader not reading correct element lengths"
**Describe the bug**

This is https://issues.apache.org/jira/browse/ARROW-13120 moved here, with a bit more details.

The issue is that the list reader does not check repetitions to calculate the correct number of values to read in order to correctly compose a list.

**To Reproduce**

Given an array:

[code]

Reading 2 values should return the 5 child values, but only 1 and 2 are returned.

**Expe

[2021-07-03 11:03] alamb opened #519 "Allow creation of StringArrays from Vec<String>"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The usecase is I have a Vec of derived `String` values but I can not create a StringArray from them

**Describe the solution you'd like**
I would like to be able to run:
[code]

For any `v` that has things that can be borrowed as `str` or `Option<str>` (including `String` and others) rather th

[2021-07-03 13:44] joshuataylor opened #520 "into_inner() for CSV Writer"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would love an `into_inner()` for the CSV writer, this is what I have been using:
[code]

In the CSV Writer, and it has been working well for my project. It exists in the JSON Writer.

**Describe the solution you'd like**
Add the function to CSV writer.

**Describe alternatives you've conside

[2021-07-03 15:49] bjchambers commented on #514
I think the problem here may be more widespread than I originall thought. It looks like the equality methods are inconsistent in how they handle offset. For instance:

[code]

This starts has `lhs_start` and `rhs_start` as 0. This would suggest that `equal_nulls` and `equal_values` should add the start to the offset.

[code]

This uses the `lhs_start` directly for counting nulls (which doesn't add

[2021-07-03 16:07] bjchambers commented on #510
Draft of the updated kernel is up. It still uses `ArrayRef` because there are a few cases where the reference to the input array is cloned and I'm not sure there is a good way to handle that taking `&dyn Array` (eg., wouldn't it have to clone the `&dyn Arary` to produce a new `Array`)?

Note that one of the added tests is failing for what I believe is a bug in struct equality (#514).

[2021-07-04 07:36] houqp commented on #232
This might have something to do with the crates.io releases. I am able to get a successful build from `4.4.0` tag (32b835e5bee228d8a520151) if I use git as the crate source. However, the `4.4.0` release in crates.io results in the same simd build error for me.

[2021-07-04 20:47] dectl commented on #390
I have been debugging my code all day and the issue turns out to be attributable to this bug.

[2021-07-05 06:44] #376 closed

[2021-07-05 07:31] marcvanheerden opened #523 "README developer instructions out of date"
**Describe the bug**
The developer instructions do not reflect the recent changes to the directory structure

**To Reproduce**
Run the code snippets in the developer instructions section of the README

**Expected behavior**
Expected snippets to run without error

**Additional context**
I will open a PR for this small fix in a few minutes

[2021-07-06 09:39] jhorstmann opened #526 "Incorrect value in error message from GenericListArray::try_new_from_array_data"
**Describe the bug**
The error message should report the number of buffers instead of the arrays length:

    if data.buffers().len() != 1 {
        return Err(ArrowError::InvalidArgumentError(
            format!("ListArray data should contain a single buffer only (value offsets), had {}",
                    data.len())));
    }

**To Reproduce**
Try to create a ListArray using ArrayDataBuilder

[2021-07-06 13:21] alamb opened #527 "Add temporal kernels for arithmetic with timestamps and durations"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to arithmetically create date / time columns. In my case I want to add some duration (7 days) to a Date32 column

**Describe the solution you'd like**

I would like temporal kernels that allowed operations such as:

TimestampNanosecondArray + Duration --> TimestampNanosecondArray
D

[2021-07-06 13:21] alamb commented on #527
FYI @velvia

[2021-07-06 17:53] #517 closed

[2021-07-06 18:40] #523 closed

[2021-07-07 09:07] ritchie46 opened #529 "master fails to compile with `default-features=false`"
**Describe the bug**
Creating a new project with this `Cargo.toml` fails to compile:

[code]

Output:

[code]

This is introduced in 80a57be3215ed7210971a501b10664cadfd59bea /  #488

There are quite often feature tag related bugs that could be prevented if we'd run [cargo hack](https://github.com/taiki-e/cargo-hack) in CI.

Would you be willing to accept a PR that adds those checks? @alamb @jorgec

[2021-07-07 11:48] alamb commented on #529
For anyone finding this ticket, a workaround is to add the following to your Cargo dependencies:
[code]

[2021-07-07 11:50] alamb commented on #529
@ritchie46  I am not sure about cargo-hack -- would the idea be to check every combination of arguments?

Note we supposedly already have a CI check for `--no-default-features` here:
https://github.com/apache/arrow-rs/blob/master/.github/workflows/rust.yml#L116

But clearly that did not catch this regression

[2021-07-07 11:54] ritchie46 commented on #529
Indeed. Running `cargo hack check --each-feature --no-dev-deps` would run a `cargo check` on all possible feature combinations.

[2021-07-09 04:13] bjchambers opened #530 "Take kernel doesn't handle nulls and structs correctly"
**Describe the bug**

Applying the Take kernel to an array of indices and an array of structs I expect nulls in the output in two cases:

1. If the index is null for the current row
2. If the struct is null at the index specified in the current row.

Neither of these cases produce a null value.

**To Reproduce**

See PR.

**Expected behavior**

See description / PR.

**Additional context**

See de

[2021-07-09 11:49] #519 closed

[2021-07-09 14:50] joshuataylor commented on #529
I'm also getting this when using:
[code]

Adding rand does not fix this.

[2021-07-09 18:45] #530 closed

[2021-07-09 18:59] alamb commented on #529
I am starting to work on this one

[2021-07-09 21:18] alamb commented on #458
It is interesting -- I can reproduce these errors and it fails for me on 4.4.0 as well as 4.0.0.

With any of the following in my Cargo.toml
[code]

when I try to compile with the command

[code]
I get the reported errors

From source, however,  this works fine on master and on 4.4.0 tag
[code]

[2021-07-09 21:19] alamb commented on #458
Given this is happening on older releases to I don't think I would hold the release for this...

If anyone else has any ideas, I would love to hear them. There are some tests here: https://github.com/apache/arrow-rs/pull/534 I'll try to get in

[2021-07-11 05:02] jorgecarleitao commented on #461
Wouldn't it make it more sense to add this to `compute` as a normal function? Implementing it on the `RecordBatch` interface is breaking the separation between compute and data that we enforce with the `compute` module.

[2021-07-11 11:30] alamb commented on #461
@jorgecarleitao I think that comes down to "is concat a construction operation or a compute operation"? It could probably be classified as either. I don't have a strong opinion about where the "concat RecordBatch" function goes.

The only other prior art of using `RecordBatch`es in compute kernels I found is  `pub fn filter_record_batch` in filter.rs
`
https://github.com/apache/arrow-rs/blob/maste

[2021-07-11 11:41] nevi-me commented on #461
I'd lean towards `RecordBatch::filter` and `RecordBatch::concat` as long as that ends up being a convenience that iterates through all columns, and calls the underlying compute or other function.

Similar to a `RecordBatch::slice` that calls `array.slice` internally.

I think this would aid discoverability, in the sense that a person asking "what can I do with a record batch?" would look at `impl

[2021-07-11 11:44] alamb commented on #461
I am convinced by this argument 👍

[2021-07-11 12:28] nevi-me opened #538 "DataType::Map tracking issue"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

We are adding support for the map data type, which is a list of key-values ala hashmap.
This issue tracks outstanding functionality without opening multiple issues for each at once.

The outstanding work after #395 and #491 are:
- [ ] Integration testing (https://issues.apache.org/jira/browse

[2021-07-11 12:48] nevi-me commented on #518
@mcassels I've opened this issue to track the bug that you identified

[2021-07-11 12:51] nevi-me commented on #334
Can be closed

[2021-07-11 12:51] #334 closed

[2021-07-11 14:25] jorgecarleitao commented on #461
Let me try to explain my reasoning atm.

All methods exposed on `Array` are `O(1)`. In particular, `.slice` is `O(1)` over the array, and thus `O(c)` over the record where `c` is the number of fields.

`concat` over `RecordBatch` seems rather simple but is `O(c * n * r)` where c is the number of columns, r the number of records, and `n` the average length of the records. Since `c` is trivially par

[2021-07-11 14:46] ritchie46 commented on #461
I think a lean arrow-core crate would be beneficial
 We already started some work be feature gating IO logic.

Wouldn't the same be achieved by `impl FromIterator<ArrayRef> for RecordBatch`? Then users can use the `concat` kernel and choose how to iter the columns. They also don't pay the compilation penalty until they actually implement that iterator + collect.

[2021-07-12 12:13] alamb commented on #461
I think there is a tradeoff between "making the arrow crate accessible (easily usable) for newcomers" and "making it hard for users to write non optimal code"

From where I sit there is nothing about adding `RecordBatch::concat` or `concat_batches` that prevents other iteration methods over columns of a RecordBatch if needed (e.g. by polars, etc)

Splitting `arrow-core` and `arrow-compute` is a go

[2021-07-12 12:16] alamb commented on #461
BTW `impl FromIterator<ArrayRef> for RecordBatch` would need some way to name the fields of the `Schema` in the created `RecordBatch`

[2021-07-12 15:27] alamb commented on #529
github got a little excited and closed this prior to the fix actually being merged

[2021-07-12 16:04] #529 closed

[2021-07-13 00:51] andygrove opened #541 "IPC reader panicks with out of bounds error"
**Describe the bug**

I am working on [a PR in DataFusion](https://github.com/apache/arrow-datafusion/pull/709) and hit this during query execution.

[code]

**To Reproduce**
I don't have a repro case yet. I will try and create one.

**Expected behavior**
Don't panick.

**Additional context**
None

[2021-07-13 00:55] andygrove commented on #541
I just saw some more context for this, so maybe not truly an Arrow IPC bug after all (although it would be nice to avoid the panic).

[code]

[2021-07-13 02:05] andygrove commented on #541
I have a repro case with a 2MB IPC file

[2021-07-13 02:27] andygrove commented on #541
[code]

[2021-07-13 03:26] novemberkilo commented on #301
keep-alive -- I'm still on this // @alamb

[2021-07-13 03:38] jorgecarleitao commented on #541
Could you upload the file?

[2021-07-13 12:57] andygrove commented on #541
I've uploaded it to Google Drive: https://drive.google.com/file/d/1C7h_VE6F3PrChyOf3lkUrUmA33kmdowm/view?usp=sharing

[2021-07-13 13:25] andygrove commented on #541
Sorry for the noise. It looks like I had two threads writing to the same file.

[2021-07-13 13:56] #463 closed

[2021-07-13 16:18] MichaelBitard commented on #349
This still happens with parquet 4.4.0, it may be related to an other type, I'll try to reproduce it with a minimal example, but right now, it always hangs after reading 2046 rows.

[2021-07-13 16:24] alamb opened #543 "Remove lifetime from DynComparator"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The cost of building a comparator (initialising a DynComparator) is often significantly higher than the actual cost of executing the comparator's closure on two row IDs. Therefore it makes sense to build the comparator once, and re-use the returned DynComparator for each row you are comparing

[2021-07-13 16:48] MichaelBitard commented on #349
I just updated prqs to use the latest version of parquet-rs and arrow (commit 6698eed) and the issue still happens with the example you provided @garyanaplan. It is stuck at 2046 rows read.

To reproduce:
* clone https://github.com/MichaelBitard/pqrs (I pushed the sample.parquet in the repository)
* launch `cargo run rowcount sample.parquet` --> you'll see 2049 files
* launch `cargo run cat sample

[2021-07-13 19:14] alamb opened #544 "Error building on master - error: cyclic package dependency: package `ahash v0.7.4` depends on itself. Cycle"
**Describe the bug**

When I tried to use the code from master in arrow/datafusion in IOx (which depends on both arrow and datafusion) I got this crazy error while trying to resolve dependencies:

[code]

**To Reproduce**
make a project that depends on both datafusion and arrow

**Expected behavior**
Should be able to compile

**Additional context**
This was introduced because of a change of the r

[2021-07-13 21:54] alamb commented on #343
Given we now have slice in https://github.com/apache/arrow-rs/issues/460 I don't think this adds much anymore

[2021-07-13 21:54] #343 closed

[2021-07-14 04:35] #544 closed

[2021-07-14 06:14] #543 closed

[2021-07-14 11:51] #461 closed

[2021-07-14 12:44] garyanaplan commented on #349
Hi @MichaelBitard,

Unfortunately, the problem was caused by writing a parquet file. I imagine you created your sample.parquet file with the unfixed version. That would mean you would still hit the problem when reading.

Can you confirm that sample.parquet was created with the fixed code and then verify that it will read ok?

Gary

[2021-07-14 15:40] MichaelBitard commented on #349
Oops, you are right, sorry.

If I generate the sample.parquet with the latest version, it not longer hangs during reading.

Thanks for noticing and sorry again!

[2021-07-14 16:14] Jimexist opened #553 "primitive sorting can be improved and more consistent with and without `limit` if sorted unstably"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

use [`sort_unstable_by`][1] in primitive sorting so that we can have:
1. better memo

[2021-07-14 16:17] Jimexist commented on #527
anyone taking this? also is there any reference implementation in other languages?

[2021-07-14 19:20] alamb commented on #349
Thank you @MichaelBitard  for taking the time to report it!

[2021-07-14 20:09] alamb commented on #527
@Jimexist  no one that I know of is taking this on. If you were interested that would be awesome

The reference implementation would probably still be postgres in my mind. There is a nice table https://www.postgresql.org/docs/current/functions-datetime.html#OPERATORS-DATETIME-TABLE that describes all the operators, input types, and output types. I think it helps because certain combinations, such

[2021-07-14 20:11] alamb opened #554 "ArrayData::slice() does not work for nested types such as StructArray"
**Describe the bug**
`ArrayData::slice()` does not work for nested types, because only the `ArrayData::buffers` are updated with the new offset and length. This has caused a lot of issues in the past.

This blocks us from being able to implement `RecordBatch::slice()`, and has led to creating #381 to sidestep this issue.

[2021-07-14 20:13] nevi-me commented on #527
this also relates to #45

[2021-07-14 20:14] nevi-me commented on #554
Thanks for this @alamb, I hadn't noticed that not linking PRs to existing issues affects the changelog.

[2021-07-14 20:15] #554 closed

[2021-07-14 21:08] alamb commented on #554
Yes @nevi-me  I don't fully understand the intricacies of the changelog generator that @jorgecarleitao  found but it seems to be mostly derived from issues (rather than PRs) 🤷  I figured I will keep honing the process in future releases

[2021-07-15 03:53] bjchambers commented on #514
I think that #389 seems to have fixed this. I'll make a PR with the corresponding test case to prevent regression.

[2021-07-15 05:57] velvia commented on #527
This is definitely a good feature.

It seems to me that in most cases, that time/duration manipulations could be based on existing arithmetic kernels, that'd be one way to go about it.
ie some combination of cast(date32 -> i32) -> math add kernel -> cast back for example.

Or at least, leveraging existing math kernels would make a ton of sense.

[2021-07-15 07:37] jaredzhou opened #557 "append row groups to already exist parquet file"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The SerializedFileWriter can only write row groups to new file , I want to append data to already existing parquet file

**Describe the solution you'd like**
Since we dont want to break SerializedFileWriter api， we can create a new struct SerializedFileAppender, when  new  this struct, just fe

[2021-07-15 11:46] alamb commented on #527
I agree -- it may be that since the date/time arrays are `PrimitiveArrays` it might already work. But I remember problems when I tried.

My selfish initial desire is to be able to write a filter like "the last 5 minutes" in DataFusion so something like

[code]

[2021-07-15 12:21] jorgecarleitao commented on #527
I would say that we need to generalize the compute arithmetic kernels to support `&dyn Array` and then specialize based on `DataType` or bail if the operation is not valid for that datatype.

We do this in arrow2 thanks to @elferherrera, here: https://github.com/jorgecarleitao/arrow2/blob/main/src/compute/arithmetics/mod.rs#L126

[2021-07-15 12:49] alamb opened #558 "Make compute kernels easier to use by taking `&ArrayRef` and downcasting internally"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to do arithmetic on temporal arrys like `TimestampNanosecondArray`

https://docs.rs/arrow/4.4.0/arrow/compute/kernels/arithmetic/fn.add.html

The current compute kernels have the following signatures:

[code]

So if I have two `ArrayRefs` (aka `Arc<dyn Array>`) I am forced to down

[2021-07-15 12:50] alamb commented on #527
I very much support this notion -- I have filed https://github.com/apache/arrow-rs/issues/558 to track it.

I can take a crack at the proposed interface if this seems reasonable to people

[2021-07-15 12:55] alamb commented on #558
Or maybe the signature could be something like

[code]

So that we could take either an `&ArrayRef` or `&dyn Array` directly

[2021-07-16 11:51] houqp commented on #458
Potentially a duplicate of #232? [From my testing](https://github.com/apache/arrow-rs/issues/232#issuecomment-873538759), compiling from source always works even when checking out to specific version tag in git. I feel like it has something to do with cargo release/publish.

[2021-07-17 15:06] alamb commented on #292
This is about as done as I expect it to be. Closing this ticket 🎉

[2021-07-17 15:06] #292 closed

[2021-07-18 02:28] BohuTANG opened #561 "cargo audit failed"
**Describe the bug**

**error: 3 vulnerabilities found!
warning: 2 allowed warnings found**

[code]

[2021-07-19 02:05] dbr commented on #181
This would be nice to have - for example from arrow 4.2 to 4.3 the required Rust version jumped from 1.51 to 1.52 (as noted in #456), but wasn't mentioned in release notes, and was a little surprising in a point release

[2021-07-19 12:12] alamb opened #563 "Add a compute comparator interface that doesn't bind array instances"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

In DataFusion we are working on a Merge operator that needs to compare multiple sorted streams of record batches, merge them together, and produce a single sorted output stream (see more context in https://github.com/apache/arrow-datafusion/pull/722)

The current interface for comparing array

[2021-07-19 19:20] #561 closed

[2021-07-20 06:02] waynexia opened #568 "Implement sort() for binary array"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Implement `sort()` function for `BinaryArray`, `LargeBinaryArray` and `FixedSizeBinaryArray`.

**Describe the solution you'd like**
Extend "sort" and "take" kernels to binary array family.

**Describe alternatives you've considered**
n/a

**Additional context**
n/a

[2021-07-20 09:28] waynexia opened #570 "ListArray equality check may return wrong result"
**Describe the bug**
The `PartialEq` impl on `ListArray` will ignore some differences.

**To Reproduce**

[This case](https://github.com/waynexia/arrow-rs/blob/7f6ce9299bc3a51665a26ef5da788f1e627e9be5/arrow/src/compute/kernels/sort.rs#L2421-L2436) should fail but not.

**Expected behavior**
The above case fail.

**Additional context**
I noticed this from [this test case](https://github.com/waynexi

[2021-07-20 18:01] #570 closed

[2021-07-20 18:04] #553 closed

[2021-07-20 21:21] bjchambers commented on #527
I have some kernels doing time arithmetic for a personal project. I think it is helpful to consider more than just durations since, those are the easiest case. Specifically, we should also be able to add intervals to timestamps.

I think it may be difficult to do these using existing arithmetic kernels. For the case of fixed durations (5000 seconds) it may be possible, but when handling intervals

[2021-07-21 00:26] bjchambers commented on #514
Hrm, upon closer inspection, that didn't fix this.

The tests are still failing, and I think I'm outside my depth debugging. It looks like something isn't lining up with the null bits or the null counts in the sliced structs.

@nevi-me do you have any ideas on what may be failing, or suggestions for how to find t he problems? I don't have a strong enough grasp on how it's expected to work, so it's

[2021-07-21 04:16] dbr commented on #181
Practically, as long the requirement changes are noted in the `CHANGELOG.md`, I'd be happy!

The main inconvenience with the 4.3 release to me was just I wasn't sure what had happened - I ran `cargo update` and got a strange error, and the changelog didn't mention anything significant. Had I not found #456 it would have taken a bit of poking around to realize exactly what happened

I think it make

[2021-07-21 11:05] alamb opened #580 "MIRI failure in `array::ffi::tests::test_struct` and other ffi tests"
**Describe the bug**
The test array::ffi::tests::test_struct signals a MIRI failure

**To Reproduce**

[code]

The tests fails with variations of the following
[code]
And

[code]
and

**Expected behavior**
The test should pass without any issues being flagged by MIRI

**Additional context**
Test disabled in https://github.com/apache/arrow-rs/pull/578

Example of failing test: https://github.com/ap

[2021-07-21 11:12] alamb commented on #580
The failing test was added in https://github.com/apache/arrow-rs/pull/287/files from @roee88  . @jorgecarleitao  and I signed off on it.

[2021-07-21 11:15] alamb opened #581 "Ensure output of MIRI is checked for success"
**Describe the bug**
MIRI tests are run on each CI check but the CI will pass even if the MIRI checks fail

**To Reproduce**
Introduce a MIRI change and observe CI still passes

**Expected behavior**
If MIRI fails, CI tests should also fail

**Additional context**
We started running MIRI again in https://github.com/apache/arrow-rs/pull/421, but while discussing with @jorgecarleitao
 on https://git

[2021-07-21 11:33] roee88 commented on #580
Hi @alamb,

Without jumping into conclusions.. there is also an option that the test itself is not the issue because it actually successfully passed the miri check at the time in #323 (I tested with miri quite a lot when I worked on the ffi parts). There have been changes to the ffi code since then and it's possible that one of them re-introduced the error that was fixed in #323.

[2021-07-21 11:35] alamb commented on #580
Thanks @roee88  -- that is a good point. Whoever works on this ticket can perhaps look for other changes to FFI that may have introduced the MIRI issue as a way to isolate what was going on

[2021-07-21 13:21] #580 closed

[2021-07-21 14:00] #581 closed

[2021-07-21 14:10] Jimexist opened #586 "exponential sort can be used to speed up lexico partition kernel"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

exponential sort can be used to speed up lexico partition kernel, which most likely

[2021-07-21 17:04] alamb opened #587 "Can't cast from timestamp array to string array"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am trying to work with timestamps -- specifically converting data from csv, etc to timestamps

**Describe the solution you'd like**
I would like the `cast` kernel to support converting`TimestampNanosecondArray` (and the other date / time / timestamp related types)  to `StringArray`

I would

[2021-07-21 17:36] carols10cents opened #589 "Parquet file content is different if `~/.cargo` is in a git checkout"
**Describe the bug**

I check my home directory into git. My home directory contains `.cargo`, my `CARGO_HOME` directory. When I write a Parquet file, its `FileMetaData` contains:

[code]

That SHA is of a commit in my home directory, not in Parquet, and not in the project using Parquet.

I have a test in the project that verifies the size of the parquet file data, and the test was failing for me

[2021-07-22 04:48] mhseiden opened #593 "functions in temporal_conversions do not handle negative integers correctly"
**Describe the bug**
From my testing, it appears that functions in `temporal_conversions` do not handle negative integers correctly. The cast of a negative number to a `u32` results in a junk value that causes `chrono` to panic.

**To Reproduce**
The following playground snippet reproduces the issue, using the code in `5.0.0`. https://docs.rs/arrow/5.0.0/src/arrow/temporal_conversions.rs.html#98-1

[2021-07-22 08:17] #589 closed

[2021-07-22 08:38] nevi-me opened #594 "Slicing list<struct<...>> doesn't pass the list offsets to struct children"
**Describe the bug**

We resolved struct slices by passing the offset and length to child data, but this doesn't work on lists that have struct children, because when slicing lists, we don't pass its offset and length to its child data (a list has 1 child datum). This is because we can calculate this at runtime when indexing into a list.

**To Reproduce**

* Create a `list<struct<[int]>>` or a `ma

[2021-07-22 12:26] roee88 opened #595 "FFI implementation deviates from specification for array release"
The FFI implementation deviates from the C Data Interface specification in [Release callback semantics – for producers](https://arrow.apache.org/docs/format/CDataInterface.html#release-callback-semantics-for-producers).

The current implementation doesn't walk through the direct children but rather only through the children in private data. This blocks support for moving child arrays.

It also ass

[2021-07-22 12:48] roee88 opened #596 "FFI implementation deviates from specification for memory management on export"
The FFI implementation deviates from the C Data Interface specification in [Member allocation](https://arrow.apache.org/docs/format/CDataInterface.html#member-allocation).

Taking an _example_ of a pyarrow consumer and arrow-rs producer, my understanding is that the intended behavior is:
1. pyarrow allocates empty ffi structure(s)
2. pyarrow pass the empty ffi structure(s) to arrow-rs
3. arrow-rs

[2021-07-22 12:54] alamb opened #597 "Can not create a TimestampNanosecondArray that has a specified timezone"
**Describe the bug**
I can not create a `PrimitiveArray` that has a `DataType::Timestamp` with a timezone other than `None`

**To Reproduce**
I am trying to pretty print an array that has timestamps using UTC time.

So instead of `1970-01-01 00:00:00.000000100` I want to print something more like the following (note the Z, in RFC3339): `1970-01-01T00:00:00.000000100Z`

To do so I figured I would "

[2021-07-22 12:55] alamb commented on #597
@jorgecarleitao  / @Dandandan  / @GregBowyer  / @velvia  can you think of something I have missed here? Is it a reasonable proposal to switch to using `&static string` for the timezone specifier?

[2021-07-22 14:02] rok commented on #597
[C++ uses a string](https://github.com/apache/arrow/blob/master/cpp/src/arrow/type.h#L1257) but I'm not familiar with rust implementation at all.

[2021-07-22 14:22] alamb opened #598 "Allow the creation of String arrays from an interator of &Option<&str>"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am making constant arrays for tests from constant slices

With 1.53 Rust introduces the ability to turn constant slices into iterators. For example. However, the collect for

This does not work:
[code]

It produces this error:
[code]

But this does (for primitive arrays):
[code]

Instead, fo

[2021-07-22 15:06] alamb opened #599 "Format timestamps that have a timezone using RFC339 format"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I have timestamps from UTC and I want to format them in RFC3339 format, such as `2021-07-20T23:28:50Z`

Right now, the only formatting supported by Arrow is "naive" timestamps (aka without any timezone) format, such as `2021-07-20 23:28:50` (note missing Z)

**Describe the solution you'd like*

[2021-07-22 19:00] jorgecarleitao commented on #596
I agree.

What I am not following is which pyarrow API we should use to create the two pointers: `pyarrow.cffi` is not public, so we can't really allocate from within pyarrow/c++ to populate it.

[2021-07-22 20:07] ianmcook commented on #274
The changelog generator added in #289 looks good, thanks!

We would like to link to this apache/arrow-rs changelog from the apache/arrow release notes. We would also like to include the apache/arrow-rs and apache/arrow-datafusion contributors and contribution counts so that these Rust contributions continue to be properly recognized there. @thisisnic is working to do this in https://github.com/apa

[2021-07-22 20:26] alamb commented on #274
Hi @ianmcook  -- thank you for following up. I responded at https://issues.apache.org/jira/browse/ARROW-12701?focusedCommentId=17385759&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-17385759

[2021-07-22 20:34] alamb commented on #181
@dbr  -- got it -- as it turns out I was somewhat surprised by the min change too (I didn't realize that something we backported used a new API in rust 1.53).

In order to properly implement such a version policy, we would probably need to pin the rust version used in the arrow-rs crate's CI system (otherwise we effectively get the latest rust whenever it is released, and we often scramble to fix

[2021-07-22 20:40] alamb commented on #527
Yeah, handling intervals will take some finagling / handling intervals that aren't fixed numbers of seconds.

However, I think the type system can represent such durations (using a `DataType::Duration`: https://github.com/apache/arrow-rs/blob/master/arrow/src/datatypes/datatype.rs#L97) so we can perhaps use `PrimitiveArray<Duration>` when you refer to `Delta` above

[2021-07-22 20:58] roee88 commented on #596
This issue is not related to pyarrow, we're actually starting to experiment with other arrow implementations. However, what makes you say it's not public? I see it in https://github.com/apache/arrow/blob/apache-arrow-5.0.0/python/pyarrow/cffi.py and if I `pip install pyarrow` (pyarrow-4.0.1) I can successfully run `from pyarrow.cffi import ffi`.

[2021-07-22 21:01] jorgecarleitao commented on #596
Ups, you are right; I was using an older version of pyarrow that did not have this exposed.

[2021-07-22 21:11] roee88 commented on #595
The same is true for schema release. As part of a fix, the allocated format, name, (and in the future: metadata, dictionary) should also go into private data. However, currently the code has a [with_name](https://github.com/apache/arrow-rs/blob/9f40f899e439d072fc859e0b4abf46776387e0d1/arrow/src/ffi.rs#L177) function that would probably need to go away because `private_data` is already a raw pointe

[2021-07-22 21:18] velvia commented on #597
@alamb there is actually a way to create primitive timezone arrays in other timezones.  I have some code which I'll be PR'ing against both Arrow and DataFusion which does this, but includes other things we'll need.  However, something like this:

[code]

You can use from_vec as well and it works too.   I found other ways of creating timezone-based arrays as well.

You don't need to create a type w

[2021-07-22 21:21] velvia commented on #597
@alamb PRs/issues which are related to this and other timezone issues and I plan to submit soon-ish:
- Adding proper timezone support for `ScalarValue`, without which many things in SQL with timezones just don't work
- Having arrays with timezones be properly propagated through various kernels.  Simple fixes but really important
- Having Debug actually print the actual timezone, not the None impli

[2021-07-22 21:34] bjchambers commented on #527
I don't think that entirely works for two reasons -- first, there are actually multiple `Duration` types (in Rust) for the same `DataType`. Second, the delta may also be an interval. Specifically, it needs to be constrained in a way that supports the following arrays:

* `PrimitiveArray<DurationSecondType>` - add a fixed number of seconds
* `PrimitiveArray<DurationMicrosecondType>` - add a fixed n

[2021-07-22 22:31] kszucs commented on #595
If I recall correctly metadata and dictionary has not been implemented so far, though we should definitely support those.

The `with_name` and `with_flags` methods are used as [setters here](https://github.com/apache/arrow-rs/blob/9f40f899e439d072fc859e0b4abf46776387e0d1/arrow/src/datatypes/ffi.rs#L240-L241) (perhaps we should use a set_ prefix instead). These are separate fields in the c-struct f

[2021-07-23 03:58] roee88 commented on #595
My point was that own allocations (like name) must go to private data, not sure if that was expressed clearly in my message. I'll create a draft PR to make it clearer. I can help contribute here but will probably need your guidelines for the with_name setters.

In the code and text above whenever I wrote ArrowArray I meant FFI_ArrowArray, I just used the spec name sorry for the confusion. I do agr

[2021-07-23 12:14] rok commented on #597
@velvia

Offsets are much more practical indeed but don't cover things like daylight savings changes and human readable timezones (e.g. EST, PST, CET). But I don't know what your scope is and offsets might be enough.

[Chrono-tz](https://github.com/chronotope/chrono-tz/) seems to implement a timezone database in case you decide to look into that direction.

[2021-07-23 16:59] velvia commented on #597
@rok

The scope is an internal, compact representation to 1) facilitate easy and fast computation, 2) minimize memory and storage costs, 3) minimize network serialization overhead in Ballista.

It should be easily convertible to string representation.  It is true that numeric offsets would lose some information, perhaps there are better representations out there, like an enum from chronos or somet

[2021-07-23 18:25] alamb commented on #597
@velvia  I suggest we ensure the Rust implementation can interoperate with the timezone / time definition (e.g. use a string as defined here: https://github.com/apache/arrow-rs/blob/master/format/Schema.fbs#L226-L246) That string representation also allows for numeric offsets like `"+01:00"` or named timezones).

If `str` manipulation is too slow, perhaps we can use an enum like
[code]

That is qu

[2021-07-23 18:34] alamb commented on #527
That looks like a great idea to me. Nice

[2021-07-24 07:51] velvia commented on #597
@alamb I agree that enum would cover all existing use cases.  Still I'm curious, isn't there any restriction on what that string can be?  In reality in order to perform any timezone adjustments, that string should really conform to one of the standard timezone abbreviations or fully qualified timezone names, or offset - otherwise it cannot be useful.

Ideally it would be like an enum for each of t

[2021-07-24 08:50] jorgecarleitao commented on #597
I do not see what is the concern with `String`. It represent exactly what the spec expects; an owned utf8.

The root cause here seems to be the trait of the generic of the `PrimitiveArray`, that expects a type with a compiled-defined data type, which only works for small, finite-sized datatypes. Even the decimal array could have been represented as a `PrimitiveArray`.

Arrow2 solves this by decoup

[2021-07-24 10:56] alamb commented on #597
Good points @jorgecarleitao  and @velvia  -- it sounds like my challenge / problem with `TimestampNanosecondArray` will be solved when we bring in the ideas of arrow2. If it becomes a problem I can look into removing `DATA_TYPE`  as Jorge suggests.

One thing I have noticed that might warrant more thought about something other than `String` for storing timezones is that the `DataType` struct is co

[2021-07-24 17:32] roee88 commented on #595
On a second thought I'm not sure about this one. The rust implementation has an assumption that apart from nullifying the release callback everything is immutable. This might be a reasonable assumption even though the cpp implementation doesn't do the same and (at least to me) the spec aren't clear enough here. In contrast to the original description, the current release implementation doesn't blo

[2021-07-24 17:32] #595 closed

[2021-07-24 17:36] jorgecarleitao commented on #595
cc @pitrou , that may help us further here.

[2021-07-24 20:25] jorgecarleitao commented on #563
Not sure this will be performant because each comparison requires a `match` followed by two `downcast`s. I.e. this interface would push the downcasting to inside the hot loop, while the current interface places these operations outside the loop.

[2021-07-24 20:33] velvia commented on #597
I would definitely agree that we don’t want a specific type per timezone and that the direction of arrow2 is the right one.

@jorgecarleitao the concern with using Strings is twofold:

1) Parsing cost.  It means any timezone manipulation first requires parsing the string, and that has to be done for every single Array since each one owns its own String and could be different.
2) Storage and serial

[2021-07-25 05:54] wangfenjin opened #602 "Make FFI_ArrowArray empty() public"
We should make it pub for we can create it and used it to query data from c data interface

https://github.com/apache/arrow-rs/blob/87d284000c49d3607a1ec4e0cf5e0bf7fe9d552a/arrow/src/ffi.rs#L420

[2021-07-25 10:57] #586 closed

[2021-07-25 12:25] #263 closed

[2021-07-25 20:01] alamb opened #614 "Get MIRI running against parquet crate"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The MIRI tool helps crates ensure they have no undefined behavior https://github.com/rust-lang/miri

To improve the stability / security of the parquet crate, it would be cool to run MIRI against that too.

**Describe the solution you'd like**

Ideally, we would run same kind of MIRI checks on

[2021-07-25 20:01] alamb commented on #614
As noted by @houqp  -- I originally filed this in the wrong repo by mistake: https://github.com/apache/arrow-datafusion/issues/773

[2021-07-25 20:02] alamb commented on #614
🤔  though I tried to get a clean MIRI run against the parquet2 crate

[code]

And I got some errors; I am probably running it incorrectly 😢

[code]

[2021-07-25 21:23] jhorstmann commented on #614
Not really familiar with that code, but there is a FIXME comment about the alignment after pointer casts here: https://github.com/apache/arrow-rs/blob/1d6c37452f74a6443d269d0bdfc2c3738130fd5e/parquet/src/util/bit_util.rs#L556

If the alignment can't be guaranteed to be valid for u32, one possible solution could be to replace all `*in_buf` in bit_packing.rs with `std::ptr::read_unaligned(in_buf)`.

[2021-07-26 12:00] #301 closed

[2021-07-26 22:26] #568 closed

[2021-07-27 11:10] #602 closed

[2021-07-27 14:27] dbr opened #623 "Confusing memory usage with CSV reader"
**Describe the bug**
Using the `arrow::csv::ReaderBuilder` with something like `worldcitiespop_mil.csv` mentioned on [this page](https://github.com/BurntSushi/xsv/blob/master/BENCHMARKS.md)

I was experimenting with the batch size setting in a standalone script, and it impacted the RAM usage in a surprising way:

[code]

If I run it like so:

    cargo +1.53 run --release -- ./worldcitiespop_mil.c

[2021-07-27 15:03] Dandandan commented on #623
What the CSV reader does in the CSV parser is reusing some allocations over time in a batch to reduce allocations / time.
So generally, this might increase the memory usage a bit as more allocations are kept around from previous batches.

However, with a very small batch size of 10, this won't cause the high memory usage, but the data and metadata around a single `RecordBatch` does: each batch has

[2021-07-28 01:44] dbr commented on #623
Ahh, I think this was where a majority of my confusion was coming from - I should have had something after the `read_line` which re-iterated over the batches to be sure they weren't yet dropped

The only bit that remains a mystery to me is: why does a giant batch size cause the process to use so much RAM?

With the tweaked example:

[code]

..I get the following results:

batch size | process RAM

[2021-07-28 12:12] jhorstmann opened #626 "ListArray equals should not consider nested values if element is marked as null"
**Describe the bug**

I would expect the following test case to pass. In both arrays the second element is marked as null and so they should compare equal.

[code]

The output of the `assert_eq` also shows both sides the same:

[code]

[2021-07-28 18:19] alamb opened #627 "Add a note about arrow crate security / safety"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
If not used carefully, unsafe code can be written using arrow-rs,

**Describe the solution you'd like**
so we should tell users about this so they can be well informed

**Additional context**
See previous discussion on the mailing list:
* https://lists.apache.org/thread.html/recac1f6dc982bab29

[2021-07-28 18:27] alamb opened #629 "PROPOSAL: Mark the `alloc` and `buffer` and `bitmap` crates private"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As explained in https://github.com/apache/arrow-rs/pull/628 and linked mailing list comments, the `alloc` and `buffer` and `bitmap` crates are easy to misuse and can create undefined behavior.

Also, as part of the `arrow2` project @jorgecarleitao  has effectively rewritten / removed them all

[2021-07-29 00:02] paddyhoran commented on #629
Seems like a reasonable way to start to transition to the new arrow2 crate.

[2021-07-29 04:18] dbr commented on #623
I ran the example code with the [`memory-profiler`](https://github.com/koute/memory-profiler) tool, with huge batch size:
![graphs of memory allocation/fragmentation](https://user-images.githubusercontent.com/509/127428396-d6848bd4-92f4-47d4-ad74-d158e2bb9a17.png)

If I understand right, this explains the remaining mystery (why giant batch size causes process to use lots of memory). In my "ELI5 le

[2021-07-29 04:18] #623 closed

[2021-07-29 07:42] ritchie46 commented on #629
As long as it stays possible to use it I am all for. Polars is dependent on those inner features and accepts the risk, as long as it is obviously properly tagged `unsafe`. :slightly_smiling_face:

[2021-07-29 21:14] Dandandan opened #636 "Avoid materialization of indices in filter_record_batch for single arrays"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Some optimization possible in the kernel seems to avoid materializing (start, end) and pre-building the filter when there is only a single input array. Useful for filters like `SELECT x from t where [...]`.

**Describe the solution you'd like**
Don't pre-build the filter but use the normal `fi

[2021-07-30 14:10] waynexia opened #640 "Release candidate verifying script seems work on macOS"
**Describe the bug**
In this [document](https://github.com/apache/arrow-rs/blob/master/dev/README.md#verifying-release-candidates) it says

I think this document might be outdated? I can run the script on macOS (Intel chip, Catalina). Or there is some other environment that can't run it.

**To Reproduce**
n/a

**Expected behavior**
n/a

**Additional context**
BTW, I'm wondering whether this issue

[2021-07-30 19:13] alamb commented on #640
@waynexia   i also run the verification script on mac without issue I think the comment is outdated

[2021-07-30 19:16] alamb commented on #640
FWIW the question label already exists (I added it to this issue). It isn't clear to me if everyone can add labels to issues in arrow-rs. Does it work for you @waynexia ?

Perhaps we could add a template for a "question" to make it easier for people to file such questions: https://github.com/apache/arrow-rs/tree/master/.github/ISSUE_TEMPLATE

[2021-07-30 19:22] alamb opened #641 "Incorrect min/max statistics for strings in parquet files"
**Describe the bug**
The statistics written by the arrow / parquet writer for String columns seem to be incorrect.

**To Reproduce**
Run this code:

[code]

Then examine the resulting parquet file and note the min/max values for the "city" column are:
[code]

[code]

**Expected behavior**
The parquet file produced has min/max statistics for the city column:
[code]

As 't' follows 'l'

**Additional

[2021-07-30 19:30] #636 closed

[2021-07-30 22:25] alamb commented on #641
I believe the problem is that the comparison for byte arrays at https://github.com/apache/arrow-rs/blob/master/parquet/src/data_type.rs#L117-L138  is comparing the lengths first rather than lexicographically comparing the entries

I need to verify the correct behavior and polish up the PR, but now it should just be a mechanical exercise.

[2021-07-31 10:19] alamb commented on #641
I have confirmed that the python parquet writer correctly stores `"tweksbury"` as the max in statistics

Using this python script:
[code]

`parquet-tools` then confirm the min/max are "andover"/"tewksbury" as expected:

[code]

[2021-07-31 14:28] Dandandan opened #645 "Remove undefined behavior in `value` method of boolean and primitive arrays"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As they OOB check uses `debug_assert` instead of `assert`, the check is not there in release mode.
We should use `assert!` instead.

**Describe the solution you'd like**
We should use `assert!` instead. In places where `value` is used directly and can be converted to use the unchecked variant,

[2021-07-31 18:41] HagaiHargil opened #646 "`ipc::StreamReader` doesn't see new data after stream was emptied"
**Describe the bug**
When using `ipc::StreamReader`, if by any chance the stream buffer empties and then re-fills, the current `StreamReader` will not detect the new data that was added.

**To Reproduce**
[code]

**Expected behavior**
From my understanding, as long as the `StreamReader` is open new data should be detected even if the stream was empty for some time.

**Additional context**
I notice

[2021-08-01 11:05] alamb commented on #563
While looking through the hash join code from @Dandandan  in DataFusion, I found another implementation of a comparator that is similar to the comparator interface proposed in this PR. It is called `equal_rows` and could potentially benefit from not dispatching on the type (to then have to downcast as well) on each comparison

[code]

https://github.com/apache/arrow-datafusion/blob/18c581c4dbfbc3b

[2021-08-01 14:33] Dandandan commented on #563
There is some possibilty to use some totally different data structures too in the hash join, also to make this check more vectorized and maybe further improve efficiency and memory usage.

There is some nice article and references on this blog:

https://www.cockroachlabs.com/blog/vectorized-hash-joiner/

[2021-08-01 16:56] waynexia commented on #640
Thanks @alamb!

I cannot edit labels. It seems like this operation requires write permission to this repo or something.

I opened #649 to add the "question" template, please check it out :smiley:

[2021-08-01 17:35] bjchambers opened #650 "Comparison kernel documentation is incorrect"
**Describe the bug**

The documentation on the comparison kernels is incorrect. They use `combine_option_bitmap` to combine the null bitmaps, meaning the result is `null` if either of the inputs is `null`. This corresponds to the SQL treatment of `null` as unknown. This seems to be supported by the tests.

The rustdoc comments however indicate that `Null values are less than non-null values.`.

**

[2021-08-01 17:41] bjchambers commented on #527
Added a rough draft. The temporal values are a bit odd -- it looks like there is `as_datetime` but that doesn't respect the timestamp of the input, and seems like it would be doing a match inside the loop, so I added a method to `ArrowTimestampType`. Not sure if there is a better way to operate on the date time -- maybe a method that returns a closure that gets inlined away?

[2021-08-02 13:56] alamb commented on #563
I agree -- that article is a good read (though I did find the last bits somewhat hard to follow)

[2021-08-02 16:23] xianwill opened #653 "JSON decoder data corruption for large i64/u64"
**Describe the bug**
Large values for `i64` and `u64` types are corrupted by the cast to `f64` back to `i64/u64` in the [json decoder build_primitive_array method](https://github.com/apache/arrow-rs/blob/b38a4b6c29ba8b9be02460183c61de86bd9ba7df/arrow/src/json/reader.rs#L930-L931).

**To Reproduce**
Pass a large `i64` value through the decoder as demonstrated in [this commit](https://github.com/apa

[2021-08-02 17:29] #653 closed

[2021-08-02 17:32] #640 closed

[2021-08-02 17:33] paddyhoran opened #654 "Add IPC support for Union Array"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Although UnionArray is implemented it has no IPC support.

**Describe the solution you'd like**
UnionArray should pass the integration tests.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2021-08-02 17:42] paddyhoran commented on #85
Context: https://lists.apache.org/thread.html/r5664e13d0a28ef36f6244864b3b96217d082bdfafb29e866cbefbfa4%40%3Cdev.arrow.apache.org%3E

[2021-08-03 07:11] #645 closed

[2021-08-03 07:27] HagaiHargil commented on #646
I have exactly zero experience with the internals of this library, but it seems to me that `total_blocks`, the variable responsible for keeping tabs on the number of existing data blocks in the stream, is never updated past its initialization [here](https://github.com/apache/arrow-rs/blob/6bf1988852f87da21a163203eec4c83a7b692901/arrow/src/ipc/reader.rs#L587).

Then, when I call `.next()` on the it

[2021-08-03 16:07] nevi-me commented on #395
Fixed by #491

[2021-08-03 16:07] #395 closed

[2021-08-04 13:02] sum12 commented on #587
Hello, Thanks for the awesome description.
I spent sometime reading through the code base to implement this cast.

- one way to would be have a helper `cast_timestamp_to_string` helper which iterates over each of elements and calls `array_value_to_string`  and `collect` result and `into` it into `GenericStringArray`

- or one could replicate what `as_datetime` does in the cast.rs but limit it to `

[2021-08-04 16:08] alamb opened #655 "Allow `collect`ing from Values as well as `Option<value>`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to create integer arrays out of iterators of integers rather than an iterator of `Option<integer>`

Specifically I would like to do something like this:
[code]
To collect a vector of integers into a `Int32Array` with no null values. However, this results in a compiler error:
[code

[2021-08-05 00:53] alamb commented on #587
Thanks @sum12 !  think the trait you want is `ArrowTemporalType` https://docs.rs/arrow/5.1.0/arrow/datatypes/trait.ArrowTemporalType.html

So then you could write a function like:

[code]

And then to call it you might do something like:
[code]

[2021-08-05 00:55] alamb commented on #587
I also updated the description to be consistent (the example code and description said the opposite)

[2021-08-05 03:43] bjchambers opened #657 "Writing Parquet with a boolean column fails"
**Describe the bug**

When writing a parquet file with a boolean column I receive the error: `EOF: unable to put boolean value`.

**To Reproduce**

I don't yet have a minimal repro. For me I was writing batches of ~100k rows containing a uint64 column and a boolean column. The boolean column included null values.

**Expected behavior**

The boolean column to be correctly written.

**Additional con

[2021-08-05 12:35] alamb opened #659 "Parquet boolean columns write Int32 statistics"
**Describe the bug**
When writing a boolean column, the parquet writer will create `Statistics::Int32` rather than `Statistics::Boolean`

**To Reproduce**
See test case `column::writer::tests::test_bool_statistics` added in https://github.com/apache/arrow-rs/pull/643

**Expected behavior**
a boolean column should result in Statistics::Boolean

**Additional context**
Found while working on https://

[2021-08-05 12:37] alamb opened #660 "Parquet fixed length byte array columns write byte array statistics"
**Describe the bug**
When writing a `FixedLengthByteArray` column, the parquet writer will create `Statistics::ByteArray` rather than `Stastistics::FixedLengthByteArray`

**To Reproduce**
See test case `column::writer::tests::test_fixed_len_byte_array_statistics` added in https://github.com/apache/arrow-rs/pull/643

**Expected behavior**
a FixedLengthByteArray column should create `Stastistics::Fi

[2021-08-05 13:18] roee88 commented on #342
Was fixed in https://github.com/apache/arrow-rs/pull/536

[2021-08-05 13:18] #342 closed

[2021-08-05 13:23] roee88 commented on #596
I think that the current implementation also leaks memory. For example in https://github.com/apache/arrow-rs/blob/6bf1988852f87da21a163203eec4c83a7b692901/arrow-pyarrow-integration-testing/src/lib.rs#L192-L202 array.to_raw internally calls Arc::into_raw on the structures but nothing ever calls Arc::from_raw to release them. Is that correct?
cc @kszucs

[2021-08-06 11:48] roee88 opened #671 "Make rand an optional dependency"
Following https://github.com/apache/arrow-rs/pull/488 arrow-rs compiles to wasm32-unknown-unknowm only with the "js" feature of rand enabled. However, when the "js" feature is enabled the produced wasm modules are no longer stand alone and require JavaScript, which is not necessarily available. For example, these modules can't run in runtimes like wasmer (in contrast to modules compiled to wasm32-

[2021-08-07 00:38] #627 closed

[2021-08-07 12:22] alamb opened #672 "Add a way to get the dictionary index and values array reference"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
To work with the value of a dictionary array at a particular index, the following pattern shows up many times in the arrow-rs and datafusion codebase:

[code]
Repeating this code "find the index" code is tedious

**Describe the solution you'd like**

Add a function such as the following on to

[2021-08-07 12:33] alamb commented on #671
sounds like a good idea to me -- @roee88  do you plan to work on this one or would you like help?

[2021-08-08 07:46] #641 closed

[2021-08-08 07:57] #657 closed

[2021-08-08 09:41] ethe opened #675 "FixedSizeListBuilder has an undocumented magic name "item" to inner list"
**Which part is this question about**
FixedSizeListBuilder: https://github.com/apache/arrow-rs/blob/master/arrow/src/array/builder.rs#L893

**Describe your question**
User have to declare an inner field with a magic string "item" in `FixedSizeArrayList` creation, otherwise it would returns an error. I think it would be better to have an option to config this name.

[2021-08-08 12:32] #659 closed

[2021-08-08 12:38] nevi-me commented on #675
This also applies with List and LargeList, so a solution should consider that too.

[2021-08-09 09:27] arucil commented on #655
I'd like to contribute to this feature. Can you assign this issue to me?

[2021-08-09 10:48] alamb commented on #655
That is great to hear @arucil  -- I have assigned the ticket to you as requested

[2021-08-09 11:31] #671 closed

[2021-08-09 12:55] alamb commented on #672
Note the bug in the above code -- it does not handle NULLs correctly!

[2021-08-10 00:58] #660 closed

[2021-08-10 20:12] jorgecarleitao opened #681 "Change `DataType::Dictionary(DataType,DataType)` to `DataType::Dictionary(DataType,Field)`"
The dictionary metadata in FFI (and IPC AFAIK) stores not only the type, but also a name and nullability of the dictionary of the array. However, we currently can't store that information in `DataType::Dictionary`, therefore failing to roundtrip it.

Changing it to `DataType::Dictionary(DataType,Field)` (with the boxes for sizing) would allow these rountrips.

(Note, this is not 100% certain for m

[2021-08-10 20:13] jorgecarleitao commented on #681
cc @nevi-me , as you may know why we do not use `Field` here.

[2021-08-10 22:59] bjchambers opened #684 "Allow casting from `DataType::Null` to any other type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

It seems like converting a null column to other types should be trivially supported (all null values). Right now when operations require this, I need to have a function that creates an array of null values of the given data type.

**Describe the solution you'd like**
Casting an array with `Da

[2021-08-10 23:12] bjchambers opened #685 "Implement casting between duration/intervals and numbers"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

After computing the days between two timestamps to produce an interval days, it would be useful to be able to convert that to a number. This is helpful because (1) some output formats don't support durations/intervals and (2) it may be desirable to do math on the number of days / months / sec

[2021-08-11 18:17] jorgecarleitao commented on #598
I am probably missing something. The below does not compile:

[code]

isn't it enough to use `.map(|x| x.as_ref())`:

[code]

it is 20 more characters, but it does not seem _that_ bad?

[2021-08-11 20:05] alamb commented on #598
I agree there is a  straightforward workaround  if you are familiar with the `arrow` crate this  isn't a big deal.

However, I think fact something that looks like it *should* work it increases the barrier to entry for anyone who is first using  the`arrow` crate that something or those who are not Rust experts yet

[2021-08-11 20:13] jorgecarleitao commented on #598
that is a great argument 👍

[2021-08-12 20:23] jorgecarleitao opened #690 "The integration tests are not running"
The workflow got broken around June the 30th.

It seems that it stopped running after #439, that broke the workflow.

Unfortunately, github was not very helpful here, as it did not warn us for some reason [on the PR](https://github.com/apache/arrow-rs/pull/439)

[2021-08-12 20:30] alamb commented on #690
There are more details on this note on the mailing list too: https://lists.apache.org/thread.html/r84491f36d7e36be1b2e6d21466963ae5401669e84c3a2ea9ef34de55%40%3Cdev.arrow.apache.org%3E

[2021-08-12 20:33] jorgecarleitao commented on #690
ahah, you beat me to it. I am still figuring out what happened and will update the description accordingly.

[2021-08-14 04:05] arucil commented on #655
I couldn't figure out how to add another `impl FromIterator` for `PrimitiveArray`. At first I simply copy the impl block of `FromIterator<Option<T>>` and delete `Option`,
[code]

however this yields a

error.

Then I changed `Option<T>` to an additional generic parameter `U: Into<Option<T>>`,
[code]

This didn't work either. This yields a `the type parameter U is not constrained by the impl trait,

[2021-08-15 05:05] novemberkilo commented on #302
@alamb I'm not sure what else I should try and cover in this issue. Can you please help identify what the gap is to closing this issue? Thanks.

[2021-08-16 20:44] alamb commented on #655
Hi @arucil  -- this is a tricky one for sure. My Rust Fu this afternoon is not quite up to the task

I think I was making progress by defining a marker trait so we could have a single `FromIter` implementation

Something like this:

[code]

However,  my attempts to define `IntoPrimitiveOption` correctly for `ArrowPrimitiveType` was not getting anywhere. Maybe we need to do it for individually for

[2021-08-16 20:46] alamb commented on #655
Note I also just found `from_iter_values()` -- https://github.com/apache/arrow-rs/blob/master/arrow/src/array/array_primitive.rs#L112-L124 which is basically made for this usecase 🤔

[2021-08-16 20:49] alamb commented on #302
Thanks @novemberkilo  -- basically I think this is a very common pattern when using Arrow to create arrays via the `collect` method:

[code]

I am not sure if that is already documented

[2021-08-16 21:09] #587 closed

[2021-08-16 21:11] #69 closed

[2021-08-16 22:05] novemberkilo commented on #302
Roger - will add such to examples 👍🏽

[2021-08-17 01:06] carols10cents commented on #655
So this doesn't work because specialization isn't done yet... the problem is that if these two trait implementations:

[code]

were allowed, then someone could come along and add:

[code]

and then Rust wouldn't know which `FromIterator` implementation to use.

@shepmaster helped with this answer; I only got as far as "I think it's specialization related, but I don't know why" ;)

He also pointed

[2021-08-17 08:16] mbrobbel commented on #655
I've been working on [an Arrow implementation](https://github.com/mbrobbel/narrow) for applications with statically known data types. The way that I've managed to express this is by adding a boolean const generic to array types that indicate the nullability of an array (`true` indicates nullable). This makes nullable and non-nullable arrays different types allowing:

[code]

Type check fails when

[2021-08-17 13:20] ritchie46 opened #695 "parquet crate 5.2 does not compile"
## Cargo.toml

[code]

## Output

`cargo check`
[code]

Is this related to  #690? If not, I really think we should run combinations of feature gates in CI, as these bugs are easy to prevent.

[2021-08-18 13:47] alamb commented on #440
I don't know what the root cause of this is, but I have found a workaround which is to use sourcegraph search: https://sourcegraph.com/github.com/apache/arrow-rs

[2021-08-18 13:52] alamb opened #696 "Add documentation examples for `regexp_match` kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
The current documentation for the `regexp_match` kernel is quite sparse:
https://docs.rs/arrow/5.2.0/arrow/compute/kernels/regexp/fn.regexp_match.html

![Screen Shot 2021-08-18 at 9 50 12 AM](https://user-images.githubusercontent.com/490673/129910047-fbcb7f02-b798-4cfb-ae11-02770f160b39.png)

[2021-08-18 14:01] alamb opened #697 "Add optimized filter kernel for regular expression matching"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In https://github.com/apache/arrow-datafusion/pull/870, @b41sh added support for filtering all values that do/do not match a particular regular expression. However, it uses the (only available at time of writing) [`regexp_match`](https://docs.rs/arrow/5.2.0/arrow/compute/kernels/regexp/fn.rege

[2021-08-18 14:54] capkurmagati commented on #47
I also encountered the issue when I using `InfluxDB IOx` and `MinIo`.
[code]

Additional info:
The directory structure follows. Each directory has 1-3 parquet files.
[code]

[2021-08-18 14:56] b41sh commented on #697
@alamb  This is a good idea, the previous implementation is really not good enough. I'd like to work on this.

[2021-08-18 15:02] alamb commented on #697
cc @jorgecarleitao  @nevi-me  @seddonm1 and @Dandandan

[2021-08-18 15:15] alamb commented on #47
@capkurmagati  I wonder if you might be able to work around the issue by raising the maximum number of open files. Something like

[code]

[2021-08-18 16:03] capkurmagati commented on #47
@alamb Yes, it works. Actually I tweaked the value a bit before I posted here trying to reproduce the error. However I observed that the engine does not always return an error for a certain table scan. (I used a `limit` clause to try to control the files to read) . So I thought it might be a debug. On second thought, I guess the engine may cache the data so that it doesn't scan the same amount of

[2021-08-19 10:40] alamb commented on #47
I think something else that might be related is the fact that (currently) DataFusion execution tries to start all partitions concurrently. This means that depending on how fast IO comes in and the details of the Tokio scheduler, sometimes it will have far too many open files at once (it might end up opening 100 input parquet files, for example, even if there are only 8 cores available for processi

[2021-08-19 13:26] andygrove commented on #47
That's right. Ballista avoids this issue by limiting the number of concurrent tasks. However, Ballista has its own related issues where it will generate an excessive number of shuffle files and potentially run into inode limits, so neither solution is as scalable as we would like yet.

[2021-08-20 02:05] zijie0 opened #701 "Support reading json string into binary data type."
**Describe the bug**

When decoding json string into binary data type, arrow-rs will return `JsonError("Binary type is not supported")`.

**To Reproduce**

Running the following test could reproduce the error.

[code]

**Expected behavior**

The above test should pass.

[2021-08-20 08:31] mathiaspeters-sig commented on #397
Since I can't assign myself I'll comment instead: I'm starting to work on this now

[2021-08-20 11:32] Dandandan commented on #397
@mathiaspeters-sig

There might be some inspiration to use from the work in arrow2 by @jorgecarleitao , e.g. see https://github.com/jorgecarleitao/arrow2/pull/291

[2021-08-20 17:52] mosyp opened #703 "Empty or null list of struct cannot be written to parquet"
**Describe the bug**
When writing arrow batch with empty or null list struct, it fails with `General("Inconsistent length of definition and repetition levels: 0 != 1")`

**To Reproduce**
Write record batch which contain empty or null list of struct. Here's the PR with full repro behaviour https://github.com/apache/arrow-rs/pull/704

**Expected behavior**
The batch is successfully written

**Additi

[2021-08-21 10:33] #701 closed

[2021-08-22 06:36] jorgecarleitao commented on #47
I have not read the code base thoroughly, but I remember something like when I skimmed through it:

this may be related to the fact that AFAIK we currently clone the file reader for every new seek. Thus, even for a single file, we usually open that file multiple times, once per seek (which is roughly one per `row group` and per `column chunk` plus one, to read the metadata).

[2021-08-22 14:03] Dandandan commented on #47
For this as well as #924: a good start might be to start limiting the number of maximum threads that are used for `spawn_blocking` tasks, by default there are max 512 concurrent threads for those:

See:

https://docs.rs/tokio/1.10.0/tokio/index.html#cpu-bound-tasks-and-blocking-code

[2021-08-23 16:52] ilya-biryukov opened #708 "'Encoding DELTA_BYTE_ARRAY is not supported' with parquet arrow readers"
**Describe the bug**
Reading parquet files with byte arrays encoded using `DELTA_BYTE_ARRAY` causes the error mentioned from the title.
Corresponding fields must be of `UTF8` converted type.

**To Reproduce**
Steps to reproduce the behavior:
1. read parquet file with strings encoded as `DELTA_BYTE_ARRAY` with parquet's arrow readers.

**Expected behavior**
1. file reads with no error

Actual: the

[2021-08-23 23:43] sergiimk commented on #272
Ran into this too ... and after I already spent few weeks patching Decimal support in Apache Flink.
A large portion of the datasets we're dealing with are financial, so this is a serious gap in functionality.
Decimal type deserves more love :)

[2021-08-24 02:11] sergiimk opened #710 "Numeric overflow when formatting Decimal type"
**Describe the bug**
When attempting to print out records using `arrow::util::pretty::print_batches` I get the following panic:
[code]
Schema of the parquet file I'm reading:
[code]

**To Reproduce**
I would provide the parquet file, but the dataset has sensitive info. Let me know if you can't reproduce and I'll create fake data.

**Expected behavior**
Decimal values print out without panics

[2021-08-24 20:28] xrl opened #711 "parquet_derive does not support chrono time values"
**Describe the bug**

There was support for `chrono::NaiveDateTime` in parquet_derive but its test cases were hidden behind a cargo feature flag and must have been ignored in tests. When upgrading the parquet library and dependencies I got this type error:

[code]

**To Reproduce**

Derive a record writer implementation for this struct:

[code]

**Expected behavior**

The `NaiveDateTime` should ge

[2021-08-25 03:06] sergiimk opened #713 "Decimal logical type is formatted incorrectly by print_schema"
**Describe the bug**
When printing out the schema of a parquet file (written by Spark) using Java implementation of `parquet-schema` I get:
[code]
But when I use `parquet::schema::printer::print_schema` I get:
[code]
Issues:
* The missing opening bracket (minor)
* The inversed order of precision and scale

Parquet spec doesn't seem to describe the textual representation of schema, and in Thrift fi

[2021-08-26 16:27] kyogesha opened #720 "Support for nested data types"
While reading a parquet file using arrow rust, I ran into an issue
[code]

Any timeline for supporting nested structures would be of great help.

Thanks!

[2021-08-28 02:48] bjchambers opened #725 "`append_nulls` and `append_trusted_len_iter` for PrimitiveBuilder"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I have cases where I've identified a range of numbers to add to a builder. Or a number of nulls to add. My only options with the existing PrimitiveBuilder interfaces is to either (a) add each value/null individually or (b) create a *vector* containing the numbers/nulls I wish to add, and then

[2021-08-28 03:15] bjchambers commented on #725
I have a prototype of these methods, that improved the performance of a 2-way merge kernel 20-30% in some 100k element microbenchmarks.

[2021-08-28 11:17] #711 closed

[2021-08-29 10:22] #710 closed

[2021-08-29 10:49] alamb opened #727 "Support for an avro table reader"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Avro is another (row oriented) storage format such as CSV, or JSON. `arrow-rs` includes (optional) features for reading those formats, and we could also contemplate reading avro as well.

In https://github.com/apache/arrow-datafusion/pull/910 @Igosuki implemented avro support for DataFusion an

[2021-08-30 04:07] jmrgibson opened #729 "Question: Is there no way to create a DictionaryArray with a pre-arranged mapping?"
It would appear from [the docs](https://docs.rs/arrow/5.2.0/arrow/array/struct.DictionaryArray.html) that you cannot create a `DictionaryArray` by defining both the keys and and values? This is opposed to the [python API](https://arrow.apache.org/docs/python/data.html#dictionary-arrays) which does. This is quite useful for cases where the dictionary mapping is defined elsewhere (e.g., a C enum). A

[2021-08-30 09:44] jorgecarleitao opened #730 "`Bitmap::len` returns the number of bytes, not bits."
This is confusing and leads to all kinds of bugs to downstream users.

[2021-08-30 09:46] jhorstmann commented on #729
There is [StringDictionaryBuilder::new_with_dictionary](https://docs.rs/arrow/5.2.0/arrow/array/struct.StringDictionaryBuilder.html#method.new_with_dictionary) which allows specifying existing dictionary values when building an array.

There is also a low-level way of [building array from an underlying ArrayData struct](https://docs.rs/arrow/5.2.0/arrow/array/struct.DictionaryArray.html#impl-From%

[2021-08-30 13:11] pitrou commented on #595
@jorgecarleitao Sorry for the large delay, is there something you'd like me to take a look at?

[2021-08-30 22:28] jmrgibson commented on #729
Ah neat, yeah `new_with_dictionary` is what I wanted, I was just looking in the wrong place. Thanks!

[2021-08-30 22:28] #729 closed

[2021-08-31 03:23] emkornfield opened #732 "Add Support for Interval Type Month, Day, Nanos"
https://github.com/apache/arrow/pull/10177 has been approved via vote and merged. We should add support for the type to arrow-rs and enable integration tests for it.

[2021-08-31 11:20] alamb opened #733 "--no-default-features is broken for parquet"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
[code]

**Expected behavior**
The parquet crate should compile successfully

**Additional context**
Add any other context about the problem here.

[2021-08-31 11:36] #713 closed

[2021-08-31 12:17] kszucs commented on #690
https://github.com/apache/arrow-rs/pull/691 is going to fix it.

[2021-08-31 17:24] kszucs commented on #690
There is [a regression](https://github.com/apache/arrow-rs/pull/691/checks?check_run_id=3473126119#step:6:10379) caused by https://github.com/apache/arrow-rs/commit/c87a7bc1e8aa943d883801eaedd1d5eb0bb9312a

[2021-08-31 18:06] Igosuki commented on #727
There would be a good opportunity for refactoring here as well, and enabling custom formats to be easily implemented.

[2021-08-31 18:37] bjchambers opened #734 "`new_null_array` creates invalid struct arrays"
**Describe the bug**

I believe (based on how struct arrays are created) that all of the field arrays should have the same length, and that length corresponds to the length of the struct array.

The method `new_null_array` violates this: it creates a null struct array of length N with each of the field arrays being empty. This leads to problems when accessing the fields of the struct and expecting

[2021-09-01 09:26] jhorstmann commented on #729
For combining keys with an existing dictionary there is also [PrimitiveBuilder::finish_dict](https://docs.rs/arrow/5.3.0/arrow/array/struct.PrimitiveBuilder.html#method.finish_dict). This is not that obvious to find in the documentation and I also forgot about it.

[2021-09-01 15:28] bjchambers opened #735 "Support equality on RecordBatch"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

This would simplify testing. Right now, if I have two record batches that I want to test for equality I need to either look at their individual columns, or convert the batch to a `StructArray`.

**Describe the solution you'd like**

It seems like we should be able to implement `PartialEq` (an

[2021-09-01 16:04] kesavkolla commented on #720
@kyogesha can you add the actual type definition that is involved in this exception?

[2021-09-01 17:21] bjchambers commented on #734
[code]

I see two ways of fixing this:

1. I'm guessing the right way is to have the `new_null_array` create null columns of the given length for each of the fields.
2. An alternative, could be to *allow* empty columns in the case of an all null-array. This would allow avoiding the allocation. But... I don't think this is supported elsewhere, and seems like an extensive change. Hence, I'm guessing

[2021-09-01 17:25] jorgecarleitao commented on #734
I agree that 1. is the way to go; the second can lead to invalid memory assesses if someone consumes this data and does not perform bound checks (afaik the spec requires all fields to have the length of the validity).

[2021-09-02 05:13] emkornfield commented on #690
@kszucs will #691 address the integration test failures that are now being seen on "apache/arrow" or should I open a separate issue to track them?

[2021-09-02 08:56] kszucs commented on #690
@emkornfield where do we have integration test failures? Could you paste a link?

[2021-09-02 08:58] jorgecarleitao commented on #690
@emkornfield @kszucs I think that #691 did solve it, @kszucs applied a fix to the list equality; the integration tests are green on that PR.

[2021-09-02 20:38] roee88 commented on #595
@pitrou the question is whether it's safe to assume that other than nullifying the release callback the consumer doesn't change anything in the structures.

Two examples to demonstrate the difference in implementation:
1. In C++ the allocated format field is released based on a pointer stored in private data. In Rust it's released based on the format field itself (in the ArrowSchema structure).
2.

[2021-09-02 21:45] bjchambers opened #738 "`unary` kernel doesn't respect offset"
**Describe the bug**

`unary` kernel doesn't respect the offset when determining the null buffer, which means that the results are incorrect when applied to a slice.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**

The test should pass.

**Actual behavior**

The test fails:

[code]
**Additional context**

[2021-09-02 22:32] bjchambers opened #740 "Comparisons with scalar don't work on slices"
**Describe the bug**

Comparisons on scalars don't work when applied to slices. This seems to be the same as #738.

**To Reproduce**
Steps to reproduce the behavior.

[code]

**Expected behavior**

The test should pass.

**Actual behavior**

The test does not pass.

**Additional context**
Add any other context about the problem here.

[2021-09-02 23:27] bjchambers opened #742 "Arithmetic with scalars doesn't work on slices"
**Describe the bug**

As in #738 and #740, `modulus_scalar` and `divide_scalar` don't work on slices.

**To Reproduce**

[code]

**Expected behavior**
The test succeeds.

**Actual behavior**
The test doesn't succeed.

**Additional context**

[2021-09-03 00:12] #738 closed

[2021-09-03 00:15] #740 closed

[2021-09-03 03:37] bjchambers opened #744 "length on slices with null doesn't work"
**Describe the bug**

`length` kernel (for string length) doesn't work on sliced string arrays containing null.

**To Reproduce**

Modify the existing tests to include null:

[code]

**Expected behavior**
Test passes.

**Actual behavior**
Test does not pass.

[2021-09-03 11:22] pitrou commented on #595
It is, indeed.

I'm not sure what difference it makes. In both cases it is released (directly or indirectly) by calling the release callback, no?

[2021-09-03 12:24] alexgavrisco opened #746 "Examples (or guidance) on parquet usage"
**Which part is this question about**
library API and documentation

**Describe your question**
I'd like to extend a log forwarding adding support for writing log events in `parquet` format. The overall flow is rather simple - collect & process log events, batch & buffer processed log events, write batches as parquet files somewhere (e.g. AWS S3).
There are a few problems that I'm not sure how sho

[2021-09-04 01:27] b41sh commented on #732
I'd like to work on this. Can you assign this issue to me? @emkornfield

[2021-09-04 03:14] houqp commented on #732
@b41sh i have assigned this to you

[2021-09-04 04:17] matthewmturner commented on #696
I can give this a shot

[2021-09-04 15:20] Dandandan opened #747 "Upgrade lexical-core to 0.8"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
To get some performance improvements for reading / casting float data.

[2021-09-04 17:55] matthewmturner commented on #696
@alamb im playing around with the regexp_match function and struggling to produce the expected results.  I tried to do something similar to the test `match_single_group`.

I have the following:
[code]

But get the following:
[code]
It's not clear to me why the result StringArray at the first index of the ListArray doesnt have "A" - its just an empty StringArray.

Any thoughts?

[2021-09-05 10:21] #747 closed

[2021-09-06 09:37] XeCycle commented on #47
I'm getting the same (I believe) error on files with many columns (>2k), and FWIW, can be work'd-around by a `struct ArcFile(Arc<File>)`.  Just `impl parquet::file::reader::ChunkReader for ArcFile`, using `FileExt::read_at` on `cfg(unix)` and `FileExt::seek_read` on `cfg(windows)`.

I guess we can modify `parquet::util::io::FileSource` to use `Arc<File>`, because we take ownership of provided file

[2021-09-06 13:06] kszucs commented on #690
Resolved by https://github.com/apache/arrow-rs/commit/34df13a97ce6ae7791599dc2abedf715b79ed690

[2021-09-06 13:06] #690 closed

[2021-09-08 04:14] matthewmturner commented on #730
@jorgecarleitao I will look into this

[2021-09-08 05:22] houqp commented on #746
@Alexx-G if you send me your email, I can invite you to the slack workspace.

[2021-09-08 05:25] houqp commented on #746
As for examples, consume messages from kafka and batch them to parquet files in https://github.com/delta-io/kafka-delta-ingest/blob/main/src/lib.rs. The code is not optimized, but should give you some ideas on how it can the parquet write API works. We don't support dynamic schema at this point and only works with predefined static schema, so the use-case is a little bit different.

[2021-09-08 05:44] jorgecarleitao commented on #746
I am not very experienced in streaming logs to parquet, but here is my take:

AFAIK Parquet files are not entirely suitable for append operations, since the footer must have all the information about the row groups. Usually "append mode" (e.g. spark) is to create a new file (which is also consistent with the data lake paradigm of immutable files). Delta-lake usually addresses some of these challen

[2021-09-08 12:27] sum12 commented on #500
I would like to work on this.

split in two parts
- if tz is of the form `[+-][0-9]{2}:[0-9]{2}` then construct a `chrono::offset::FixedOffset` object from the provided tz string and add that at offset to the `NaiveDateTime` (`NaiveDateTIme` implements `Add<FixedOffset>`)
- else if it is a string which cannot be parsed as above we use th `chrono-tz` crate to generate an offset

sounds okay ?

[2021-09-08 12:30] jorgecarleitao commented on #500
makes sense to me. I have done this recently in arrow2 around [here](https://github.com/jorgecarleitao/arrow2/blob/main/src/compute/cast/primitive_to.rs#L362)

[2021-09-08 16:32] matthewmturner commented on #744
@bjchambers i can try looking into this.

[2021-09-08 16:34] bjchambers commented on #744
@matthewmturner I think it should be addressed by #745.

[2021-09-08 16:36] matthewmturner commented on #744
@bjchambers ah missed the linked pull. thx.

[2021-09-08 16:50] matthewmturner commented on #744
@bjchambers out of curiousity - do you know why the `length_offsets` test uses `bit_length` function instead of `length`?

[2021-09-08 16:52] bjchambers commented on #744
Hmm... probably a copy-paste error when updating/adding the tests. Could you comment on the PR and I'll update/resolve when I get a chance?

[2021-09-09 14:04] matthewmturner commented on #735
@bjchambers I can give this a shot.

[2021-09-09 15:27] matthewmturner opened #751 "Add examples to Rust Docs for arrow::array::UnionArray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to see examples of how to use UnionArrays in the Rust docs (https://docs.rs/arrow/5.3.0/arrow/array/struct.UnionArray.html).  The explanations are good, but examples would improve my understanding.

**Describe the solution you'd like**
Add examples for `new` and try_new`

**Descri

[2021-09-09 15:41] matthewmturner commented on #208
@alamb im interested in looking into this.  i see it's been open for a while - can you confirm this is still an issue / if there is any additional context that has come up since this was initially raised? Thx!

[2021-09-09 16:23] alamb commented on #514
@bjchambers  -- https://github.com/apache/arrow-rs/pull/691#discussion_r705493693 fixed something related to equality of lists, perhaps it is related to this one as well

[2021-09-09 19:58] #725 closed

[2021-09-09 20:24] alamb commented on #742
Wow -- thank you for the train of fixes @bjchambers

[2021-09-09 20:25] #742 closed

[2021-09-09 20:43] alamb commented on #208
Hi @matthewmturner  -- thanks!

Some additional context is that we encountered this issue while working on IOx -- see details  https://github.com/influxdata/influxdb_iox/issues/1133

@mkmik  worked around the issue in IOx via a heuristic in https://github.com/influxdata/influxdb_iox/commit/82ed5d1708458ec9438406ce1fd19aa0c7d23204

Namely there is code that deep clones the array prior to serializat

[2021-09-09 21:08] alamb commented on #734
Closed in https://github.com/apache/arrow-rs/pull/736

[2021-09-09 21:08] #734 closed

[2021-09-09 21:28] alamb commented on #500
@sum12  this also sounds reasonable to me.

As you have probably seen the spec for what can be in the timezone string is here: https://github.com/apache/arrow/blob/master/format/Schema.fbs#L341-L351 and I believe your proposal in https://github.com/apache/arrow-rs/issues/500#issuecomment-915194224 is consistent with that

Regarding `chrono-tz`, please make that an optional dependency (via feature

[2021-09-09 21:31] #397 closed

[2021-09-09 21:34] #730 closed

[2021-09-09 21:47] alamb commented on #746
As mentioned above, the challenge for log writing is that it is often requires "schema evolution" -- aka new fields may appear in subsequent messages.  This requires some non trivial engineering as mentioned above when working with formats / systems that want "relational" data (aka data in rows and columns where the columns and their types (schema) are known in advance)

The following blog post fr

[2021-09-09 21:49] matthewmturner commented on #208
Thank you @alamb , very helpful. I will review and let you know if any questions.

[2021-09-10 07:44] Alexx-G commented on #746
Thanks a lot folks! ❤️

@houqp Can you please send an invite to `alexandr@gavrisco.com`? Thanks! The example is really useful. I think for PoC a dynamic schema is out of scope. I'd even require explicitly specifying all fields for such formats as Parquet.

@jorgecarleitao Thanks for feedback! You're right, buffering and writing to parquet should separate phases, in this case writing to parquet (re

[2021-09-10 07:56] huachaohuang opened #762 "Document has no link to `RowColumIter`"
**Describe the bug**

`RowColumnIter` has no link in the parquet document and it can not be imported.

**To Reproduce**
Steps to reproduce the behavior:

`cargo doc --open` in the parquet package.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-09-10 14:35] alamb commented on #696
@matthewmturner I also don't understand that -- if you remove the caret and use `[A]` as the regex does it do the right thing? Perhaps @seddonm1  has some hints as well

[2021-09-10 14:51] matthewmturner commented on #696
@alamb unfortunately not, same result.

[2021-09-10 15:28] alamb commented on #696
🤔  I don't have a good answer then. It would require some more debugging

[2021-09-10 16:08] alamb opened #766 "Rust / Test SIMD Ci test failing when compiling using packed_simd"
**Describe the bug**
Rust / Test SIMD Ci test began failing on active_release (and I suspect that it would fail on master as well)

@nevi-me  suggests https://github.com/apache/arrow-rs/pull/750#issuecomment-916950199 that these CI failures seem to be related to a packed_simd_2 release from 15 hours ago

Here is a test PR to master with no code changes showing the issue https://github.com/apache/a

[2021-09-10 16:15] jorgecarleitao commented on #766
I do not have a dev env with me here, freeze nightly to `nightly-2021-08-30` and relax the version to `0.3` as in here: https://github.com/jorgecarleitao/arrow2/pull/364/files. See also https://github.com/rust-lang/packed_simd/issues/328

[2021-09-10 16:18] jorgecarleitao commented on #766
sorry for the noise; this is actually another one(!) I will need to investigate when I get a computer (if someone else does not beat me to it ^_^)

[2021-09-10 16:22] alamb commented on #766
Seems like it is the same as https://github.com/rust-lang/packed_simd/issues/330 (linked to the one you linked @jorgecarleitao ) -- thanks for the pointer

[2021-09-10 17:11] matthewmturner commented on #208
@alamb I think im restating the obvious and what has already been said, but i want to make sure i understand whats happening so i made a small sample.

[code]

Produces the following output
[code]

And the issue is that the data buffer points to the original larger array.  Then, that larger array is ultimately turned into the `FlightData` which is a waste.

Assuming that's all correct is there a p

[2021-09-10 17:16] #766 closed

[2021-09-11 01:00] seddonm1 commented on #696
@alamb Sorry I didn't do this one. It does appear there may be a defect.

@matthewmturner are you able to reproduce the behaviour to verify that it behaves differently to Postgres? (https://www.postgresql.org/docs/current/functions-matching.html)

[2021-09-11 02:49] matthewmturner commented on #696
@seddonm1 sure, will give it a shot.

[2021-09-11 07:53] #762 closed

[2021-09-11 15:41] matthewmturner commented on #696
@seddonm1 i believe postgres works as expected. i did the below.

[code]

Resulting in
[code]

[2021-09-11 16:52] #735 closed

[2021-09-11 22:49] seddonm1 commented on #696
Thanks @matthewmturner i will have a look

[2021-09-12 10:35] alamb commented on #111
There is a PR in arrow2 for such functionality: https://github.com/jorgecarleitao/arrow2/pull/260 which may serve as an inspiration

[2021-09-12 10:51] alamb commented on #111
The approach that @jorgecarleitao  took in https://github.com/jorgecarleitao/arrow2/pull/260 is quite clever. Rather than a single struct that can read parquet files synchronously and asynchronously, I think he effectively added a second API for reading the required portions of the files into memory buffers  and then uses  shared encoding/decoding logic with the serialized reader.

Thus, one idea

[2021-09-12 11:02] #744 closed

[2021-09-12 11:15] alamb commented on #208
Yes, that is the crux of the issue we found.

I am not sure to be honest as I am not familiar with the flight code. Perhaps @nevi-me  or @jorgecarleitao who have more experience in how IPC / flight is supposed to work might have thoughts on how to handle serializing bytes for an Array whose backing `Buffer` is much larger. Another avenue we can explore is to review how the C++ implementation handl

[2021-09-12 19:08] matthewmturner commented on #208
Thanks much for the response @alamb

I checked the `IpcWriteOptions` for the C++ implementation (http://arrow.apache.org/docs/cpp/api/ipc.html) and I dont think they have an option for that.  It also doesnt look like there is a user option for this in their Flight client implementation (http://arrow.apache.org/docs/cpp/api/flight.html#_CPPv4N5arrow6flight17FlightCallOptionsE).   I can email the de

[2021-09-12 19:24] jorgecarleitao commented on #208
I am not sure about the root cause of this, but some time ago we merged something like this in arrow2, could you check if https://github.com/jorgecarleitao/arrow2/pull/194, specifically around `write_generic_binary` in `src/io/ipc/write/serialize.rs` is what we are looking for here?

Note that the code is significantly different at this point, but the gist is that we need to check if the array was

[2021-09-12 19:46] matthewmturner commented on #208
@jorgecarleitao sure will check it out

[2021-09-12 19:54] nevi-me commented on #208
I was going to suggest the same thing, that we only materialise and write
the length that excludes the offsets.

It's something fundamental that I missed when working on the IPC support. I
think that when writing data in IPC we should reset the offsets to 0 and
only write the relevant data.

On Sun, 12 Sep 2021, 21:46 Matthew Turner, ***@***.***> wrote:

[2021-09-13 03:13] houqp opened #770 "parquet benchmark is out of sync with the current code base"
**Describe the bug**

parquet benchmark run is broken with the following error message:

[code]

**To Reproduce**

run `cargo bench`

**Expected behavior**

benchmark should compile without error.

**Additional context**

would be good if we test for benchmark builds in CI by running `cargo bench --no-run`

[2021-09-13 13:44] sum12 commented on #500
Thanks for the feedback.

@alamb,  created a PR for now, does not really follow the proposal.  I have tried to reuse the parsing capabilities of the chrono itself to parse the timezone. Not sure if it is okay to go down that route. Although happy to back to proposal if the PR is not going in the correct direction.

[2021-09-13 15:04] matthewmturner commented on #208
@jorgecarleitao I believe this is done in `write_generic_binary` using
[code]
and then writing to buffer based on those values.

Given the different approaches here between `arrow` and `arrow2` is there a preference for how to handle within `arrow`?

I was thinking we could use the `RecordBatch::slice` method within `record_batch_to_bytes` before writing the data.

[2021-09-13 19:23] nevi-me commented on #208
@matthewmturner

That will apply for strings, lists and binaries, but the overall problem is the below.

We write`Buffer`s to IPC, and those buffers have a length and an offset (almost always 0). The problem is that when we write a buffer, we have to determine what its correct offset and length is, and the current APis in the crate can't give us that information conveniently.

For example, if I ha

[2021-09-14 11:13] jorgecarleitao opened #772 "Soundness: `BinaryArray` does not perform bound checks on offsets"
Creating a `GenericBinaryArray` with an offset whose maximum value goes past `values` leads to out of bound accesses in `safe` code.

To reproduce, create a `BinaryArray` with

* `offsets: [0, 1000]`
* `values: [0, 1, 1]`

and call `BinaryArray::value(0)`.

This results in a memory access violation since it will read `values` in the range `[0..1000]`, when there are only 3 elements on it.

This af

[2021-09-14 11:18] jorgecarleitao opened #773 "Soundness: `BinaryArray` does not perform bound checks on reading offsets"
When an `ArrayData` reports a length inconsistent with the length of the offsets buffer, `value_offsets` reads out of bounds.

To reproduce: use `BinaryArray::from()` with `ArrayData` reporting a length of 1000 but with an offset buffer of 5 elements and call `value_offsets`. This triggers an invalid memory access by reading past the buffer's allocated length.

[2021-09-14 11:36] jorgecarleitao opened #774 "Soundness: `FixedSizeBinaryArray` does not check that its buffer is `<= size * length`"
Passing `DataType::FixedSizeBinary(1000)` and a length of 2 with a buffer of `1001` elements results in a memory access violation when calling `FixedSizeBinaryArray::value(1)` because the range `[1002..1999]` of the buffer is not allocated.

[2021-09-14 11:40] jorgecarleitao opened #775 "Soundness: `DecimalArray` does not check that its buffer is `<= size * 16`"
Equivalent to #774 : passing a buffer that is not a multiple of `16` results in a invalid memory access when reading values.

[2021-09-14 11:42] jorgecarleitao opened #776 "Soundness: `GenericUtf8Array` does not perform bound checks on reading offsets"
Equivalent to #773 for the `GenericUtf8Array`.

[2021-09-14 11:44] jorgecarleitao opened #777 "Soundness: `GenericUtf8Array` does not check `utf8`-soundness when using `from_utf8_unchecked`"
See comment in code `// ISSUE: utf-8 well formedness is not checked`. Passing non-`utf8` data as the values buffer results in UB.

[2021-09-14 15:09] matthewmturner commented on #208
@nevi-me thank you for the detailed explanation.  very helpful.  im working through some examples on my side to solidify my understanding and will come back if any questions else will just open a PR for a fix.

thx again!

[2021-09-14 16:28] lyuben-todorov commented on #746
Hi, I pretty much have the same use case as the author of this issue, could you also send an invite to `lyuben.todorov@gmail.com`?

[2021-09-14 17:02] matthewmturner commented on #208
hi @nevi-me - ive been building up a test that i could use to compare the ipc size pre and post the fix.  but i havent been able to produce the expected results.  Code is below:

[code]
Which produces the following output:
[code]
Basically, im just trying to compare the buffers from two batches (one batch is a slice of the other) after reading their IPC files and comparing the value buffers.  Give

[2021-09-14 20:01] bjchambers opened #778 "Timestamps don't round-trip through CSV writer/reader"
**Describe the bug**

Create a `TimestampNanosecondArray` and write it to CSV.
Read the resulting CSV back and it will be parsed as `UTF-8` not `TimestampNanosecondType`.
Cast the parsed string to `TimestampNanosecondType::DATA_TYPE` and the value will be off by the local timezone offset.

I *think* the solution may be as simple as having the CSV writer append the `Z` suffix to indicate the timest

[2021-09-15 05:14] houqp commented on #746
@Alexx-G @lyuben-todorov I have sent the ASF slack workspace invites to both of you.

[2021-09-16 12:22] ilya-biryukov opened #780 "Converting from string to timestamp uses microseconds instead of milliseconds"
**Describe the bug**
Calls to `string_to_timestamp_nanos` may parse fractional part of a second as  nanoseconds instead of microseconds or milliseconds.

**To Reproduce**
Call `string_to_timestamp_nanos("1970-01-01T00:00:00.123")`, it produces a timestamps of `123` nanoseconds since UNIX epoch.
Local timezone must be UTC.

**Expected behavior**
A timestamps of `123` milliseconds since UNIX Epoch i

[2021-09-16 18:23] gangliao commented on #766
[code]

I have the same issue with the latest nightly rust. Any suggestiion?

[2021-09-16 18:30] gangliao commented on #766
works now

[code]

[2021-09-16 18:44] gangliao commented on #766
Still happen in arrow-datafusion ...

[code]

[code]

[2021-09-16 18:55] gangliao commented on #766
Not sure why, but works now.

[code]

[2021-09-16 21:29] bjchambers opened #782 "`Schema::try_merge` doesn't handle nullability as expected"
**Describe the bug**

`Schema::try_merge` seems to treat a field that exists (as non-nullable) in one schema and not the other as non-nullable. I believe this leads to the resulting schema not being able to represent rows from both original schemas, since any rows in the second schema won't have the given field, thus it will be null.

**To Reproduce**

[code]

**Expected behavior**

I would expect

[2021-09-16 21:30] bjchambers commented on #782
I'm unclear on whether the current behavior is intentional, or which of the expected behaviors I mentioned may have been intended. Happy to write some tests and implement these changes if anyone has more context to share?

[2021-09-17 16:06] #780 closed

[2021-09-17 16:21] munro opened #783 "Expose Plasma: In-Memory Object Store API"
Has anyone looked into adding the Arrow Plasma API [1] to rust lib?

I would love to use it for doing IPC, but I'm guessing people are using other libraries to do that?

[1] https://arrow.apache.org/docs/python/plasma.html

[2021-09-17 22:12] houqp commented on #782
I agree with you, column b should be nullable in the merged schema.

[2021-09-19 14:21] jorgecarleitao opened #786 "Soundness: reading parquet with invalid utf8 results in UB"
[code]

miri output

[code]

[2021-09-20 18:01] alamb opened #788 "Add doc examples of writing parquet files using `ArrowWriter`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
When people ask how to create a parquet file in Rust, I would like to point them at the docs for the arrow writer.
https://docs.rs/parquet/5.4.0/parquet/arrow/arrow_writer/index.html#

An example when this would be helpful is on https://github.com/apache/arrow-datafusion/pull/1024: https://git

[2021-09-20 20:35] matthewmturner commented on #788
@alamb ill work on this

[2021-09-23 07:07] tfiasco opened #799 "parquet min_max statistics cannot read by `pyarrow`"
**Describe the bug**
a parquet file created by `arrow-rs` has no min_max statistics when reading by `pyarrow`.

**To Reproduce**
[code]

[code]

**Expected behavior**
pyarrow should get statistics like
[code]

**Additional context**
rust lib version:
[code]

python lib version:
[code]

[2021-09-23 17:58] msalib opened #800 "parquet should depend on a small set of arrow features"
parquet has an optional dependency on arrow. But when users do depend on parquet with arrow support, they get all of the default features for arrow, even though parquet doesn't need any of those features.

My project depends on parquet and needs the arrow feature as well, but this makes my build times very large since arrow has so many default features that I don't need.

I'd like to change parque

[2021-09-23 18:14] msalib commented on #800
My proposed fix is in https://github.com/apache/arrow-rs/pull/801

[2021-09-24 00:41] domoritz opened #802 "Improve CSV `infer_field_schema` to be more restrictive"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`infer_field_schema` infers any integer to be an int64: https://github.com/apache/arrow-rs/blob/9ca59b6cc0571f86862836788f3a1ccf4e91f370/arrow/src/csv/reader.rs#L86. This means that data parsed as CSV with the automatic schema is going to be much larger than necessary.

**Describe the solutio

[2021-09-24 15:38] #800 closed

[2021-09-26 07:16] jorgecarleitao opened #806 "Soundness: `MapArray` does not perform bound checks on reading offsets"
Equivalent to #773 for the `MapArray`.

[code]
error: Undefined Behavior: using uninitialized data, but this operation requires initialized memory
  --> /home/azureuser/projects/arrow-rs/arrow/src/array/array_map.rs:73:19
   |
73 |         let end = self.value_offsets()[i + 1] as usize;
   |                   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^ using uninitialized data, but this operation require

[2021-09-27 03:07] ethe commented on #675
Hi, are there any plans to support it? Hope for your reply, thanks.

[2021-09-27 18:29] bjchambers opened #807 "Buffer::bit_slice has incorrect length for aligned offset"
**Describe the bug**
Because `buf.bit_slice(...)` falls back to a slice that ignores the length when the offset is byte-aligned, the resulting buffer has an incorrect length. This leads to problems when applying bitwise operations such as `&`, for instance.

**To Reproduce**

The following test fails:

[code]

**Expected behavior**
Test passes.

**Additional context**
Add any other context about t

[2021-09-27 18:31] bjchambers commented on #807
Unfortunately, I don't see an easy way to fix this without affecting performance. Specifically, the buffer doesn't have a length, so we can't just use `buf.slice(1)` and have the length be correct for later operations. On the other hand, actually creating a new buffer just to have a shorter length seems like it would be more expensive from a performance perspective.

[2021-09-27 18:34] bjchambers commented on #807
See https://github.com/bjchambers/arrow-rs/commit/9aec6dcf0d0d0ded9f8ff392e1c34990d0bd89ef for example test.

[2021-09-27 18:46] bjchambers opened #808 "Expose buffer operations"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I'd like to take the bitwise and (or) of sliced buffers without needing to materialize the offsets. This can be achieved within Arrow using `buffer_bin_and` (`buffer_bin_or`), but those methods are not exposed.

It should be possible to use `bit_slice` to slice a buffer and then apply them, b

[2021-09-27 19:49] bjchambers commented on #807
If the intention of `Buffer` is to not have a length, then maybe like `bit_slice` shouldn't accept a length / affect the length. Instead, it should only take an `offset` (like `Buffer::slice`).

[2021-09-29 18:13] carols10cents commented on #777
Do you mean `GenericStringArray`? I don't see `GenericUtf8Array` anywhere in this repo

[2021-09-29 20:48] alamb commented on #773
Updating title of the ticket to make it clear this affects misusing the lower level APIs, as described in  https://github.com/apache/arrow-rs/tree/master/arrow#safety

[2021-09-29 20:49] alamb commented on #772
Updating title of the ticket to make it clear this affects misusing the lower level APIs, as described in  https://github.com/apache/arrow-rs/tree/master/arrow#safety

[2021-09-29 20:49] alamb commented on #774
Updating title of the ticket to make it clear this affects misusing the lower level APIs, as described in  https://github.com/apache/arrow-rs/tree/master/arrow#safety

[2021-09-29 20:50] alamb commented on #775
Updating title of the ticket to make it clear this affects misusing the lower level APIs, as described in  https://github.com/apache/arrow-rs/tree/master/arrow#safety

[2021-09-29 20:50] alamb commented on #776
Updating title of the ticket to make it clear this affects misusing the lower level APIs, as described in  https://github.com/apache/arrow-rs/tree/master/arrow#safety

[2021-09-29 20:50] alamb commented on #777
Updating title of the ticket to make it clear this affects misusing the lower level APIs, as described in  https://github.com/apache/arrow-rs/tree/master/arrow#safety

[2021-09-29 20:51] alamb commented on #806
Updating title of the ticket to make it clear this affects misusing the lower level APIs, as described in  https://github.com/apache/arrow-rs/tree/master/arrow#safety

[2021-09-30 19:09] #808 closed

[2021-09-30 19:10] #788 closed

[2021-10-01 20:34] taralx opened #811 "parquet allows use of arrow without base64"
**Describe the bug**
If you enable arrow feature but not base64, code fails to compile.

**To Reproduce**
cargo build --no-default-features --features arrow

[2021-10-05 17:27] davemt commented on #746
@houqp I would appreciate an invite as well if you don't mind, dave@philo.com.

We also have this use case, and in fact we already have a preliminary version of parquet log delivery running in production and are considering rust-based replacement for certain pieces of the pipeline (likely using [Vector](vector.dev) that @Alexx-G is working with). Maybe we can collaborate.

[2021-10-06 11:16] alamb opened #814 "Add Dense/Sparse annotation to DataType::Union"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
While working on validation for ArrayData (https://github.com/apache/arrow-rs/pull/810), I was trying to validate that the number of `Buffers` passed to a `UnionArray` were accurate.

However, since number of Buffers for a `UnionArray` differs based on if it has a "sparse" or "dense" layout (1

[2021-10-06 11:22] alamb commented on #814
@nevi-me  and @paddyhoran  since it looks like you involved in the initial implementation of `UnionArray` I wonder if you have thoughts.

the arrow2 implementation appears to use a `bool` to encode sparseness: https://github.com/jorgecarleitao/arrow2/blob/55c3f9cf31f8fd0bc9c49f48d6265f07e2367ec8/src/datatypes/mod.rs#L95-L96

cc @jorgecarleitao

It may be the case that we simply "wait for arrow2" a

[2021-10-06 14:31] alamb opened #815 "Incorrect null count for cast kernel for list arrays"
**Describe the bug**
When casting a `ListArray` using the `cast` kernel, the resulting null count is incorrect

**To Reproduce**
[code]

Results in this failure:

[code]

**Expected behavior**
The test program above should pass

**Additional context**
Found while adding validation to https://github.com/apache/arrow-rs/pull/810

[2021-10-06 14:50] alamb opened #817 "Validate arguments to ArrayData::try_new()"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This ticket lists a high level plan to address one of the main sources of security issues in arrow-rs
such as https://github.com/apache/arrow-rs/issues/772 and likely several others on https://github.com/apache/arrow-rs/issues?q=is%3Aissue+is%3Aopen+label%3Asecurity

As demonstrated in https:/

[2021-10-07 00:29] #815 closed, assigned to nobody

[2021-10-07 00:35] nevi-me opened #819 "Improve parquet binary writer speed by reducing allocations"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When writing arrow binary columns to parquet, we create thousands of small `ByteBuffer` objects, and this leads to much of the writer time spent on allocating and dropping these objects.

**Describe the solution you'd like**

A `ButeBuffer` is backed by a `ByteBufferPtr` which is an alias for

[2021-10-10 00:11] hohav opened #823 "Panic when writing empty List inside a Struct"
**Describe the bug**
I get a panic when trying to write a parquet file containing a `StructArray` with a `ListArray` inside it, when there's at least one empty list.

**To Reproduce**
`cargo run` this: https://github.com/hohav/arrow-parquet-list-test/blob/v4/src/main.rs

**Expected behavior**
A parquet file is written.

**Actual behavior**
[code]

**Additional context**
Possibly related:
- #385
-

[2021-10-12 19:09] nevi-me opened #825 "JSON reader can create null struct children on empty lists"
**Describe the bug**

If a list of a nested struct is empty, the JSON reader should not create a null struct value.

**To Reproduce**

Try to write an array of below:

[code]

**Expected behavior**

Empty lists should not create an empty/null struct as this can lead to incorrect writing of data as the list's child length would disagree with the offsets.

**Additional context**

This relates to #70

[2021-10-13 13:46] #825 closed, assigned to nobody

[2021-10-15 22:39] brianrackle opened #830 "Floating-Points Without Leading Digit In CSV Are Inferred As Strings"
**Describe the bug**
infer_field_schema in csv/reader.rs will infer a string from a floating-point without a leading digit (e.g.  ".2").  Numbers between 1 and 0 that don't have leading zeros and are still valid and the zero is inferred. For example, ".2" and "0.2" should be considered equivalent.

**To Reproduce**
Steps to reproduce the behavior:
Use infer_field_schema on any float between 1 and

[2021-10-17 11:41] alamb opened #833 "Error publishing parquet_derive 6.0.0: ^^^ could not find `ipc` in `arrow`"
**Describe the bug**
I could not publish the 6.0 version of parquet_derive as part of the 6.0.0 release release.

**To Reproduce**

[code]

Results in this error:

[code]

**Expected behavior**
Publishing should have happened successfully

**Additional context**

[2021-10-17 19:12] houqp commented on #833
it would be helpful to add cargo publish test in the release verification script like what we did with datafusion: https://github.com/apache/arrow-datafusion/blob/a3ffc529dd391ee47380f489be6b7c7c341b3b74/dev/release/verify-release-candidate.sh#L130

[2021-10-18 10:33] alamb opened #835 "cargo test --all leaves `data.parquet` around"
**Describe the bug**
the arrow-rs doc tests leave a file around which is annoying

**To Reproduce**
Run `cargo test --all`

What happens:

[code]

**Expected behavior**
No file should be left

**Additional context**
Add any other context about the problem here.

[2021-10-18 13:41] alamb opened #838 "CI tests using rust nightly tests fail with "error: failed to select a version for the requirement `comfy-table = "^4.0"`""
**Describe the bug**

The tests that use nightly rust seem to fail with the following error on PRs without any relevant code changes

[code]

Here are some examples:
https://github.com/apache/arrow-rs/pull/831/checks?check_run_id=3922305286
https://github.com/apache/arrow-rs/pull/831/checks?check_run_id=3922305696
And on another PR: https://github.com/apache/arrow-rs/pull/836/checks?check_run_id=3

[2021-10-18 16:55] pacman82 opened #840 "Build error in downstream crate `odbc2parquet` after updating to `parquet 6.0.0` -- unresolved import `arrow::ipc`"
**Describe the bug**
Build error in downstream crate `odbc2parquet` after updating to `parquet 6.0.0`.
See <https://github.com/pacman82/odbc2parquet/pull/108/checks?check_run_id=3929304124>

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Ability to include parquet as a dependency without breaking the build.

**Additional context**
Could workaround the issue, by ex

[2021-10-18 17:22] #838 closed

[2021-10-18 18:40] #833 closed, assigned to nobody

[2021-10-18 18:40] #840 closed, assigned to nobody

[2021-10-18 20:36] #835 closed, assigned to alamb

[2021-10-20 12:51] aldanor opened #841 "Re-export TimeUnit internal types from parquet_format?"
Minor/cosmetic/consistency request:

Would it make sense to re-export `NanoSeconds` etc since, technically, they're used in `TimeUnit` which is re-exported in `parquet::basic`? (or provide helper constructors like `TimeUnit::nanoseconds()`, or even `TimestampType::nanoseconds(bool)` to reduce the boilerplate even further)

// Yes, you can do `parquet::basic::TimeUnit::NANOS(Default::default())` -

[2021-10-21 19:20] alamb opened #842 "Add boolean equality and inequality kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I am trying to compare two boolean arrays (see DataFusion PR https://github.com/apache/arrow-datafusion/pull/1163) and produce another `BooleanArray`

There are a variety of kernels in arrow that support comparing primitive (numeric) arrays and string arrays such as `eq`, `eq_utf8` `eq_scalar

[2021-10-21 19:26] alamb opened #843 "add compute kernels that operate on `ArrayRef` -- e.g `eq_dyn`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I want to compare two `ArrayRefs` (`Arc<Array>`) with each other

Arrow offers compute kernels for primitive (numeric)  types(e.g. `eq`), and  separate ones for string types (e.g. `eq_utf8`).
https://docs.rs/arrow/6.0.0/arrow/compute/kernels/comparison/index.html

This means I have to match on

[2021-10-22 16:07] helgikrs opened #846 "Support nested dictionaries in ipc serialization & deserialization"
Ipc serialization and deserialization of a column containing a dictionary nested within a struct does not seem to work as expected right now. Here's a small code snippet exhibiting that behavior.

[code]

The code panics when the struct field is a dictionary, but works as expected for other types.

[2021-10-22 16:19] helgikrs opened #847 "Structs containing nested dictionaries don't serialize correctly to FB in IPC"
A schema containing dictionary fields nested within structs does not round-trip properly through FB serialization/deserialization.

Repro:

[code]

[code]

[2021-10-24 12:26] alamb opened #859 "IPC big endian offsets are not translated"
**Describe the bug**
`../arrow-ipc-stream/integration/1.0.0-bigendian/generated_dictionary.arrow_file` contains a UTF8 Arrow array somewhere encoded in big endian.

When this is read in to the arrow-rs implementation, the offsets buffer remains big endian, even though the code assumes the offsets buffer has values in native endianness (e.g. the offsets of the created arrow-rs buffer incorrect on l

[2021-10-25 13:37] jimexist opened #861 "Add boolean lt, gt, leq, geq kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

a challenge to implement

- `lt`
- `gt`
- `lt_eq`
- `gt_eq`

kernels for boolean, following #844

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2021-10-25 23:26] #861 closed, assigned to nobody

[2021-10-26 02:37] helgikrs opened #862 "Incorrect offset calculation for unions"
The `value_offsets` function on a union only returns the least significant byte for the offset of a value, producing incorrect offsets when there are more than 256 values.

[code]

The above code fails for the 256th value index, returning 0 instead of 256 as expected.

[2021-10-26 11:06] #847 closed, assigned to nobody

[2021-10-26 11:17] alamb opened #869 "Add native comparison kernel support for `DictionaryArray`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Today,  DataFusion's expression evaluation does not work natively on `DictionaryArray`s; Instead what happens is that the DictionaryArrays are unpacked into their base type (e.g. a string dictionary gets unpacked into a `StringArray`)

This is very inefficient, especially for expressions like

[2021-10-26 20:29] #862 closed, assigned to nobody

[2021-10-27 12:28] MrKhan0747 opened #872 "Unresolved import `arrow::ipc`"
**Describe the bug**

Added parquet dependency in Cargo.toml file while running command Cargo build got an error saying " Unresolved import `arrow::ipc`" and package build failed in MacOs.

<img width="719" alt="Screenshot 2021-10-27 at 5 58 20 PM" src="https://user-images.githubusercontent.com/37217654/139065422-741bb13d-35e3-49a4-9bde-e8390a2ab230.png">

[2021-10-27 14:00] jwdeitch opened #873 "add ilike string comparison operator"
hi all - I would like to add the `ilike` comparison operator for case-insensitive string matching, similar to `not like` and `like`. this follows pgSQL.

Thank you!

[2021-10-28 13:05] alamb opened #876 "Support casting to/from `DataType::Null`/ `NullArray` and other types"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I want to cast a null constant in DataFusion to an array (so the expression evaluation logic is general). Sometimes this requires casting.

While this type of casting is definitely a corner case, it is required for completeness and will unify our handling of null constants in DataFusion

**Des

[2021-10-29 01:13] saethlin opened #877 "Tests do not pass miri due to alignment issues"
**Describe the bug**
The parquet `bit_packing` module does misaligned reads through a raw pointer, and `murmur_hash2_64a` constructs a misaligned reference. It's unclear to me if these qualify as security problems. They're definitely UB, and the fact that the UB is hit in tests suggests it's quite easy to hit in real code, but I can't imagine how one could construct an exploit with these.

[code]

[2021-10-29 13:15] alamb opened #879 "MIRI check is failing on master"
**Describe the bug**
The MIRI check has started to fail on master:

https://github.com/apache/arrow-rs/commits/master

![Screen Shot 2021-10-29 at 9 14 17 AM](https://user-images.githubusercontent.com/490673/139441201-1a871182-48d7-4ee9-9de3-66fa1ded6e7f.png)

Example failure: https://github.com/apache/arrow-rs/runs/4023917285?check_suite_focus=true

**To Reproduce**
Run CI MIRI test on master

**

[2021-10-29 13:57] alamb opened #881 "verify-release-candidate.sh includes unpassable `cargo publish checks`"
**Describe the bug**
The newly added `cargo publish` checks I added in #856 (see  https://github.com/apache/arrow-rs/pull/856/files#diff-82f32771b6ac9daaadbfb77bd77062d63e131ad18ecd9014ff90eff17865964fR137-R152) do not actually work for any crate other than `arrow`

The issue is that `cargo publish` ignores the 'path' annotations in Cargo.toml

Basically the issue is that they can't find the corre

[2021-10-29 13:58] #881 closed, assigned to alamb

[2021-10-29 18:42] paddyhoran commented on #654
Hi @sum12,

I think it would make more sense to start with #85 and then #814.  I believe they will be needed first.  This issue is more high level and the success criteria would be passing the integration tests.

[2021-10-30 13:40] alamb commented on #85
FYI @paddyhoran  I have a proposed implementation in https://github.com/apache/arrow-rs/pull/885 (look at the last commit)

[2021-10-30 14:00] alamb commented on #879
I could not reproduce this locally (on MacOS):

Here is what i tried:

[code]

Results in
[code]

Going to try it on Linux next

[2021-10-30 14:20] bkmgit opened #886 "Allow release check script to use sha512sum and sha256sum"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

shasum is not supported on all Linux distributions though sha256sum and sha512sum may be available

**Describe the solution you'd like**

Check for availability of shasum and if not available use sha256sum or sha512sum

**Describe alternatives you've considered**

None at present

**Additiona

[2021-10-30 14:44] paddyhoran commented on #85
Excellent, I’ll find some time to take a look.  Thanks @alamb

[2021-10-30 16:38] Jimexist commented on #879
Nor can I on MacBook Pro intel CPU

[2021-10-30 23:28] houqp commented on #881
@alamb in order for path dependency to work, we need to supply an extra version that matches with the version we have in the arrow crate. For example, this is how we made it work for datafusion: https://github.com/apache/arrow-datafusion/blob/master/ballista/rust/core/Cargo.toml#L48

[2021-10-31 08:09] Jimexist opened #890 "add support for half precision floats (f16)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

a challenge: to include support of half precision floats (f16)

**Describe the solution you'd like**

the support can be optional, with the inclusion of `half` crate, which just wraps u16 with correct arithmatics

**Describe alternatives you've considered**
A clear and concise description of

[2021-10-31 10:31] alamb commented on #879
🤔  the same commands passed for me on Ubuntu 20.04 on x86 as well

[code]

[2021-10-31 11:39] Jimexist commented on #879
Can it because of memory consumption?

[2021-10-31 12:00] alamb commented on #879
"Great minds think alike" -- lol I tried setting to `--test-threads=1` in this commit but that didn't seem to work

https://github.com/apache/arrow-rs/pull/891/commits/0dd0d62d7277d127afbb7c1648dd168a2f2faf82

However, I have had better luck clearing out the old cache. I'll get a new PR up shortly

[2021-11-01 01:14] #876 closed

[2021-11-01 01:14] #886 closed

[2021-11-01 09:50] tustvold opened #897 "Update prost and tonic"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Update [IOx](https://github.com/influxdata/influxdb_iox), which depends on arrow-flight, to use prost 0.9

**Describe the solution you'd like**

Update prost to 0.9 and tonic to 0.6.1

**Describe alternatives you've considered**

Having two versions of prost and by extension tonic in the same

[2021-11-01 10:32] alamb commented on #29
For anyone else reading this issue, all the calls to `*Array::value()` I checked (below) had bounds checking in them and would `panic` if an out of bounds request was made.

As written, the ticket seems more broadly defined and refers to more than just `value()` so I'll leave it open, but at the moment this seems unactionable to me (as the methods needing bounds checking are not clear).

-----

Bi

[2021-11-01 10:54] alamb commented on #879
It appears to have resurfaced: https://github.com/apache/arrow-rs/commits/master

![Screen Shot 2021-11-01 at 6 53 13 AM](https://user-images.githubusercontent.com/490673/139660913-366c71d7-26b5-4566-8355-e4d1af4aa1d8.png)

I am going to try to disable caching entirely for MIRI job and see if that looks promising

[2021-11-01 11:09] #877 closed

[2021-11-01 18:00] alamb commented on #879
Still happening: https://github.com/apache/arrow-rs/runs/4069047142?check_suite_focus=true

Passes sometimes on rerun....

[2021-11-01 21:18] novemberkilo opened #901 "Temporal utilities miss variations due to daylight savings"
[code]

This test [fails](https://github.com/novemberkilo/arrow-rs/commit/473e2e4eb4f3b47aa7110d1a23444647b1109665) - it returns 16 instead of 17 and demonstrates that the offset for the timezone is not correctly taking daylight savings into account.

__Originally posted by @novemberkilo in https://github.com/apache/arrow-rs/pull/849#issuecomment-955647565__

[2021-11-01 21:18] novemberkilo commented on #901
I have a fix in the works - please assign to me as appropriate. // @alamb

[2021-11-02 03:48] tafia opened #902 "IPC date serialization issue"
**Describe the bug**

When writing a `RecordBatch` via ipc (and then reading the stream from python) dates are not correct.
I have a date column from 2000-02-01 to 2021-11-02 on rust side but once converted to ipc pyarrow table, I see dates from 1998-01-16 to 2019-11-12.
Writing the same recordbatch as csv displays the correct dates.

**To Reproduce**

I can't really share the code but here is the

[2021-11-02 07:34] kingeasternsun opened #903 "csv writer doc type error"
**Describe the bug**
A clear and concise description of what the bug is.
https://docs.rs/arrow/6.0.0/arrow/csv/writer/index.html
[code]
shoud be
[code]

**To Reproduce**
Steps to reproduce the behavior:
just open https://docs.rs/arrow/6.0.0/arrow/csv/writer/index.html

**Expected behavior**
A clear and concise description of what you expected to happen.
https://docs.rs/arrow/6.0.0/arrow/csv/writer

[2021-11-02 08:21] tafia commented on #902
Note that when using pyarrow feature (which I just discovered reading through the code, is it documented??), this is working fine.

[2021-11-02 11:06] alamb commented on #881
Thanks @houqp  -- I messed around a little with this

The Cargo.toml in `arrow-flight` already uses https://github.com/apache/arrow-rs/blob/active_release/arrow-flight/Cargo.toml#L29

In fact `cargo build` works just fine -- the the issue is that `cargo publish --dry-run` seems to ignore the local `path` override.

This behavior kind of makes sense given the discussion on https://doc.rust-lang.org

[2021-11-02 20:33] #897 closed

[2021-11-03 01:40] kingeasternsun opened #908 "the SerializedFileReader has moved from reader to serialized_reader , but document of mod.rs not updated"
**Describe the bug**
A clear and concise description of what the bug is.

the SerializedFileReader has moved  from reader.rs to serialized_reader.rs , but document of mod.rs not updated

**To Reproduce**
Steps to reproduce the behavior:

just  click the  in  reader::SerializedFileReader link  in  https://docs.rs/parquet/6.0.0/parquet/file/

**Expected behavior**
A clear and concise description of

[2021-11-03 19:53] #908 closed

[2021-11-03 19:54] #903 closed

[2021-11-04 19:14] alamb opened #911 "Remove `null_count` from ArrayData::try_new()"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Re #817 ; As @jhorstmann  pointed out on #810 at https://github.com/apache/arrow-rs/pull/810/files#r742905920

`ArrayData::try_new()` function includes an optional `null_count` argument and a validity buffer. If these numbers differ,  wrong results can occur (and maybe also undefined behavior)

[2021-11-04 19:43] alamb commented on #902
@tafia  can you possibly provide an example of what is in the `batch: &RecordBatch` argument? Specifically, what is the exact type (`DataType::Timestamp(..)`)? If so, what is the unit?

[2021-11-04 19:47] alamb commented on #846
FWIW when I tried the reproducer on current apache/master I still see an error:

[code]

@helgikrs  do you know what is left for this PR?

[2021-11-04 20:01] alamb opened #912 "boolean comparison kernels are not pub (and can't be used)"
**Describe the bug**

The boolean kernels added in https://github.com/apache/arrow-rs/pull/844 by @Dandandan   are not marked `pub` and thus can not be used:

https://docs.rs/arrow/6.1.0/arrow/compute/kernels/comparison/index.html?search=eq_bool
**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional con

[2021-11-04 20:31] alamb opened #914 "Integration tests are failing on master"
**Describe the bug**
This kind of test is failing on master
https://github.com/apache/arrow-rs/runs/4097486331?check_suite_focus=true

The output looks related to trying to install python 3.1 which presumably is no longer present
[code]

**To Reproduce**
Make a PR and try to run it

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add an

[2021-11-04 20:33] jorgecarleitao commented on #914
Fixed in https://github.com/apache/arrow/pull/11609 :)

[2021-11-04 20:33] #914 closed

[2021-11-04 20:36] alamb commented on #914
Looks like @jorgecarleitao  has re-triggered the run https://github.com/apache/arrow-rs/actions/runs/1418458814 🤞  for a clean run

[2021-11-04 20:56] #912 closed

[2021-11-04 22:56] helgikrs commented on #846
@alamb Currently the deserializer only considers dictionaries at the top-level of the schema, so when a dictionary id is found during loading that is not at the top-level of the schema you get the panic above. I have a working fix, I'll submit a PR that closes this probably tomorrow.

[2021-11-05 04:03] houqp commented on #881
ha, you are right @alamb , the upstream path based dependencies need to be published to crates first.

[2021-11-05 10:19] alamb commented on #846
Thank you @helgikrs

[2021-11-06 09:55] #879 closed

[2021-11-07 07:41] novemberkilo commented on #901
@alamb I have a fix on a branch that builds off my work in #849 -- here is the diff https://github.com/novemberkilo/arrow-rs/compare/master...novemberkilo:topic/dst-bug-temporal

I suggest we work through #849 and then I will put up a PR separately.

[2021-11-08 10:17] neverchanje opened #924 "Plan for async ChunkReader?"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

https://docs.rs/parquet/6.1.0/parquet/file/reader/trait.ChunkReader.html The `ChunkReader` trait is designed to hide the details of the underlying storage, which however may use the `async` feature, rusto-s3 for example:

[code]

https://durch.github.io/rust-s3/s3/bucket/struct.Bucket.html#me

[2021-11-08 17:00] matthewmturner opened #925 "Add FixedSizeList to pretty_print_batches implementation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I am currently working on migrating datafusion sql tests to use the new `assert_batches_eq` macro to make it easier to view and maintain tests (https://github.com/apache/arrow-datafusion/pull/1241).  I use `pretty_format_batches` in order to get the correct output format.  I get the below erro

[2021-11-08 21:32] #846 closed

[2021-11-09 06:33] liukun4515 opened #926 "Add decimal for CSVReader if user provide the schema with decimal"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

I need to read decimal data from csvfile to decimalarray if i provide the schema with decimal column.

If read the csv file using the inferred schema, we just use the old rule and convert the value to float64 or UTF8

**Describe the solution you'd like**

**Describe alternatives you've consid

[2021-11-09 07:20] liukun4515 opened #927 "Not check the i128 value for decimal api `append_value`"
**Describe the bug**
Use the decimal builder to append decimal value, the code doesn't check the value of the `i128` with the precision and scale.

For example, in the Test
[code]
The `123450` is not compatible for the decimal(5,3).

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

We need add the checking log

[2021-11-09 07:21] liukun4515 commented on #927
I can work on this issue and fix it.

[2021-11-09 10:01] Jimexist commented on #926
thanks for the issue @liukun4515 however i don't think this is doable as is.

by default numbers are read into f64 but not decimal because for decimal you'll need to have a precision configured. that can't be inferred from the csv data itself. if you do need to do that either read as f64 and convert yourself (using cast) or pre-convert the data as parquet so that arrow can be correctly mapped.

[2021-11-09 11:09] alamb opened #929 "Review / fix behavior of json schema inference for numbers with trailing decimal point (e.g. `2.`)"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
This is a follow on to this conversation https://github.com/apache/arrow-rs/pull/831#discussion_r744929541 on #831  . Specifically, the question is what to do with numbers like `2.`

Today the JSON parser schema inference treats numbers like `2.` as `Utf8` (aka as strings).

As @brianrackle an

[2021-11-09 13:56] #873 closed

[2021-11-09 18:22] vlushn opened #937 "Drop `Seek` requirement for `ParquetWriter`"
The `Seek` trait bound on `arrow::file::writer::ParquetWriter` prevents streaming parquet directly over a messaging bus. In the implementation, it seems to be used mainly for writing metadata about the size of the data body and the footer: https://github.com/apache/arrow-rs/blob/master/parquet/src/file/writer.rs#L196

It looks like the trait bound can be removed if the information on the number of

[2021-11-09 18:44] jorgecarleitao commented on #937
Fwiw I was able to achieve this in parquet2, but required re-writing the thirft library to offer us that number of written bytes. This is not doable without a backward incompatible change in thirft library.

[2021-11-09 18:57] vlushn commented on #937
Oh, good to know. Do you think it might be possible to wrap the writer to just collect that information? We only need a cumulative count in that place, so a single struct that wraps a usize + the actual writer might be enough...

[2021-11-09 19:21] jorgecarleitao commented on #937
That is an excelent idea. Kudos for that!

[2021-11-09 22:59] #830 closed

[2021-11-10 11:40] #927 closed

[2021-11-10 17:15] bjchambers opened #938 "Take kernel panics on null array"
**Describe the bug**

The take kernel currently does not support the `null` array.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-11-10 19:02] bjchambers opened #940 "Validation error when manually copying array data for a slice array"
**Describe the bug**

The only commit in this branch https://github.com/bjchambers/arrow-rs/tree/reproduce-validation-error demonstrates the issue. See the added test https://github.com/bjchambers/arrow-rs/blob/reproduce-validation-error/arrow/src/array/data.rs#L1648 here.

Specifically, it creates a struct array, it slices it, then it gets all of the data from that array and attempts to create an

[2021-11-10 19:02] bjchambers commented on #940
@alamb in case you have thoughts, since this looks to be in the new validation code.

[2021-11-10 21:14] alamb commented on #940
@bjchambers  sounds like a bug introduced in https://github.com/apache/arrow-rs/pull/810 -- are you planning to look at it, or shall I?

[2021-11-10 22:33] bjchambers commented on #940
I haven't looked into it much. If you're able that's great otherwise

I did see a comment near the failure that is suspicious (something about comparing length to length plus offset). But I'm not sure about the intended behavior.

[2021-11-10 22:47] alamb commented on #940
I'll look into it tomorrow first thing in the morning

On Wed, Nov 10, 2021 at 5:33 PM Ben Chambers ***@***.***>
wrote:

[2021-11-11 11:02] liukun4515 commented on #926
The precision is a problem, i found the issue from the datafusion when i use this sql to create a table.

`CREATE EXTERNAL TABLE food (a DECIMAL(10,0), b INT) STORED AS CSV LOCATION 'data.csv';`

I can read data from the csv file, so i want to implement the feature to support decimal data from csv file.

I think  if user provide the schema with decimal data type, we should read csv file data and c

[2021-11-11 11:08] liukun4515 commented on #926
If user read the csv file using the schema inferred from sample data, we just the FLOAT64 or UTF8 to read float point data.
@Jimexist

[2021-11-11 11:17] liukun4515 commented on #926
@Jimexist please take a look this pull request #941

[2021-11-11 11:42] alamb commented on #940
@bjchambers  -- PR with proposed fix is https://github.com/apache/arrow-rs/pull/942

[2021-11-11 11:47] #938 closed

[2021-11-12 11:16] #940 closed

[2021-11-12 13:01] xudong963 opened #948 "Check Apache Arrow Rust 6.2.0 RC1 failure"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Additional context**
Add any other context about the problem here.

[2021-11-12 13:04] xudong963 commented on #948
Hi @alamb, After receiving your email about `[VOTE][RUST] Release Apache Arrow Rust 6.2.0 RC1`. I tested it and got the following error.

[code]
My testing environment is macOS Monterey.

[2021-11-12 19:21] brianrackle commented on #929
Investigated JSON further and `2.` and `.2` are not valid tokens in JSON. Since this isn't valid JSON I don't think these values need any special handling to interpret them as numbers. In these cases, serde rightfully returns an error.

json  spec https://www.json.org/json-en.html

[2021-11-12 19:24] alamb commented on #948
Hi @xudong963  -- thanks for reporting this issue

I think this is the same problem as fixed in  https://github.com/apache/arrow-rs/pull/882 but which I did not backport to active_release (and thus it is not in the tarball). I will backport that now 🤦

FYI @andygrove  reported something similar

[2021-11-12 19:31] brianrackle commented on #929
But I think this issue should be about CSV handling of these values and was mistakenly worded to refer to JSON.

For CSV there is not a formal spec, so the expected behavior is undefined. My thoughts are that since `2.` can be interpreted by an Int then it should be and the usual schema inference rules will upgrade from Int to Float only if there are other values in the column which can only be re

[2021-11-13 00:02] brianrackle commented on #929
I went ahead and created

After playing with the solution some more inferring as an Int would mean changing the native parse logic which currently does not support converting "2." to an Int. So I followed the path of least resistance and went ahead with doing a conversion which is already supported and infer "2." as a Float so that the existing native parsing logic can be used.

[2021-11-13 12:59] alamb commented on #929
I think that makes sense 👍

[2021-11-13 13:00] #929 closed

[2021-11-15 09:07] Jimexist opened #951 "allow pretty::print_batches to take bytes sink instead of only stdout"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
(This section helps Arrow developers understand the context and *why* for this feature, in addition to  the *what*)

**Describe the solution you'd like**

allow pretty::print_batches to take [bytes sin

[2021-11-15 19:35] brianrackle commented on #925
I would like to try to resolve this issue. I am currently reviewing the code and tests to come up with a plan to support the request.

[2021-11-16 11:11] #778 closed

[2021-11-16 16:43] #926 closed

[2021-11-17 11:56] jhorstmann opened #953 "Incorrect sort result with primitive array that contain more nulls than the sort limit"
**Describe the bug**
When sorting with a limit that is lower than the number of null, the sorting code calculates an incorrect length
(`len.saturating_sub(nulls_len)`, which results in 0), the `partial_sort` function then still partitions the data but does not fully sort it.

Instead the formula should take the minimum of the length of valid indices and the given limit.

**To Reproduce**
Sort an a

[2021-11-17 14:04] alamb commented on #948
resolved in https://github.com/apache/arrow-rs/pull/949

[2021-11-17 14:04] #948 closed

[2021-11-18 15:08] carols10cents opened #956 "Upgrade to comfy-table 5.0"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

[In IOx, we've updated to comfy-table 5.0](https://github.com/influxdata/influxdb_iox/blob/5a237e2bc68d0b7faf2b58ed22dfb531b6cc5677/influxdb_iox/Cargo.toml#L68), and we'd like to only have one version of comfy-table in our dependency tree.

**Describe the solution you'd like**

We'd like arro

[2021-11-18 15:51] matthewmturner commented on #951
@Jimexist ill give this a shot

ill likely have some questions, but going to look into it first

[2021-11-18 18:10] #956 closed

[2021-11-18 22:26] #953 closed

[2021-11-18 22:38] alamb commented on #924
Hi @neverchanje  -- sorry for the late follow up

There are some thoughts on approaches in this issue: https://github.com/apache/arrow-rs/issues/111#issue-867656782 -- it may also be worth taking a look at `arrow2` to see if that does what you need

[2021-11-20 11:48] alamb opened #959 "Add boolean comparison to scalar kernels for less then, greater than"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are implementing general purpose implementations of `<`, `<=`, `>`, and `>=` in DataFusion -- see https://github.com/apache/arrow-datafusion/pull/1163

DataFusion uses different implementations if the left or right sides are scalar values vs if the left or right sides are both arrays.

Arro

[2021-11-20 11:56] alamb opened #960 "Consider adding `is_distinct_from` kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
Several databases have `is distinct from` and `is not distinct from` operators in addition to `=` and `!=`.

We have added this function in DataFusion -- see https://github.com/apache/arrow-datafusion/pull/1117 from @Dandandan   and https://github.com/apache/arrow-datafusion/pull/1163

The `is

[2021-11-20 12:04] #901 closed

[2021-11-20 12:22] xudong963 commented on #959
I want to do it! @alamb

[2021-11-20 15:31] liukun4515 commented on #960
I can try it

[2021-11-21 05:04] matthewmturner commented on #951
@Jimexist would the idea be to add a parameter to `print_batches` that implements `Write` and then just use `writeln!` macro instead of `println!`?

[2021-11-21 06:52] Jimexist commented on #951
either that or you can add another write_batches method and allow the print one to stay unchanged but reuse the newly added code by passing in stdout

[2021-11-21 15:50] matthewmturner commented on #951
@Jimexist ok agree and sounds good, the second idea is what i had wanted to do but i originally thought you wanted to update `print_batches`.

[2021-11-22 05:17] chadbrewbaker commented on #703
I'm getting the same issue on darwin-aarch64 using the [json2parquet](https://lib.rs/crates/json2parquet) CLI.

[code]

[2021-11-22 12:01] #925 closed

[2021-11-22 22:03] alamb opened #969 "CI Tests against nightly rust are failing"
**Describe the bug**

The  checks started failing here:
https://github.com/apache/arrow-rs/runs/4286145388?check_suite_focus=true

[code]

**To Reproduce**
Run CI on nightly

**Expected behavior**
Tests should pass

[2021-11-22 22:26] alamb commented on #969
Can reproduce (on linux only):

[code]

I am not sure what is going on re the windows failures...

[2021-11-23 01:52] liukun4515 opened #971 "About cherry-pick automatically"
**Which part is this question about**
![image](https://user-images.githubusercontent.com/7450163/142960126-d9068565-dd93-4f56-b660-63a9aef7f47d.png)

every day, @alamb should cherry pick some pull request to the `active_release` branch automatically.
I have a question about what kind of pull request should be cherry pick?

**Describe your question**
A clear and concise description of what the ques

[2021-11-23 03:37] #969 closed

[2021-11-23 11:39] vikramsqr opened #972 "Support writing dictionaries nested in a list to IPC stream"
**Describe the bug**
Attempting to write/read dictionaries nested in a list to an IPC stream results in an error:

**To Reproduce**
[code]

**Actual behavior**
Result in the error:
[code]

**Expected behavior**
The message is written and read successfully.

**Additional context**
Using arrow 6.2.0
Support for dictionaries nested inside Structs and Unions was added in #870

[2021-11-23 19:04] alamb commented on #971
Hi @liukun4515  -- the process I am following is documented here: https://github.com/apache/arrow-rs/blob/master/dev/release/README.md#backporting

Specifically I try to cherry-pick everything that is "backwards compatible" (in the rust Semantic Versioning sense that someone upgrading from 6.1.0 to 6.2.0 would not have to change any of their code).

Does that answer your question?

[2021-11-24 01:11] liukun4515 commented on #971
thank you for your reply.

[2021-11-24 01:11] #971 closed

[2021-11-24 06:31] matthewmturner commented on #869
@alamb im interested in taking this. will start looking into it.

[2021-11-24 22:04] alamb commented on #869
sounds great @matthewmturner  -- thank you!

[2021-11-25 13:19] andrei-ionescu opened #982 "Reading Parquet file with timestamp column with `9999` year results in overflow panic"
**Describe the bug**
Reading Parquet file with timestamp column containing a future date like `9999-12-31 02:00:00` year results in overflow panic with the following output:
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Download the attached zip file that contains the parquet file: [data-dimension-vehicle-20210609T222533Z-4cols-14rows.parquet.zip](https://github.com/apache/arrow-da

[2021-11-25 15:12] kesavkolla opened #978 "Support for parquet-format latest version"
Current parquet is using pinned version of parquet-format **~2.6.1** This is limiting ability of using parquet format of 2.6.0

parquet-format crate released new version which is 4.0 this conforms to parquet format of 2.8.0. I think it's safe to use the latest version so that we can leverage newer support of the parquet.

[2021-11-26 10:31] jhorstmann opened #980 "Add option to sort by dictionary keys in sort kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

There are two use cases for this feature:

 - Some storage providers or engines are able to guarantee that dictionary keys are already sorted and so sorting could be more efficient by using the keys instead of looking up corresponding strings.
- For the PARTITION BY part of window functions t

[2021-11-26 15:46] jorgecarleitao commented on #982
(Transferred to arrow-rs, since this is not related to datafusion per-se but to the parquet reading).

[2021-11-26 16:04] jorgecarleitao commented on #982
I was trying to communicate that what Spark does does not solve the problem in general, just the particular date 9999; it essentially shifts the problem by a factor of 1000x.

I would argue that 200 years for the world to migrate away from int96 should be enough, but probably someone has said the same about the imperial system 200 years ago and here we are. ^_^

IMO panicking is not a valid behavi

[2021-11-26 16:09] jorgecarleitao commented on #982
Not a nuisance at all; quite fun problem!

[2021-11-26 17:21] alexhallam opened #983 "Remove scientific notation when converting floats to strings."
**Which part is this question about**
parquet

**Describe your question**
I would like to get a string of the values, but not in scientific notation (if 0.01 then return "0.01" not "1E-2").

**Additional context**

I am trying to read parquets and print the output, but the fact that conversion to string results in a scientific notation is making the task harder for me. I am guessing there is a sim

[2021-11-27 11:21] #959 closed

[2021-11-29 13:08] #890 closed

[2021-11-29 13:37] andrei-ionescu commented on #982
I'm also inclining for 3. It is somehow covering multiple aspects and one of the most important ones is the backward compatibility.

[2021-11-29 21:09] #978 closed

[2021-11-29 21:51] matthewmturner opened #986 "Add dyn_xx_lit type kernels"
In the context of adding more efficient DictionaryArray comparison kernels we discovered that we need to add dynamic typed kernels (similar to  recently added `dyn_eq`) that can compare to a constant.

_Originally posted by @alamb in https://github.com/apache/arrow-rs/pull/984#discussion_r758757795_

[2021-12-01 21:17] carols10cents opened #989 "serde `rc` feature might not be needed?"
This is low priority, and I'm happy to send in a PR for this if it's determined we can remove the `rc` feature.

I'm analyzing dependencies and features in IOx, which is also leading me to analyze dependencies and features in IOx's dependencies.

I noticed arrow enables serde's `rc` feature: https://github.com/apache/arrow-rs/blob/e9be49d962560ce5b87544a2933d8b207322cf60/arrow/Cargo.toml#L40

[ser

[2021-12-02 02:09] houqp commented on #989
if it builds without `rc` and passes all tests, then I don't see a reason to keep it :D

[2021-12-02 16:38] carols10cents opened #991 "New Rust is out; new warnings are breaking Clippy CI job"
**Describe the bug**

A new Rust came out today that has new warnings both from `rustc` and from `clippy`. [CI is failing on PRs opened since the update](https://github.com/apache/arrow-rs/runs/4396953912?check_suite_focus=true).

[2021-12-02 19:27] andrei-ionescu opened #993 "Support Reading Nested List Arrays"
**Describe the bug**

When trying to read parquet files with deeply nested fields we end up with the following error:

[code]

**To Reproduce**

This is easily visible from the code found at [array_reader.rs#L1516-L1522](https://github.com/apache/arrow-rs/blob/master/parquet/src/arrow/array_reader.rs#L1516-L1522)

**Expected behavior**

To have support for reading nested parquet files into arrow.

[2021-12-03 06:18] hu6360567 opened #994 "Confused import/export API when interacting with C++"
**Which part is this question about**
FFI apis and raw pointer management

**Describe your question**
I'm trying to import/export arrow arrays between C++ and Rust, when it crashes when C++ is compiled in release mode.
ref: https://github.com/apache/arrow/issues/11846

To be confused, when import/expore array/schema on Rust side, the input pointer is `const`.
However, C++ API`arrow::ImportRecordBa

[2021-12-03 06:36] hu6360567 commented on #994
In `pyarrow.rs`, I found some snippet.
https://github.com/apache/arrow-rs/blob/e9be49d962560ce5b87544a2933d8b207322cf60/arrow/src/pyarrow.rs#L110-L132

The desired workflow of importing array from FFI:
1. prepare ArrowArray and leak both pointers to FFI
2. write C Data Interface into both pointers
3. Import from both pointers, allocated in first step

[2021-12-03 15:14] #991 closed

[2021-12-03 15:19] xudong963 opened #995 "Update rust version to 1.57"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
https://blog.rust-lang.org/2021/12/02/Rust-1.57.0.html
https://github.com/apache/arrow-datafusion/pull/1395

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alte

[2021-12-03 15:24] alamb opened #996 "Remove unsafe from Buffer::typed_data"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As pointed out by @jhorstmann  on #921 at https://github.com/apache/arrow-rs/pull/921#discussion_r760086317,

`Buffer::typed_data` does not actually need to be marked unsafe since it checks the alignment requirements. The very similarly implemented `MutableBuffer::typed_data_mut` is not marked

[2021-12-03 16:08] alamb commented on #995
Thanks @xudong963 -- note also https://github.com/apache/arrow-rs/pull/992 from @carols10cents  which cleaned up the new clippy lints. I can't remember if we pin the rust version in arrow-rs or not

[2021-12-03 16:12] xudong963 commented on #995
I have checked, we don't have.

[2021-12-03 16:15] alamb commented on #995
👍  so ti may be that #992 is the only thing that is needed

[2021-12-03 18:13] jhorstmann opened #997 "lexicographical_partition_ranges does not need to materialize indices"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

the [`lexicographical_partition_ranges` function](https://github.com/apache/arrow-rs/blob/9fb2a5fab32d50feacc1f600b45606ba402017df/arrow/src/compute/kernels/partition.rs#L65) currently materializes a vector of incrementing indices, which it then uses to call `slice::partition_point`. The bene

[2021-12-03 21:08] carols10cents opened #999 "Improve the specification of some features of dependencies"
**Describe the bug**

I think some chrono features can be removed and I think enabling a feature of indexmap might save a bit of build time.

**Additional context**

For chrono:

Chrono's default features contain "oldtime", which is deprecated.
According to [the docs](https://docs.rs/chrono/0.4.19/chrono/#duration),

so follow that recommendation by setting default-features to false. And
actually,

[2021-12-03 21:28] carols10cents commented on #770
I just ran into this too. Looks like [these types are now behind the `test_common` feature](https://github.com/apache/arrow-rs/blob/9fb2a5fab32d50feacc1f600b45606ba402017df/parquet/src/util/mod.rs#L27-L30); running `cargo check --benches --features=test_common -p parquet` *does* compile.

I'm not sure if it would be ok to remove the `#[cfg(any(test, feature = "test_common"))]` for these types, or

[2021-12-03 21:58] #989 closed

[2021-12-04 00:11] mdekstrand opened #1002 "parquet_derive does not need to depend on parquet"
**Describe the bug**

Currently, `parquet_derive` depends on `parquet`.

I do not think this is necessary, and it seems to be causing Cargo to build Arrow twice: once for use in the macro, and again for use in the program itself.

**To Reproduce**

- Depend on `parquet` and `parquet_derive` in a program.
- Run `cargo build`
- See that it lists `parquet` twice in the progress bar, and that two comp

[2021-12-04 11:43] #817 closed

[2021-12-04 15:06] alamb commented on #996
I reviewed the code a bit more, and the comments make a great point:

[code]

Meaning that if a user implements `ArrowNativeType` for their types, this will result in undefined behavior.

I also looked more carefully at Buffer and it effectively allows reinterpreting arbitrary `bytes` as different types, so I am not sure that behavior is safe...

What probably should be done is make `MutableBuffer

[2021-12-04 15:09] alamb commented on #996
Closing this one as I don't think it is actionable upon further review. FYI @jhorstmann

[2021-12-04 15:09] #996 closed

[2021-12-04 15:13] #995 closed

[2021-12-04 15:28] #999 closed

[2021-12-04 15:35] jhorstmann commented on #996
Ok, I wasn't aware that implementing ArrowNativeType for arbitrary types by a user is a supported usecase. Maybe making that into a sealed trait would also be an option. Anyway, my comment was more about the inconsistency between `MutableBuffer::typed_data` and `Buffer::typed_data`, so marking both `unsafe` is also fine.

[2021-12-05 02:32] liukun4515 opened #1009 "Add creator from Iterator of `i128` to get the decimalarray"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
From this comments in the datafusion.
https://github.com/apache/arrow-datafusion/pull/1394#discussion_r762053386

https://github.com/apache/arrow-datafusion/pull/1394

Creating an `DecimalArray` from an array of `Option<i128>` using `DecimalBuilder` is quite painful (see https://github.com/apa

[2021-12-05 02:33] liukun4515 commented on #1009
Please assign this to me.

[2021-12-05 13:56] alamb commented on #996
Sounds good -- I'll file some follow on tickets.

On Sat, Dec 4, 2021 at 10:35 AM Jörn Horstmann ***@***.***>
wrote:

[2021-12-06 16:08] tustvold commented on #171
Further to this, if the expected output schema is a dictionary array it will cast back and compute a new dictionary! See [here](https://github.com/apache/arrow-rs/blob/master/parquet/src/arrow/array_reader.rs#L547).

I'm going to take a stab at implementing this and see where I get to

[2021-12-07 00:02] alamb commented on #1009
Hi @liukun4515  -- thanks for the ticket; I added some more description to this ticket and some ideas which hopefully would help.

[2021-12-07 01:59] liukun4515 commented on #1009
Thank you.
I think the decimal type is more complex than other types, I will start this task when the tasks in the datafusion ends.

[2021-12-07 02:22] liukun4515 opened #1010 "SIMD for decimal data type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

From this [datafusion issue](https://github.com/apache/arrow-datafusion/issues/122), we will add the decimal data type
in the datafusion.
But some basic operations like `+,-` we implemented do not support SIMD.

In order to speed up the calculation, we need to add the SIMD feature for the dec

[2021-12-07 02:28] liukun4515 commented on #1010
please assign this to me.

[2021-12-07 06:51] liukun4515 opened #1011 "add some utils function in `DataType`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In some cases, I want to check the data type in one class, for example, an unsigned integer.
I mush write this logic code
[code]
This is not friendly to developers.

We should add some utils function to check the datatype.

**Describe the solution you'd like**
A clear and concise description o

[2021-12-07 14:14] AdamGS opened #1012 "Broken link in lib docs"
A link to [compute::kernels] [here](https://github.com/apache/arrow-rs/blob/239cba141cb27519b7c32d58a3ea6447fda31d11/arrow/src/lib.rs#L92) in the main lib docs is broken (doesn't work + not styled correctly).

[2021-12-07 17:16] tustvold commented on #171
Spent some time digging into this and think I have a plan of action. I'm off for the next day or so but will be looking to make a start on my return

**Background**

The lowest level parquet API:

* `FileReader` provides the ability to obtain metadata and `RowGroupReader` for each row group
* `RowGroupReader` provides the abilty to get `PageReader` for the pages within a single column chunk within

[2021-12-07 22:01] alamb commented on #171
FYI @yordan-pavlov

[2021-12-07 22:05] alamb commented on #171
In general sounds very cool @tustvold

What is the reason for defaulting this one to false? For any string dictionary column this is likely to almost always be what is wanted.

I can't remember if a single column can have pages encoded using dictionary and non dictionary encoding; I think it is possible but I don't know if any real files have such a thing

[2021-12-07 23:24] yordan-pavlov commented on #171
@tustvold thank you for looking into this, and for the excellent summary of the parquet reader stack.

The main reason for the stalling of work on the `ArrowArrayReader` is that a big change happened in my personal life - I had a baby born, and as much as I would like to spend more time on this project I have much less free time now. I hope that in a few months, I will have some more free time and

[2021-12-08 19:13] yordan-pavlov commented on #171
Looks like there already is a proposed implementation of comparison operations for Dictionary Arrays here https://github.com/apache/arrow-rs/pull/984

[2021-12-08 19:21] alamb commented on #171
@matthewmturner  and I are working on it :) We still have a ways to go but I think we are making progress !

[2021-12-08 19:32] alamb commented on #983
Instead of calling `c.1.to_string()` perhaps you could use something like this (untested):

[code]

[2021-12-08 21:37] lquerel commented on #506
Another issue with the existing implementation is the DictionaryKeyOverflowError error that is returned in situations where it is reasonably not expected. For example like in this scenario.
* Let's imagine a dictionary column type is: DataType::Dictionary(Box::new(**DataType::UInt8**), Box::new(DataType::Utf8))
* The dictionary represents an enumeration with 10 distincts values.
* As currently the

[2021-12-09 11:00] tustvold commented on #171
Congratulations :tada:

Unfortunately they definitely can, it is in fact explicitly highlighted in the arrow C++ blog post on the same topic [here](https://arrow.apache.org/blog/2019/09/05/faster-strings-cpp-parquet/). IIRC it occurs when the dictionary grows too large for a single page.

The problem I was trying to avoid is `ArrayReader` doesn't document its termination condition, and so some cod

[2021-12-09 14:23] alamb commented on #1010
FYI @liukun4515  -- before implementing explicit SIMD versions of these kernels, it may be worth doing some profiling / disassembly of what `rustc` creates for the current kernels.

Perhaps a good start would be to add Decimal support to the existing kernels in https://docs.rs/arrow/6.3.0/arrow/compute/kernels/aggregate/index.html if it doesn't alread exist

I have not reviewed the code in the dat

[2021-12-09 14:36] alamb commented on #1009
BTW the more I tried playing around with this, the nicer I think it would be to be able to do something like

[code]

[2021-12-09 14:46] alamb commented on #506
@lquerel  -- I agree that deduplication of dictionary keys is required (or at least detecting when it is needed)

[2021-12-09 15:16] alamb opened #1014 "Add `Schema::project` and `RecordBatch` project function to project / select a subset of columns"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
It is common to "project" (and pick a subset) of columns from a schema (and then also RecordBatch) for processing.

https://github.com/apache/arrow-datafusion/blob/299ab7d1c37c707fcd500d3428abbdbe4dc5399b/datafusion/src/datasource/empty.rs#L65-L71

https://github.com/apache/arrow-datafusion/bl

[2021-12-09 15:26] hntd187 commented on #1014
I suppose it only makes sense to tackle this one next. 🔢

[2021-12-09 18:18] #1012 closed

[2021-12-09 18:22] kylebarron commented on #180
Just wondering if there's anything actionable here or if it's open ended without a clear solution. I'm just starting to learn rust but would love for this to work in wasm.

[2021-12-09 18:43] domoritz commented on #180
I think someone needs to go through the dependencies and replace them with ones that work in wasm. I think this is pretty doable.

[2021-12-10 00:16] liukun4515 commented on #1010
Thanks for your suggestion, I will follow this.

[2021-12-10 00:20] liukun4515 commented on #1009
Yes, we can follow the usage of other primitive arrays to implement the necessary utils function first.

[2021-12-10 13:58] tustvold opened #1020 "Record Reader Incomplete State"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Whilst working on #171 I found the logic in parquet::arrow::RecordReader very difficult to follow. This mainly stems from the fact it has a state where it is part way through "consuming" a record, and state is mutated in multiple places.

**Describe the solution you'd like**

It is possible t

[2021-12-10 14:13] alamb opened #1022 "CI tests using rust nightly are failing"
**Describe the bug**
The arrow CI tests that rely on nightly are crashing with some sort of rustc internal compiler error

for example: https://github.com/apache/arrow-rs/runs/4468916693?check_suite_focus=true

[code]

Also on master: https://github.com/apache/arrow-rs/runs/4474503693?check_suite_focus=true

As @b41sh pointed out https://github.com/apache/arrow-rs/pull/779#issuecomment-989733760,

[2021-12-10 14:13] alamb commented on #1022
I plan to pin nightly to some version that was working until the upstream bug is fixed

[2021-12-10 14:21] alamb commented on #1022
Upon reading https://github.com/rust-lang/rust/issues/91663 more carefully I first plan to try and force a clean cache first

[2021-12-10 14:42] hntd187 commented on #1014
I was going to tackle this, still learning the code base but I think I'll manage

[2021-12-10 15:11] #1022 closed

[2021-12-10 16:06] alamb opened #1026 "Parquet benchmarks are broken - no `DataPageBuilderImpl` in `util`"
**Describe the bug**
Parquet benchmarks are broken with default feature set

**To Reproduce**
Run
[code]

For example:
[code]

**Expected behavior**
Benchmarks should run

**Additional context**
Workaround is to ensure the `--features=test_common`  is selected:

[code]

[2021-12-10 16:13] alamb commented on #1026
Found a workaround

[2021-12-10 19:14] alamb commented on #1026
Dupe of https://github.com/apache/arrow-rs/issues/770

[2021-12-10 19:14] #1026 closed

[2021-12-11 12:50] alamb commented on #1010
FWIW I believe https://rust.godbolt.org/ is a popular tool for such work

[2021-12-11 12:55] alamb opened #1027 "`MutableBuffer::typed_data_mut` is not `safe`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
As pointed out by @jhorstmann  on #921 at https://github.com/apache/arrow-rs/pull/921#discussion_r760086317,

`Buffer::typed_data` is marked `unsafe` and it is very similar`MutableBuffer::typed_data_mut` which is not marked as unsafe.

After some more research on https://github.com/apache/arro

[2021-12-11 13:02] alamb opened #1028 "Consider sealing `ArrowNativeType`"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The comments for `Buffer::typed_data` make the following point
[code]

Meaning that if some user crate implements ArrowNativeType for another type, using `Buffer::typed_data` (and others) will result in undefined behavior.

**Describe the solution you'd like**
Ensure users of the `arrow` crat

[2021-12-11 13:02] alamb commented on #996
Follow on tickets:
* https://github.com/apache/arrow-rs/issues/1027
* https://github.com/apache/arrow-rs/issues/1028

[2021-12-11 21:05] tustvold opened #1032 "Reduce Public Parquet API"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

The current API for the parquet crate is rather large, and exposes quite a lot of implementation detail.

This has a couple of implications:

* It complicates iterating on the crate without making breaking changes to public APIs
* It adds to user's cognitive load as users have to work out wha

[2021-12-12 00:13] chadbrewbaker commented on #703
This line of JSON is barfing in json2parquet with:

[code]
https://github.com/apache/arrow-rs/blob/e0abda2c178be0c38d4257d22de2e4a3bfafde82/parquet/src/arrow/levels.rs#L757

[code]

[2021-12-12 01:00] chadbrewbaker commented on #703
Looks like we might have to translate  https://github.com/apache/arrow/blob/master/python/pyarrow/tests/test_json.py

Better yet add a json directory for all the arrow clients:
https://github.com/apache/arrow-testing/tree/master/data

[2021-12-12 11:09] tustvold opened #1034 "parquet Performance Optimization: StructArrayReader Redundant Level & Bitmap Computation"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`StructArrayReader` currently always computes repetition and definition level buffers, along with a null bitmask - see [here](https://github.com/apache/arrow-rs/blob/e0abda2c178be0c38d4257d22de2e4a3bfafde82/parquet/src/arrow/array_reader.rs#L1152). In the case where the struct array is not nu

[2021-12-12 16:25] yordan-pavlov commented on #171
In the case of partial dictionary encoding, I wonder if the returned record batches could be split so that a single record batch only contains column data based on a single encoding (only dictionary or plain encoded values for each column)? Wouldn't this  enable that `preserve_dictionaries` be true by default and at the same time still provide the benefits of dictionary preservation even when some

[2021-12-12 17:16] tustvold commented on #171
I think it would be pretty confusing, and break quite a lot of code if `ParquetRecordBatchReader` returned an iterator of `RecordBatch` with varying schema?

The encoding is per-page, and there is no relationship between what rows belong to what pages across column chunks. To get around this, the current logic requires that all ArrayReader return the batch_size number of rows, unless the `PageIter

[2021-12-12 19:21] yordan-pavlov commented on #171
@tustvold this latest approach you describe will probably work in many cases, but usually there is a reason for having partial dictionary encoding in parquet files - my understanding is that the reason usually is that the dictionary grew too big. And to have to reconstruct a big dictionary from plain-encoded parquet data sounds expensive and I suspect this will result in suboptimal performance and

[2021-12-12 19:56] yordan-pavlov commented on #171
@tustvold  I should have read the blog post you linked earlier (https://arrow.apache.org/blog/2019/09/05/faster-strings-cpp-parquet/) before commenting; it appears that the C++ implementation of the arrow parquet reader converts plain-encoded fallback pages into a dictionary similar to the latest approach you described:

[2021-12-12 19:57] tustvold commented on #171
This is my understanding also, with the current defaults "too big" would be a dictionary larger than 1MB

I don't disagree with this, this would represent a somewhat degenerate edge case. As currently articulated, we will only attempt to preserve the dictionary if the arrow schema encoded within the parquet file is for a dictionary type. Specifically this means the data that was written was alread

[2021-12-13 03:16] chadbrewbaker opened #1036 "JSON input barfs on {"emptylist":[]}"
**Describe the bug**
JSON inuput barfs on {"emptylist":[]}

[code]

I was driving the library with https://github.com/domoritz/json2parquet

[code]

**To Reproduce**
{"emptylist":[]}

**Expected behavior**
Same as pyarrow, it does not barf the Parquet writer.

[code]

**Additional context**

[2021-12-13 11:04] tustvold opened #1037 "Parquet Preserve BitMask"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently the parquet reader reads out definition levels into `[i16]` and then constructs a bitmask from this. In the case of a max definition level of 1, the data is likely encoded already as bitpacked with a bitwidth of 1. It is possible to just use this encoded representation as is, withou

[2021-12-13 11:04] tustvold opened #1038 "BooleanBufferBuilder Append Packed"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`BooleanBufferBuilder` currently has no mechanism to append an already packed bitmask, instead requiring bitwise iteration through the mask. This is particularly wasteful where the `BooleanBufferBuilder` has a length that is a multiple of 8, where a simple memcpy would suffice. I ran into thi

[2021-12-13 11:34] tustvold opened #1040 "Generify ColumnReaderImpl and RecordReader"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Currently `RecordReader` and `ColumnReaderImpl` have a hard-coded assumption that they are decoding to contiguous array of values, or i16 levels. This complicates implementing #1037, #171 and potential future decode related optimisations, e.g. decoding directly to StringArray, or evaluating p

[2021-12-13 12:56] alexhallam commented on #983
Thanks. I will give this a try.

[2021-12-13 21:44] #1020 closed

[2021-12-13 22:05] alamb commented on #1032
I don't know either -- the idea of marking everything lower level as private and then making it re-pub as use cases arise seems reasonable to me, though a bit of an annoying crowd sourcing exercise (annoying to the crowd that is)

I think @sunchao  or @nevi-me  perhaps are the most knowledgeable about the goals of the crate so perhaps they would want to comment

[2021-12-14 08:35] liukun4515 opened #1043 "support cast for decimal data type"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
In the https://github.com/apache/arrow-datafusion/issues/122#issuecomment-975036335, we need  to support decimal for `cast` and `try_cast`

In the first step, we just support signed numeric data type to decimal, and other casting rules related to decimal will be supported in the feature.

**fu

[2021-12-14 08:58] liukun4515 commented on #1043
please assign this issue to me.
Thanks

[2021-12-14 19:06] chadbrewbaker commented on #1010
https://ispc.github.io etc are probably the way to go. For any expensive query you will want to shell out to LLVM and custom compile the worker binaries before the run - also probably blast the query plan with an SMT solver to reduce the expense/runtime depending on your constraints. I would avoid dynamic linking like the plague - be like the IBM Blue Gene/L.

[2021-12-14 19:23] chadbrewbaker commented on #1010
Before mucking with simd - probably good idea to have a repo like Rust coreutils that leverages existing regression tests for the SQL engine. Especially perf regressions.

https://github.com/postgres/postgres/tree/master/src/test/regress

https://github.com/s3team/Squirrel

[2021-12-14 19:53] alamb commented on #1036
Thanks for the report @chadbrewbaker  --

[2021-12-14 20:10] alamb commented on #1043
@liukun4515  I personally think it would be valuable to support `unsigned` numeric (aka `PrimitiveArray<T>`) to / from the decimal type, though we can also leave it as a follow on PR / issue (doesn't have to be in the first implementation).

I suspect once you implement `PrimitiveArray<T>` to/from `DecimalArray` for signed variants the incremental cost to supporting the unsigned numeric variants w

[2021-12-14 22:00] yordan-pavlov commented on #1040
@tustvold  could provide some examples of how the new API would look and how it could be used?

[2021-12-14 22:15] nevi-me commented on #1036
These parquet bugs are mostly/all my fault. I was working on fixing them a few months ago, but there's been significant changes in my time, and I left them hanging. I really apologise for that.

[2021-12-15 01:35] chadbrewbaker commented on #1010
Here is the Google SIMD assembler https://github.com/google/zetasql/blob/master/zetasql/base/mathutil.h

[2021-12-15 02:22] liukun4515 commented on #1043
Ok, I will implement signed numeric first, and leave other as the follow-up PR.

[2021-12-15 04:12] novemberkilo commented on #1036
I am interested in picking this up please // @alamb

[2021-12-15 11:30] tustvold commented on #1040
#1041 contains my initial experiments, and I am implementing #1037 and #171 to "prove" it out

[2021-12-15 18:39] chadbrewbaker commented on #1043
On commit ab48e69099f2d7c4178 building with nightly-2021-12-05-aarch64-apple-darwin I am getting:
[code]
The string formatter is:

https://github.com/apache/arrow-rs/blob/ab48e69099f2d7c4178a75f7e1cf8b223ecf8d76/parquet/src/record/api.rs#L716-L728

Where are the requirements for this?

[2021-12-15 19:56] #1027 closed

[2021-12-15 19:56] #997 closed

[2021-12-15 20:50] alamb commented on #1043
I do not know @chadbrewbaker

Some code archeology in  https://github.com/apache/arrow-rs/blame/ab48e69099f2d7c4178a75f7e1cf8b223ecf8d76/parquet/src/record/api.rs#L717 suggests that there has been a special case for checking that value for quite a while

Given that `0.000000000000001` is right on the boundary, perhaps we need to adjust the code to reflect differences in floating point on `aarch64`

[2021-12-15 21:21] chadbrewbaker commented on #1043
Same errors on x86.

This seems to be the last commit that changed the rounding.

https://github.com/apache/arrow-rs/commit/21cb780808407fc9fca3d028106181c5c9ae54ee

[2021-12-15 21:49] alamb commented on #1043
@chadbrewbaker  On a mac, the tests pass for me using `cargo test -p parquet` (using stable)

[code]

I also get the diff using nightly:
[code]

If you want to propose a patch to allow the tests to pass on both nightly and stable that would be 👍

[2021-12-15 22:25] chadbrewbaker commented on #1043
Bah - my stupidity not running stable. I'll diff what they changed in nightly. Seems to be cross-platform.

[2021-12-15 22:42] chadbrewbaker commented on #1043
I'll try to upstream our test for the "1e-15" boundary. Doesn't seem to be one now.

https://github.com/rust-lang/rust/blob/c5ecc157043ba413568b09292001a4a74b541a4e/library/alloc/tests/fmt.rs#L137-L155

[2021-12-16 00:07] maxburke opened #1045 "Arrays generated by `take` lack timezone information"
The array data created by the `take` kernel doesn't use the element data from the array it is taking from, which is fine for simple types (like Int64) but for complex types like timestamps the timezone information is lost.

[2021-12-16 02:06] chadbrewbaker commented on #1043
TIL
[code]

[2021-12-16 04:48] chadbrewbaker commented on #1043
I bisected the 1e-15 conversion regression down to this changeset between nightlies.

https://github.com/rust-lang/rust/compare/1af55d19c...efd048394

[2021-12-16 09:20] Urgau commented on #1043
From your range of commit you can see that there is a commit named [Automatic exponential formatting in Debug](https://github.com/rust-lang/rust/commit/8731d4dfb479914a91f650f4f124528e332e8128) that added an internal logic that switch to the exponential representation in some cases when using the `Debug` formatter.
Rust make no promises about `Debug` formatting and can change it's output anytime f

[2021-12-16 14:04] alamb opened #1047 "Add `Scalar` / `Datum` support to compute kernels"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

When implementing analytics, users often want to do operations like `array` + `constant` or `array + array`

The Rust implementation of Arrow is strongly typed 🙌  , including the [compute kernels](https://docs.rs/arrow/6.4.0/arrow/compute/kernels/index.html), but often data is passed around i

[2021-12-17 04:16] bjchambers opened #1049 "Take on strings incorrect on slices"
**Describe the bug**

[code]

[code]

**To Reproduce**

See test. It looks like the null bits aren't being properly shifted when used in the take kernel.

**Expected behavior**

Test passes.

**Additional context**
Add any other context about the problem here.

[2021-12-17 11:20] #1045 closed

[2021-12-17 16:40] tustvold opened #1051 "BooleanBufferBuilder produces Buffers with Incorrect Length"
**Describe the bug**

If you create a `BooleanBufferBuilder` with a non-zero capacity, the produced `Buffer` will have that `capacity / 8` as the length. Even if you don't write that many bits to the buffer

**To Reproduce**

[code]

**Expected behavior**

The buffer length should match the amount of data written to it

**Additional context**
Add any other context about the problem here.

[2021-12-17 17:02] tustvold opened #1053 "Parquet Fuzz Tests"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

Whilst working on #1037 I've introduced bugs that have then been caught by the arrow array benchmarks.

It would therefore appear that these tests are exercising code paths not found in the other tests, and we could therefore increase the test coverage by including some variant of them.

**De

[2021-12-17 19:06] chadbrewbaker commented on #1049
I looked into this last night. The code is crazy complex.

At the small end composing permutations/transformations over null free u8 could be SIMD specialized. At the large end there need to be tests on worst case buffer explosion. Probably need to bring in https://docs.rs/proptest/latest/proptest/

[2021-12-18 02:25] corneliusroemer opened #1059 "Allow csv reader builder to do schema inference even when reading csv from stdin"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
I would like to stream 100+GB of SARS-CoV-2 sequence data into .parquet with zstd compression (works really well on these sequences)

I would like to do this without having to hard-code the schema, for example through a CLI like https://github.com/domoritz/csv2parquet/blob/main/src/main.rs

Ho

[2021-12-18 04:47] domoritz commented on #1059
Is this related to https://github.com/apache/arrow-rs/issues/189?

[2021-12-18 05:55] jorgecarleitao commented on #1059
I think that this may be achieved with the current code with a generic struct over `R: Read` that wraps a `reader: R` that

1. implements `Read` and buffers the result.
2. implements `Seek` to positions smaller than the buffer (and panics otherwise)
3. when the read happens over the buffered result, it reads first from the buffer up to the length of the buffered result, and then from the inner rea

[2021-12-18 07:46] corneliusroemer commented on #1059
@jorgecarleitao I agree that implementing a custom `seekable` `Reader` would be necessary to solve this without dropping the `seekable` requirement. But I'm not sure your suggestion is the way forward since we shouldn't read all of `stdin` into memory. Memory is even scarcer than storage.

If you have 1TB uncompressed that compresses to 1GB. I can uncompress the 1GB to storage, then read it in wit

[2021-12-18 08:57] jorgecarleitao commented on #1059
Sorry that I did not express myself very well. I meant something like this:

[code]

I.e. when we do not have seek and need to use data from a `Read` more than once, we can store it in a buffer and use it whenever it is requested (via `seek` to the back + `read`). This idiom uses as little memory as we need to store in a non-seek environment, namely the data that needs to be used twice (once for i

[2021-12-18 13:41] domoritz commented on #1059
Could we use the buffered reader from the standard library if it had a way to set the buffer size?

[2021-12-19 13:14] enjalot opened #1060 "csv reader does not detect ISO date strings as timestamps"
**Describe the bug**
If a column has dates like "2021-12-19 13:12:30.921" they are not treated as dates/timestamps by the reader (unlike in other clients like python or javascript)

**To Reproduce**
I ran into this trying to run csv2parquet on a csv with dates formatted as above
https://github.com/domoritz/csv2parquet

**Expected behavior**
Expect to get TIMESTAMP values

[2021-12-19 16:39] chadbrewbaker commented on #1049
I think I narrowed the bug to this function:
https://github.com/apache/arrow-rs/blob/99b7d01103495607932343146c973b6fba0eb8d5/arrow/src/compute/kernels/take.rs#L621

and this block of code:

https://github.com/apache/arrow-rs/blob/99b7d01103495607932343146c973b6fba0eb8d5/arrow/src/compute/kernels/take.rs#L694-L720

[2021-12-19 20:37] chadbrewbaker commented on #1053
After thinking about this for a week - I'm inclined to start driving with [ Arrow Python/Hypothesis](https://github.com/apache/arrow/blob/master/python/pyarrow/tests/strategies.py)  and [Python Parquet tests](https://github.com/apache/arrow/tree/master/python/pyarrow/tests/parquet) then gradually add Proptest. AWS Labs has the [best proptest examples](https://github.com/search?q=org%3Aawslabs+prop

[2021-12-19 21:51] tustvold opened #1061 "RleDecoder Inline Buffer"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**

`RleDecoder` has an buffer inlined within the struct [here](https://github.com/apache/arrow-rs/blob/99b7d01103495607932343146c973b6fba0eb8d5/parquet/src/encodings/rle.rs#L322). This is perhaps surprising as it results in a struct that is 4Kb in size, with all the implications that has for the

[2021-12-20 01:41] corneliusroemer opened #1064 "Docs: Improve clarity by rewriting 'Any' -> 'All unless overwritten'"
**Describe the bug**
In the parquet documentation, the following word choice (using *any*) is common:

https://github.com/apache/arrow-rs/blob/99b7d01103495607932343146c973b6fba0eb8d5/parquet/src/file/properties.rs#L347

I don't think this is the clearest, most unambiguous word to use here.

I think that the meaning intended is: "Sets max statistics for _all_ columns (or _every_ column)"

Any is s

[2021-12-20 01:42] novemberkilo commented on #1036
@nevi-me @alamb I started with `json2parquet` and found the shape of the RecordBatch that corresponded to `{"emptylist": []}`. This then guided me to writing the test that I've committed for now. I get the same panic and error message so I think I am on the right track. Any suggestions for where the actual fix might be? I'm spelunking around but if either of you (or anyone else familiar with the c

[2021-12-20 02:06] corneliusroemer commented on #1059
Thanks @jorgecarleitao. I'm a beginner at Rust so please bear with me. How do you decide how big the buffer will get? Will all of the input be read into this buffer?

Does your code allow to release the buffer once schema inference has been completed? That's how it would be best: read into memory until schema inference is done, then release. Schema inference options would determine how much is rea

[2021-12-20 06:14] jorgecarleitao commented on #1059
No worries, we are all learning :)

I think we can't: a single CSV line can be megabytes long. Part of parsing CSV is deciding how much bytes are needed per "cell" (row, column).

The code above allocates for as long as the inference requires them (so, driven by the number of lines for inference + size of first lines in the specific CSV).

Not sure I understood: isn't it the idea that we want to b

[2021-12-20 13:28] #1051 closed

[2021-12-20 14:41] #732 closed

[2021-12-20 14:50] alamb opened #1065 "Incorrect Numeric operations on MONTH_DAY_NANO interval type"
**Describe the bug**
Pointed out by @jorgecarleitao  and @b41sh  on https://github.com/apache/arrow-rs/pull/779#discussion_r763641073

**To Reproduce**
Do a numerical operation on two arrays of `MonthDayNano` type (for example add or subtract them). The arithmetic will be performed directly on the `i128` representation rather than field by field

**Expected behavior**
The intervals should be calcu

[2021-12-20 14:54] alamb opened #1066 "Incorrect Sorting operations on MONTH_DAY_NANO interval type #1065"
**Describe the bug**
As pointed out by @jorgecarleitao  and @b41sh  on https://github.com/apache/arrow-rs/pull/779#discussion_r763640120

**To Reproduce**
Try and sort a `MonthDayNano` array and the ordering will likely be incorrect

For example two rows like `(month, days, nanos)` will be sorted
[code]

Even though the second row has 100 days and is longer than the first (a single month)

**Expec

[2021-12-20 14:56] alamb opened #1067 "Remove the `integration-testing/unskip.patch` file"
Context from @b41sh  -- https://github.com/apache/arrow-rs/pull/779#issuecomment-989605395

This file is a local change that is applied to the overall arrow integration tests. Once the upstream arrow pr https://github.com/apache/arrow/pull/11238 has been merged, we will not have to apply this patch anymore in arrow.

This ticket tracks removing it

[2021-12-20 16:07] alamb opened #1068 "Implement into `IntoArrowNumericType ` trait"
**Is your feature request related to a problem or challenge? Please describe what you are trying to do.**
We are trying to implement more generic "scalar" kernels -- see discussion on https://github.com/apache/arrow-rs/pull/984

If one wants to call [`eq_scalar`](https://docs.rs/arrow/6.4.0/arrow/compute/kernels/comparison/fn.eq_scalar.html) on a `PrimtiveArray`,

[code]

In this case, since the d

[2021-12-20 16:30] alamb opened #1069 "Arrow comparison `LIKE`/`ILIKE`/`NLIKE` kernels do not escape all special characters"
**Describe the bug**

Characters such as `[` and `.` are sometimes treated as regular expressions rather than literals in regular expressions

The arrow regular expression kernels such as `like_utf8` https://github.com/apache/arrow-rs/blob/master/arrow/src/compute/kernels/comparison.rs#L311-L323 take limited SQL style string matching patterns (e.g. `%`).

However, under the covers a regular expres

[2021-12-20 16:31] alamb commented on #1069
@jwdeitch  suggests the use of `escape` here: https://github.com/apache/arrow-rs/pull/1042#discussion_r768188149

[2021-12-20 16:32] alamb commented on #1069
Fixing this bug is likely a matter of using the code suggested by @jwdeitch  and writing some tests. 🙏  thank you to whoever picks it up

[2021-12-20 16:46] #1061 closed

[2021-12-20 16:48] #1014 closed

[2021-12-20 21:18] tustvold opened #1071 "Offset Validation Nulls"
**Describe the bug**

ArrayDataBuilder performs various validation of the offsets array. In particular, it validates that offsets are monotonically increasing and within the bounds of the values array.

However, it is my understanding that nulls can have arbitrary offsets and so I think this might be overly strict?

**To Reproduce**

[code]

**Expected behavior**

I would expect this to not error,

[2021-12-20 21:23] tustvold opened #1072 "String Comparison Kernels Non-Monotonic Offset Panic"
**Describe the bug**

The string comparison kernels panic if they encounter non-monotonic offsets, even if the values for which they are encountered are null. Currently `ArrayDataBuilder`'s validation catches such arrays, however, I think this is actually a bug (#1071) as I don't think the arrow specification forbids nulls from having arbitrary offsets. I encountered this whilst working on a parqu

[2021-12-20 22:22] alamb commented on #1071
I am not 100% sure if supporting non monotonic offsets is something we want to fix to be honest.  My rationale is if the offsets are monotonic, all arrays with offsets can calculate length as `offsets[i] - offsets[i-1]` which has better failure properties than if we ended up doing stuff like `0 - 32` or something because the offset had been left unset

Thus

Also for fun, I checked @jorgecarleitao